<h2 class="center">Current bid:</h2>
<p class="current-bid-amount center"><%= @auction.highlighted_bid_amount_as_currency %></p>
<% if @auction.user_is_winning_bidder?(current_user) %>
  <h3 class="center">You are currently the winning bidder.</h3>
<% elsif @auction.bids.any? %>
  <h3 class="center">You are currently <b>not</b> the winning bidder.</h3>
<% else %>
  <p class="current-bid-amount center">No bids yet.</p>
<% end %>
