<% if @view_model.auction_won? %>
  <%= render partial: "auctions/multi_bid/auction_status" %>
<% else %>
  <span class="bid-amount">
    <%= @auction.user_bid_amount_as_currency(current_user) %>
  </span>
<% end %>
