---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-bids-placed">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  {% include my-account-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>Bids placed</h1>
      <div class="boilerplate">
        <p>This place is blank because you&rsquo;ve yet to bid on an auction. Peruse our list of <a href="{{site.baseurl}}/">coming soon and open auctions</a> to find one that interests you.</p>
      </div>
      <table>
        <thead>
          <tr>
            <td class="col-title">Auction</td>
            <td class="col-bid">Bid</td>
            <td class="col-closing">Closing date</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
            <td class="col-bid">$450</td>
            <td class="col-closing"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
            <td class="col-bid">$1337</td>
            <td class="col-closing"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
            <td class="col-bid">$1337</td>
            <td class="col-closing"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
            <td class="col-bid">$500</td>
            <td class="col-ending"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
          </tr>
        </tbody>
      </table> 
      {% include pagination.html %}
    </div>
  </main>
  {% include site-footer.html %}
</body>