---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-docs">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1 class="page-title">Docs</h1>
      <p class="introduction">A collection of handy articles to help you get up and running.</p>
      <section id="vendors">
        <h1>Vendors</h1>
        <p>Some microcopy to help people determine if they're a vendor.</p>
        <ul>
          <li>Getting started</li>
          <li>Placing a bid</li>
          <li>Getting paid</li>
        </ul>
      </section>
      <section id="customers">
        <h1>Customers</h1>
        <p>Some microcopy to help people determine if they're a customer.</p>
        <ul>
          <li>Getting started</li>
          <li>Issuing payment</li>
          <li>Something else</li>
        </ul>
      </section>        
      <section id="everyone">
        <h1>Everyone</h1>
        <ul>
          <li>How it works</li>
          <li>Browsing auctions</li>
          <li>Keeping track of auctions</li>
          <li>Our API</li>
        </ul>
      </section>        
    </div>
  </main>
  {% include site-footer.html %}
</body>