---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-docs layout-docs-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1 class="page-title">Docs</h1>
      <p class="introduction">A collection of handy articles to help you get up and running. We also recommend reading our <a href="{{site.baseurl}}/policies">policies</a> page.</p>
      <section id="vendors">
        <h1>Vendors</h1>
        <p>Articles for those who want to get paid to work on open source software projects.</p>
        <ul>
          <li><a href="{{site.baseurl}}/docs/placing-a-bid">Placing a bid</a></li>
          <li><a href="{{site.baseurl}}/docs/getting-paid">Getting paid</a></li>
        </ul>
      </section>
      <section id="customers">
        <h1>Customers</h1>
        <p>Articles for those who want to solicit contributions to open source software projects.</p>
        <ul>
          <li><a href="{{site.baseurl}}/docs/getting-started">Getting started</a></li>
          <li><a href="{{site.baseurl}}/docs/creating-an-auction">Creating an auction</a></li>
        </ul>
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>