---
excerpt: none
---
{% include head.html %}
<body class="no-js">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1>Getting paid</h1>
      <p>18F&rsquo;s Micro-purchase Platform gives vendors the flexibility to choose the payment processor that works best for them. There are a number of options are available &mdash; including <a href="https://squareup.com/">Square Cash</a> and <a href="https://stripe.com/docs/checkout/tutorial">Stripe</a> &mdash; but all we really need is a place to enter our credit card information! This is your <strong>Payment URL.</strong></p>
      <p>To specify or update your Payment URL, simply visit your <a href="{{site.baseurl}}/my-account/profile">profile</a>. We&rsquo;ll issue payment against it whenever you win an auction and meet its acceptance criteria before the delivery deadline.</p>
      <p>PS: One of our community members wrote a handy app to <a href="https://github.com/cwarden/pay">deploy a Stripe payment form via Heroku</a>. Also, please <a href="https://docs.google.com/a/gsa.gov/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1">let us know</a> if you&rsquo;re interested in using PayPal to accept payments.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>