---
excerpt: none
permalink: /
---

{% include head.html %}
<body class="no-js layout-home">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <header role="banner">
      <div class="wrapper">
        <p>
          The place to bid on 18F&rsquo;s open-source development opportunities.
          <a href="#">Learn more</a>
        </p>
      </div>
    </header>
    <div class="h-feed">
      <div class="wrapper">
        <header class="h-feed-header">
          <h1 class="p-title">Auctions</h1>
          <form>
            <h1>Filter</h1>
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" checked>
                <span class="label-text">Show closed auctions</span>
              </label>
            </div>
            <div class="field field-checkbox">
              <label>
                <input type="checkbox" checked>
                <span class="label-text">Show sealed auctions</span>
              </label>
            </div>
          </form>
          <nav>
            <h2>Sort by</h2>
            <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">Agency</a></li>
              <li><a href="#">Project</a></li>
              <li><a href="#">Time remaining</a></li>
              <li><a href="#">Current bid</a></li>
            </ul>
          </nav>
        </header>
        {% include _auction.html %}
        {% include _auction.html %}
        {% include _auction.html %}
        {% include _auction.html %}
      </div>
    </div>
  </main>
  {% include site-footer.html %}
</body>