---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-my-auctions">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>My auctions</h1>
      <p>A collection of auctions you&rsquo;ve bid on, auctions you&rsquo;ve starred, auctions you&rsquo;ve won, and auctions for which you&rsquo;re waiting to receive payment.</p>
      <table>
        <thead>
          <tr>
            <td class="col-title">Title</td>
            <td class="col-ending">Ending</td>
            <td class="col-status">Status</td>
            <td class="col-actions">Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
            <td class="col-ending">2 days ago</td>
            <td class="col-status">You won!</td>
            <td class="col-actions">Issue pull request</td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
            <td class="col-ending">22 hours</td>
            <td class="col-status">You have the low bid.</td>
            <td class="col-actions">None</td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
            <td class="col-ending">7/25/2016</td>
            <td class="col-status">You've been outbid!</td>
            <td class="col-actions">Place bid</td>
          </tr>
          <tr>
            <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Something wicked this way comes</a></td>
            <td class="col-ending">7/26/2016</td>
            <td class="col-status">Bid placed</td>
            <td class="col-actions">None</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  {% include site-footer.html %}
</body>