---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-people-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>People</h1>
      <section>
        <h1>Admins</h1>
        <a href="{{site.baseurl}}/people/new-admin/" class="button">Add new</a>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-github-id">GitHub ID</td>
              <td class="col-contracting-officer"><abbr title="Contracting officer">CO</abbr></td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-name">Whosit Whatshisface</td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-github-id">1111</td>
              <td class="col-contracting-officer">True</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
            </tr>
            <tr>
              <td class="col-name">Alan DeLevie</td>
              <td class="col-email-address">alan.delevie@gsa.gov</td>
              <td class="col-github-id">1234</td>
              <td class="col-contracting-officer col-contracting-officer-false">False</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
            </tr>
            <tr>
              <td class="col-name">Michael Torres</td>
              <td class="col-email-address">michael.torres@gsa.gov</td>
              <td class="col-github-id">4395</td>
              <td class="col-contracting-officer col-contracting-officer-false">False</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
            </tr>
            <tr>
              <td class="col-name">Whosit Whatshisface</td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-github-id">5555</td>
              <td class="col-contracting-officer">True</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h1>Customers</h1>
        <a href="{{site.baseurl}}/people/new-customer/" class="button">Add new</a>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-agency">Agency</td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr class="primary-contact">
              <td class="col-name">Whosit Whatshisface <abbr title="Primary contact">*</abbr></td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-agency">General Services Administration</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-customer/">Edit</a></td>
            </tr>
            <tr>
              <td class="col-name">Whosit Whatshisface </td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-agency">General Services Administration</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-customer/">Edit</a></td>
            </tr>
            <tr>
              <td class="col-name">Whosit Whatshisface </td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-agency">General Services Administration</td>
              <td class="col-actions"><a href="{{site.baseurl}}/people/new-customer/">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="people-vendors">
        <h1>Vendors</h1>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-github-id">GitHub ID</td>
              <td class="col-duns-number">DUNS #</td>
              <td class="col-sam-status">SAM status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
            <tr>
              <td class="col-name"><a href="{{site.baseurl}}/people/show">Whosit Whatshisface</a></td>
              <td class="col-email-address"><a href="{{site.baseurl}}/people/show">who.is@gsa.gov</a></td>
              <td class="col-github-id"><a href="{{site.baseurl}}/people/show">1</a></td>
              <td class="col-duns-number"><a href="{{site.baseurl}}/people/show">12-34-567</a></td>
              <td class="col-sam-status col-sam-status-verified"><a href="{{site.baseurl}}/people/show">Verified</a></td>
            </tr>
          </tbody>
        </table>
        <nav class="pagination">
          <a href="#" class="pagination-prev">Prev</a>
          <span class="pagination-signpost">Showing <span class="pagination-range">1 - 10</span> <span class="preposition">of</span> <span class="pagination-total">43</span> results.</span>
          <a href="#" class="pagination-next">Next</a>
        </nav>
      </section> 
    </div>
  </main>
  {% include site-footer.html %}
</body>