---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-people">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>People</h1>
      <section>
        <h1>Admins</h1>
        <a href="{{site.baseurl}}/people/new-admin/" class="button">Add new</a>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-github-id">GitHub ID</td>
              <td class="col-contracting-officer">Contracting Officer</td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-name">Whosit Whatshisface</td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-github-id">1111</td>
              <td class="col-contracting-officer">True</td>
              <td class="col-actions">Edit</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h1>Customers</h1>
        <a href="{{site.baseurl}}/people/new-customer.html" class="button">Add new</a>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-agency">Agency</td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-name">Whosit Whatshisface</td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-agency">General Services Administration</td>
              <td class="col-actions">Edit</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h1>Vendors</h1>
        <table>
          <thead>
            <tr>
              <td class="col-name">Name</td>
              <td class="col-email-address">Email address</td>
              <td class="col-github-id">GitHub ID</td>
              <td class="col-duns-number">DUNS #</td>
              <td class="col-sam-status">SAM status</td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-name">Whosit Whatshisface</td>
              <td class="col-email-address">who.is@gsa.gov</td>
              <td class="col-github-id">1</td>
              <td class="col-duns-number">12-34-567</td>
              <td class="col-sam-status col-sam-status-verified">Verified</td>
              <td class="col-actions">Edit</td>
            </tr>
          </tbody>
        </table>
      </section> 
    </div>
  </main>
  {% include site-footer.html %}
</body>