---
excerpt: none
---
{% include head.html %}
<body class="no-js">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1>Placing a bid</h1>
      <p>18F&rsquo;s Micro-purchase Platform requires that all vendors register with SAM.gov and provide a valid DUNS number before placing a bid. This process normally takes about two weeks and involves the following steps:</p>
      <ol>
        <li>Register on SAM.gov</li>
        <li>Request a DUNS number</li>
        <li>Update your profile.</li>
      </ol>
    </div>
  </main>
  {% include site-footer.html %}
</body>