---
excerpt: none
---
{% include head.html %}
<body class="no-js">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1>Policies</h1>
      <div class="notice">
        <p>This document is presently being worked on <a href="https://docs.google.com/document/d/1vkNrA8ztkSUJWFYYH7brdg_aKB6I3vrlzc_E_eAvcKo/edit">in Google Docs</a>.</p>
      </div>
    </div>
  </main>
  {% include site-footer.html %}
</body>



