---
excerpt: none
---
{% include head.html %}
<body class="no-js">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1>Policies</h1>
      <p>Participation in the micro-purchase experiment allows individuals and vendors of all types to bid on and complete open source software work for the federal government. If you&rsquo;re interested in participating, here is some helpful information to get you ready!</p>
      <h2>Eligibility</h2>
      <ul>
        <li>Have a GitHub account.</li>
        <li>All potential bidders must have a GitHub account in order to register for the micro-purchase platform. Users will log into the platform by authenticating with their GitHub account.</li>
        <li>Register in SAM.gov.</li>  
      </ul>
      <p>SAM.gov is the federal System for Award Management (SAM). At the moment, we are only permitting companies registered in SAM.gov to actually deliver work on a micro-purchase task. In order to register with SAM, you first must have an active Data Universal Numbering System (DUNS) number and a Taxpayer Identification Number (TIN). If you do not have an active DUNS number, you may obtain one online at the Dun & Bradstreet site. This process takes one-to-two business days. If you do not have a TIN, you may complete an online application on the Tax ID site.</p>
      <p>You can learn more about SAM in their User Guide or call their help desk at 1-866-606-8220.</p>
      <h2>Source-selection method</h2>
      <p>We&rsquo;re using a reverse auction that will take place online on our Micro-purchase Platform. The person or company with the lowest bid at the end of the auction will be the winner.</p>
      <h2>Bid acknowledgement and communication</h2>
      <p>18F will contact the winning bidder within 24 hours of the end of the auction. We require a timely response to acknowledge and confirm the bid amount. The code requested in the auction will be due as explained in the requirements of each specific auction.</p>
      <p>The requirements must be delivered within the time alloted for each auction. The countdown to the deadline begins as soon as the auction ends.</p>
      <h2>Want to stay updated?</h2>
      <p>Join our email list to receive updates throughout the coming months.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>



