---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-profile">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  {% include account-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>Profile</h1>
      <form>
        <h2>Contact information</h2>
        <div class="field field-name">
          <label>
            <span class="label-text">Name</span>
            <input type="text" value="Michael Torres">
          </label>
        </div>
        <div class="field field-email">
          <label>
            <span class="label-text">Email address</span>
            <input type="email" value="michael.torres@gsa.gov">
          </label>
        </div>
        <h2>Placing a bid</h2>
        <p>Before you can bid on an auction, you&rsquo;ll need to register on SAM.gov, request a <abbr title="Data Universal Numbering System">DUNS</abbr> number, and link your SAM.gov profile with your <abbr title="Data Universal Numbering System">DUNS</abbr> number. See <a href="{{site.baseurl}}/docs/placing-a-bid">our guide for more information</a>.</p>
        <div class="field field-duns">
          <label>
            <span class="label-text"><abbr title="Data Universal Numbering System">DUNS</abbr> number</span>
            <input type="text" value="80-473-5132">
            <span class="verification-status-icon"></span>
          </label>
        </div>
        <div class="field field-duns is-verifying">
          <label>
            <span class="label-text"><abbr title="Data Universal Numbering System">DUNS</abbr> number</span>
            <input type="text" value="80-473-5132">
            <span class="verification-status-icon"></span>
            <span class="verification-status-text">Verifying</span>
          </label>
        </div>
        <div class="field field-duns is-error">
          <label>
            <span class="label-text"><abbr title="Data Universal Numbering System">DUNS</abbr> number</span>
            <input type="text" value="80-473-5132">
            <span class="verification-status-icon"></span>
            <span class="verification-status-text">Invalid</span>
          </label>
        </div>
        <div class="field field-duns is-verified">
          <label>
            <span class="label-text"><abbr title="Data Universal Numbering System">DUNS</abbr> number</span>
            <input type="text" value="80-473-5132">
            <span class="verification-status-icon"></span>
            <span class="verification-status-text">Verified</span>
          </label>
        </div>
        <div class="field field-duns is-verified">
          <label>
            <span class="label-text"><abbr title="Data Universal Numbering System">DUNS</abbr> number</span>
            <input type="text" value="80-473-5132">
            <span class="verification-status-icon"></span>
            <span class="verification-status-text">Verified small business</span>
          </label>
        </div>
        <h2>Getting paid</h2>
        <p>Before 18F can pay you, we&rsquo;ll need a location we can visit to issue payment. You can either specify a default payment URL or provide this to us whenever you win an auction. See <a href="{{site.baseurl}}/getting-paid">our guide for more information</a>.</p>

        <div class="field field-payment-url">
          <label>
            <span class="label-text">Default payment URL</span>
            <input type="text" id="payment-url" value="https://cash.me/$andrewmaier">
          </label>
        </div>
        <footer>
          <button type="submit">Update</button>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>



