---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-sign-up">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <form class="form-profile" action="{{site.baseurl}}/profile/">
        <h1>Welcome to 18F Micro-purchase</h1>
        <p>Hello, GitHub.name! It looks like you&rsquo;re new around here. Please take a moment to read the following information. This will help you make the most of the platform:</p>
        <ol>
          <li>
            <h2>How it works</h2>
            <p>We provide a really high-level overview of how things work on our about us page, but to win an auction, deliver your work, and collect payment you should really read our policies page.</p>
          </li>
          <li>
            <h2>Placing a bid</h2>
            <p>To place a bid you&rsquo;ll need to register on SAM.gov and obtain a DUNS number. If you haven&rsquo;t done either of those things before, don&rsquo;t despair! We&rsquo;ve got <a href="https://docs.google.com/document/d/1MY84cdOBvgjDIBUxMGlFDiQZ5Xb_NizwjdNsVg_oQCQ/edit">a guide for that</a>.</p>
          </li>
          <li>
            <h2>Getting paid</h2>
            <p></p>
          </li>
        </ol>
        <footer>
          <button type="submit">Got it, thanks!</button>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>



