---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-sign-up">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <form class="form-profile" action="{{site.baseurl}}/profile/">
        <h1>Welcome to 18F Micro-purchase</h1>
        <p>Hello, GitHub.name! It looks like you&rsquo;re new around here. Please take a moment to read the following information. This will help you make the most of the platform:</p>
        <ol>
          <li>
            <h2>How it works</h2>
            <p>We provide an overview of how things work on our <a href="{{site.baseurl}}/profile">about page</a>, but some of the specific aspects of winning an auction, delivering work, and collecting payment are covered on our <a href="{{site.baseurl}}/policies">policies</a> page.</p>
          </li>
          <li>
            <h2>Placing a bid</h2>
            <p>To place a bid you&rsquo;ll need to register on SAM.gov and obtain a DUNS number. If you haven&rsquo;t done either of those things before, don&rsquo;t despair! We&rsquo;ve got <a href="{{site.baseurl}}/docs/placing-a-bid">a guide for that</a>.</p>
          </li>
          <li>
            <h2>Getting paid</h2>
            <p>You&rsquo;re probably going to want to get paid for your awesome work. Here&rsquo;s <a href="{{site.baseurl}}/docs/getting-paid">a short guide</a> on how to do that.</p>
          </li>
        </ol>
        <footer>
          <button type="submit">Got it, thanks!</button>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>



