---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-sign-up layout-sign-up-step-1">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <form class="form-profile" action="{{site.baseurl}}/profile/">
      <h1>Welcome to 18F Micro-purchase</h1>
      <p>Hi, GitHub.name, it looks like you&rsquo;re new around here! To finish your registration, please confirm your contact information and agree to our terms of service:</p>
      <div class="field field-name">
        <label>
          <span class="label-text">Name</span>
          <input type="text">
        </label>
      </div>
      <div class="field field-email">
        <label>
          <span class="label-text">Email address</span>
          <input type="email">
        </label>
      </div>
      <h2>Terms of service</h2>
      <div class="terms">
        <p>None of the content in this GitHub repository is considered proprietary or procurement-sensitive information. Furthermore, all users who submit bids consent to the publication of their GitHub usernames, DUNS numbers, and bid amounts following the conclusion of the bidding process. Bidders&rsquo; email addresses will not be disclosed and will only be used for micro-purchase-related communication on an as-needed basis.</p>
        <p>In order to bid, all users must be listed as &ldquo;Active&rdquo; in SAM.gov on the day the auction opens. The process for SAM.gov activation may take several days, and we encourage interested vendors to sign up at least one week prior to bidding. To check your status with SAM.gov, you may use the SAM Status Tracker. If you need help with SAM.gov, call the toll-free SAM.gov Help Desk: 1-866-606-8220.</p>
        <p>This platform is the primary method of bidding on micro-purchase opportunities. Vendor organizations may have multiple user accounts registered on this micro-purchase platform and on GitHub, as well as associated with each vendor and the vendor&rsquo;s DUNS number. Furthermore, vendors may register as either individuals or businesses on SAM.gov. Please file a GitHub issue in this repo if you have any questions.</p>        
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">I agree to these terms</span>
        </label>
      </div>
      <footer>
        </aside>
        <button type="submit">Register</button>
        <a href="#">Do this later</a>
      </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>



