---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-sign-in">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <section>
        <h1>Sign in</h1>
        <p>18F&rsquo;s Micro-purchase Platform uses GitHub to </p>
        <a href="{{site.baseurl}}/">Authorize with GitHub</a>
      </section>
      <section>
        <h1>Sign up</h1>
        <p>Don't yet have an account? No worries. Before you can bid on an auction you'll need participating in this marketplace, you&rsquo;ll need to:</p>
        <ol>
          <li>Register your company with <a href="https://SAM.gov">SAM.gov</a></li>
          <li>Obtain a <a href="#">DUNS number</a>.</li>
          <li>Have a <a href="#">GitHub</a> account.</li>
        </ol>
      <p>Once you&rsquo;re ready, you can sign in using your GitHub account. Only public account information will be requested. If you encounter any issues, let us know at <a href="">micropurchase@gsa.gov</a>. </p>     
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>