---
excerpt: none
---
{% include head.html %}
<body class="no-js layout-sign-in">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="page" role="main" id="main">
    <div class="wrapper">
      <h1>Terms of service</h1>
      <p>Once you&rsquo;re ready, you can sign in using your GitHub account. Only public account information will be requested. If you encounter any issues, let us know at <a href="">micropurchase@gsa.gov</a>. </p>     
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>