<li class="nav-link">
  <%= link_to 'People', admin_admins_path %>
</li>
<li class="nav-link">
  <%= link_to 'Settings', admin_customers_path %>
</li>
<li class="nav-link">
  <%= link_to 'Auctions', admin_auctions_path %>
</li>
