<div class="usa-disclaimer">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <span class="usa-disclaimer-official">
        <%= image_tag 'uswds/us_flag_small.png', class: 'usa-flag_icon', alt: "US flag signifying that this is a United States Federal Government website" %>
        An official website of the United States Government
      </span>
    </div>
  </div>
</div>
