<% if request.path != '/sign_in' %>
  <li class="nav-link sign-in">
  Use your GitHub account to
  <%= link_to 'Sign in', '/auth/github' %>
  or
  <%= link_to 'Sign up', '/auth/github' %>
  </li>
<% end %>
