<% if request.path != '/login' %>
    <ul class="nav">
      <li class="nav-link sign-in">
        <%= link_to 'Sign in', login_path %>
        or
        <%= link_to 'Sign up', login_path %>
      </li>
    </ul>
<% end %>
