<drawer class="usa-width-one-fourth drawer" aria-hidden="true">
  <button class="fa fa-close" data-drawer-toggle="close"></button>

  <ul class="drawer-menu">
    <li class="drawer-menu-item">
    <h3>Profile</h3>
    <ul class="drawer-submenu">
      <%= render partial: current_user.decorate.mobile_nav_partial %>
    </ul>
    </li>
    <hr>
    <li class="drawer-menu-item">
    <%= link_to 'About',
      'https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/' %>
    </li>
    <li class="drawer-menu-item">
    <%= link_to 'Feedback',
      'https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1' %>
    </li>
    <li class="drawer-menu-item">
    <%= link_to 'Policies',
      faq_path %>
    </li>
  </ul>
</drawer>
