<header class="usa-site-header" role="banner">
  <%= render partial: 'components/disclaimer' %>
  <nav class="usa-site-navbar">
    <div class="usa-grid header-table">
      <div class="logo header-row" class="logo">
        <a class="header-home-link" href="/" accesskey="1" title="Home" aria-label="Home">
          <div class="header-image">
            <%= image_tag '18F-Logo-2016-Blue.svg', alt: '18f-logo' %>
          </div>
          <h1 class="header-title-text">
            <%= title ||= "Micro-purchase" %>
          </h1>
        </a>
        <button class="button-nav-drawer" class="usa-button usa-button-outline-inverse" data-drawer-toggle="menu">
          <span class="fa fa-bars"></span>
        </button>

        <div class="header-account">
          <%= render partial: current_user.decorate.nav_drawer_partial,
            locals: { current_user: current_user } %>
        </div>
      </div>
    </div>
  </nav>
</header>
