<%= render partial: 'components/disclaimer' %>

<header class="header">
<div class="usa-grid">
  <div class="usa-grid-one-half icon">
    <%= link_to root_path do %>
      <div class="title">
        <%= title ||= 'Micro-purchase' %> <span class="usa-label label-beta">Beta</span>
        <div class="subtitle">A marketplace for open source work</div>
      </div>
    <% end %>
  </div>

  <div class="usa-grid-one-half" >
    <nav class="header-side">
      <ul class="nav">
        <%= render partial: current_user.decorate.nav_drawer_partial %>
      </ul>
    </nav>
  </div>
</div>
</header>
