<%= render partial: 'components/disclaimer' %>
<header class="header">
<div class="usa-grid">
  <div class="header-wrap">
    <div class="usa-grid-one-half">
      <div class="header-title">
        <a href="/" class="logo" title="Home">
          <div class="logo">
            <%= image_tag '18F-Logo-2016-Blue.svg', alt: '18f-logo', class: 'logo-img' %>
            <div class="title-wrapper">
              <div class="title">Micro-purchase</div>
              <div class="subtitle">A marketplace for the federal government’s open source projects</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="usa-grid-one-half">
      <nav class="header-side">
        <%= render partial: current_user.decorate.nav_drawer_partial,
          locals: { current_user: current_user } %>
      </nav>
    </div>
  </div>
</div>
</header>
