<div class="usa-alert usa-alert-info" role="alert">
 <div class="usa-alert-body">
   <h3 class="usa-alert-heading">Please Login to Place Bid</h3>
   <p class="usa-alert-text">To place a bid, you must first be a <a href="<%= login_path %>">registered bidder</a>.</p>
 </div>
</div>
