<footer class="usa-footer usa-footer-large usa-sans" role="contentinfo">
  <div class="footer-wrapper">
    <div class="usa-grid">
      <a class="footer-home-link" href="/" accesskey="1" title="Home" aria-label="Home">
        <div class="usa-footer-logo">
          <%= image_tag "18F-Logo-2016-Blue.svg", class: 'footer-image', alt: 'Logo image' %>
          <h1 class="footer-title-text">Micropurchase</h1>
        </div>
      </a>

      <div class="usa-footer-primary-section">
        <ul class="usa-unstyled-list">
          <li class="usa-footer-primary-link-item">
            <a class="usa-footer-primary-link" href="https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/">About</a>
          </li>
          <li class="usa-footer-primary-link-item">
            <a class="usa-footer-primary-link" href="https://docs.google.com/forms/d/15ycigLrTS7Ld4iVPgIMN-U5dMDFy6TnrHGOSkgk7qTI/viewform?c=0&w=1">Feedback</a>
          </li>
          <li class="usa-footer-primary-link-item">
            <a class="usa-footer-primary-link" href="<%= faq_path %>">Policies</a>
          </li>
          <li class="usa-footer-primary-link-item">
            <a class="usa-footer-primary-link" href="https://pages.18f.gov/micropurchase-api-docs/">API Docs</a>
          </li>
        </ul>
        <address>
          <a href="mailto:micropurchase@gsa.gov">micropurchase@gsa.gov</a>
          <a href="https://github.com/18F/micropurchase/">
            <i class="fa fa-github"></i> View Our Code on GitHub
          </a>
        </address>
      </div>
    </div>
  </div>
</footer>
