<%= render partial: current_user.decorate.nav_drawer_admin_link %>
<li class="nav-link">
  <%= link_to 'Account', profile_path %>
</li>
</li>
<li class="nav-link">
  <% if session[:auth] == "saml" %>
    <form action="/auth/saml/logout" method="POST" class="right sm-show">
        <button type="submit" class="login_logout_btn">Log out</button>
    </form>
  <% else %>
    <%= link_to 'Logout', logout_path %>
  <% end %>
</li>
<li class="nav-link">
  <%= render partial: masquerading_partial %>
</li>
