html {
  @include font-default();

  font-size: 10px;
}


ul li:before {
  display: none;
}

p,
li,
span {
  font-weight: $font-light;
  font-size: $small-font-size;
  @include media($small-screen) {
    font-size: $base-font-size;

  }
}
