html {
  font-size: 10px;
}

// body {
//     font-size: 1.8rem;
// }

// p,li,span,button {
//     font-size: 1.8rem;
// }

ul li:before {
  display: none;
}

p,
li,
span {
	font-weight: $font-light;
	font-size: $small-font-size;
  @include media($small-screen) {
    font-size: $base-font-size;

  }
}
