a,
a:visited {
  color: $links-primary;
}

a:hover,
a:focus {
  color: $links-secondary;
}

a.link-highlighted {
  background: $branding-bright;
  color: $branding-darkest;
  padding: rem(1px);
  padding-left: $border-radius;
  padding-right: $border-radius;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
