ul.usa-content-list li:before {
  content: "•";
  display: table-cell;
  padding-right: 0.4em;
}

ul.usa-numbered-list li:before {
  display: table-cell;
  padding-right: 0.4em;

}

@for $i from 1 to 12 {
  ul.usa-numbered-list li:nth-child(#{$i}) {
    &:before {
      content: "#{$i}.";
    }
  }
}


