.usa-table-borderless td {
  font-weight: $font-light;
  text-align: left;
  vertical-align: top;

  &:first-of-type {
    font-weight: $font-normal;
  }
}

.usa-table-borderless th {
  background-color: $color-white;
  vertical-align: bottom;
  text-align: left;
}

.usa-table-borderless {
  width: 100%;
}

.table-container {
  width: 100%;
  overflow: scroll;
}


// Responsive table

@media only screen and (max-width: $small-screen) {

  table#table-bids {
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  }

  table#table-bids tr {
    border-bottom: 1px solid $color-gray-neutral;
    border-top: 1px solid $color-gray-neutral;

    &:nth-child(odd) {
      background-color: $branding-light;
    }

    &:first-child {
      border-top: 2px solid $color-gray-neutral;
    }
  }

  table#table-bids thead {
    display: none;
  }

  table#table-bids td {
    border: none;
    border-bottom: 1px solid $color-gray-neutral;
    padding-left: 50%;
    position: relative;
  }

  table#table-bids td:before {
    display: inline-block;
    font-weight: $font-bold;
    left: 15px;
    padding-right: 10px;
    position: absolute;
    white-space: nowrap;
    width: 45%;
  }


  table#table-bids {
    td:nth-of-type(1):before { content: "Bidder"; }
    td:nth-of-type(2):before { content: "DUNS"; }
    td:nth-of-type(3):before { content: "Amount"; }
    td:nth-of-type(4):before { content: "Date (EST)"; }
  }
}
