.usa-table-borderless td {
  font-weight: $font-light;
  text-align: left;
  vertical-align: top;

  &:first-of-type {
    font-weight: $font-normal;
  }
}

.usa-table-borderless th {
  vertical-align: bottom;
  text-align: left;
}


.usa-table-borderless {
  width: 100%;
}

.table-container {
  width: 100%;
  overflow: scroll;
}


// Responsive table

@media only screen and (max-width: $small-screen) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  tr {
    border-bottom: 1px solid $color-gray-neutral;
    border-top: 1px solid $color-gray-neutral;

    &:nth-child(odd) {
      background-color: $branding-light;
    }

    &:first-child {
      border-top: 2px solid $color-gray-neutral;
    }
  }

  table thead {
    display: none;
  }

  table td {
    border: none;
    border-bottom: 1px solid $color-gray-neutral;
    padding-left: 50%;
    position: relative;
  }

  table td:before {
    display: inline-block;
    font-weight: $font-bold;
    left: 15px;
    padding-right: 10px;
    position: absolute;
    white-space: nowrap;
    width: 45%;
  }


  table#table-bids {
    td:nth-of-type(1):before { content: "Bidder"; }
    td:nth-of-type(2):before { content: "DUNS"; }
    td:nth-of-type(3):before { content: "Amount"; }
    td:nth-of-type(4):before { content: "Date (EST)"; }
  }

  // TODO: fine tune responsive tables on admin-side
  // table#table-drafts,
  // table#table-auctions-action {
  //   td:nth-of-type(1):before { content: "Title"; }
  //   td:nth-of-type(2):before { content: "Delivery Deadline"; }
  //   td:nth-of-type(3):before { content: "Delivery URL"; }
  //   td:nth-of-type(4):before { content: "Result"; }
  //   td:nth-of-type(5):before { content: "CAP URL"; }
  //   td:nth-of-type(6):before { content: "Paid?"; }
  // }

  // table#table-admins {
  //   td:nth-of-type(1):before { content: "Name"; }
  //   td:nth-of-type(2):before { content: "Email"; }
  //   td:nth-of-type(3):before { content: "DUNS Number"; }
  //   td:nth-of-type(4):before { content: "In SAM.gov?"; }
  //   td:nth-of-type(5):before { content: "GitHub ID"; }
  // }

  // table#table-admins-auction {
  //   td:nth-of-type(1):before { content: "Auction"; }
  //   td:nth-of-type(2):before { content: "Auction type"; }
  //   td:nth-of-type(3):before { content: "Auction running?"; }
  //   td:nth-of-type(4):before { content: "Amount"; }
  //   td:nth-of-type(5):before { content: "Winning bid?"; }
  //   td:nth-of-type(6):before { content: "Auction start time"; }
  //   td:nth-of-type(7):before { content: "Auction end time"; }
  //   td:nth-of-type(8):before { content: "Auction delivery deadline"; }
  // }
}
