h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: $font-normal;
}

label {
	font-weight: $font-normal;
}

input {
	font-weight: $font-light;
}
