$color-green: #2e8540;
$color-primary: #0071bc;
$color-primary-darker: #205493;
$color-primary-alt: #02bfe7;
$color-primary-alt-darkest: #046b99;
$color-primary-alt-lightest: #e1f3f8;
$color-gray: #f1f1f1;
$gray-cool-light: #dce4ef;
$color-gray-dark: #323a45;
$color-secondary-dark: #cd2026;
$color-gold: #fdb81e;
$color-cool-blue: #205493;
$color-purple: #4c2c92;
$color-white: #ffffff;
$color-gray-neutral: #cccccc;

// 18f Branding
$branding-black: #000000;
$branding-darkest: #1C304A;
$branding-medium: #046B99;
$branding-bright: #00CFFF;
$branding-light: #B3EFFF;

$primary-darkest: $branding-darkest;
$default-color: $branding-black;
// $color-secondary-dark: $branding-medium;


$links-primary: $branding-darkest;
$links-secondary: $branding-medium;

// Typography
$font-light: 200;
$font-normal: 400;
$font-bold: 600;


// Padding
$base-padding: 1.25em;
$base-padding-lite: 0.42em;


// $base-font-size:      rem(17px);
// $small-font-size:     rem(14px);
// $lead-font-size:      rem(20px);
// $title-font-size:     rem(52px);
// $h1-font-size:        rem(40px);
// $h2-font-size:        rem(30px);
// $h3-font-size:        rem(20px);
// $h4-font-size:        rem(17px);
// $h5-font-size:        rem(15px);
// $h6-font-size:        rem(13px);
