$color-purple: #4c2c92;
$color-purple-pale: #b1cffe;
$color-gray-neutral: #cccccc;

// 18f Branding
$branding-black: $color-black;
$branding-darkest: #2d3f5b;
$branding-medium: $color-primary-alt-darkest;
$branding-bright: #00CFFF;
$branding-light: #B3EFFF;
$primary-darkest: $branding-darkest;
$default-color: $branding-black;
$links-primary: $branding-darkest;
$links-secondary: $branding-medium;

// Typography
$font-light: 300;
$font-bold: 600;

// Padding
$base-padding: 1.25em;
$base-padding-lite: 0.42em;
$base-padding-large: 2.85em;

// Logo
$logo-18f: 44px;

// Magic numbers
$round-border-radius: 999em;
$negative-grid-margins: -3rem;
