
<h1>My Bids</h1>

<a href="/">« Back to open issues</a>

<div class="table-container">
  <table class="usa-table-borderless table-open-issue-list">
    <tbody>
      
      <tr>
        <td scope="row"><img src="/assets/img/issue-icon.png" alt="issue-icon" class="issue-icon" /></td>
        <td>
          <h1>Create README</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum pharetra felis, in consectetur tortor semper sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget metus libero. Proin commodo faucibus arcu vel cursus.</p>
        </td>
        <td class="table-bids">
          <p>Current Bid:</p>
          <p>$1,000</p>
          <hr>
          <p>My Bid:</p>
          <p>$1,000</p>
          <hr>
          <p>6 hrs left</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
