<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/us-web-design-standards/css/main.css">
    <link rel="stylesheet" href="/assets/us-web-design-standards/css/google-fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>MPT 3500</title>
  </head>

  <body>

    <header class="usa-site-header" role="banner">

      <div class="usa-disclaimer">
        <div class="usa-grid">
          <div class="usa-width-one-whole">
            <span class="usa-disclaimer-official">
              <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="/assets/us-web-design-standards/img/us_flag_small.png">
              An official website of the United States Government
            </span>
          </div>
        </div>
      </div>

      <nav class="usa-site-navbar">
        <div class="usa-grid">
          <div class="usa-width-one-whole">
            <div class="logo" id="logo">
              <img src="/assets/img/18f-logo.svg" alt="18f-logo" width="50" />
              <a href="/" accesskey="1" title="Home" aria-label="Home">MPT3500</a>

              <div class="header-account">
                <% if @current_user %>
                  <span>Logged in as <%= @current_user.name %></span>
                  <a href="/logout"><button class="usa-button-outline-inverse">Logout</button></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </header>

    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <%= yield %>
      </div>
    </div>

    <footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
      <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
      </div>

      <div class="usa-footer-secondary_section">
        <div class="usa-grid">
          <div class="usa-footer-logo">
            <img class="usa-footer-slim-logo-img" src="/assets/img/18f-logo.svg" alt="Logo image">
            <h3 class="usa-footer-slim-logo-heading">18F</h3>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/us-web-design-standards/js/vendor/jquery-1.11.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/designstandards/assets/js/vendor/selectivizr-min.js"></script>
    <script src="/designstandards/assets/js/vendor/respond.js"></script>
    <script src="/designstandards/assets/js/vendor/rem.min.js"></script>
    <![endif]-->
    <script src="/assets/us-web-design-standards/js/components.js"></script>
  </body>
</html>
