
<div style="padding-left: 25%; float: center; width: 100%; text-align: center">

<form class="usa-form-large" action="https://gsa.us9.list-manage.com/subscribe/post?u=6f1977de9eff4c384dc8d6527&amp;id=e7f757afe3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <fieldset>
    <legend class="usa-drop_text">Subscribe to the 18F Micropurchase Email list</legend>
    <label for="EMAIL">Email</label>
    <input style="display: inline-block" type="email" value="" name="EMAIL" id="mce-EMAIL">
    <input style="display: inline-block" type="submit" value="Subscribe" name="subscribe">
  </fieldset>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
</form>

</div>
