<% content_for :hero do %>
  <div class="center">
    <h2>Welcome to 18F's Micro-Purchasing Marketplace</h2>

    <p>
      <a href="">Learn more »</a> or <a href="">Create an account »</a>
    </p>
 </div>
<% end %>


<div class="center">
  <p>
  We have learned a lot from our <a href="">first micro-purchase contract</a>
  and we thank you for your participation as we work to improve the experience.
  </p>

  <p>
  Join our email list to stay up to date on the latest news and updates with this project.
  </p>

</div>

<%= render partial: 'mailchimp_form' %>
