<% content_for :title do %>18F Micro-purchase - Policies and Guidelines<% end %>
<% content_for :description do %>Important information and frequently asked questions about the Micro-purchase platform.<% end %>

<h1>Policies and Guidelines</h1>

<p>Participation in the micro-purchase experiment allows individuals and vendors of all types to bid on and complete open source software work for the federal government. If you&rsquo;re interested in participating, here is some helpful information to get you ready!</p>

<h3>Eligibility to participate</h3>

<ol>
  <li><strong>Have a GitHub account.</strong><br>
    All potential bidders must have a GitHub account in order to register for the micro-purchase platform. Users will log into the platform by authenticating with their GitHub account.</li>
  <li><strong>Register in SAM.gov.</strong><br/>
    SAM.gov is the federal System for Award Management (SAM). At the moment, we are only permitting companies registered in SAM.gov to actually deliver work on a micro-purchase task. In order to register with SAM, you first must have an active Data Universal Numbering System (DUNS) number and a Taxpayer Identification Number (TIN). If you do not have an active DUNS number, you may obtain one online at the <a href="http://fedgov.dnb.com/webform">Dun &amp; Bradstreet site</a>. This process takes one-to-two business days. If you do not have a TIN, you may complete an online application on the <a href="https://www.taxid-gov.us/">Tax ID site</a>.</li>
</ol>

<p>You can learn more about SAM in their <a href="https://www.sam.gov/sam/SAM_Guide/SAM_User_Guide.htm">User Guide</a> or call their help desk at 1-866-606-8220.</p>

<h3>Source-selection method</h3>

<p>We're using a reverse auction that will take place online on our <a href="http://micropurchase.18f.gov">Micro-purchase Platform</a>. The person or company with the lowest bid at the end of the auction will be the winner.</p>

<h3>Bid acknowledgement and communication</h3>

<p>18F will contact the winning bidder within 24 hours of the end of the auction. We require a timely response to acknowledge and confirm the bid amount. The code requested in the auction will be due as explained in the acceptance criteria of each specific auction.</p>

<p>We encourage winning vendors to submit code and ask questions early and often during the delivery period, so that we can identify any issues as they arise. In some cases, 18F may choose to provide a cure period to the winning vendor if there are bugs or issues with the delivered code. Payment would depend on the vendor successfully fixing any of the identified issues during the cure period.
</p>

<h3>Want to stay updated?</h3>

<p><a href="http://eepurl.com/bJQHFr">Join our email list </a>to receive updates throughout the coming months.</p>
