<h2>Getting started</h2>

<p>Before participating in this marketplace, you’ll first need to register your company with <a href="https://www.sam.gov/portal/SAM/##11">SAM.gov</a>, enter a DUNS number, and have a GitHub account. </p>

<p>Once you’re ready, continue with GitHub authorization (only public account information will be requested). If you encounter any issues, let us know at <%= mail_to 'micropurchase@gsa.gov' %>.</p>


<a class='usa-button usa-button' href="/auth/github">Authorize with GitHub »</a>
<p></p>
<p></p>
<p>Administrative notes:</p>
<p>None of the content in this GitHub repository is considered proprietary or procurement-sensitive information.
Furthermore, all users who submit bids consent to the publication of their GitHub usernames and bid amounts following the conclusion of the bidding process.
Bidders' email addresses will not be disclosed and will only be used for micro-purchase-related communication on an as-needed basis.</p>
<p>In order to bid, all users must be listed as "Active" in SAM.gov on the day the auction opens. The process for SAM.gov activation may take several days, and we encourage interested vendors to sign up at least one week prior to bidding. To check your status with SAM.gov, you may use the [SAM Status Tracker](https://www.sam.gov/sam/helpPage/SAM_Reg_Status_Help_Page.html). If you need help with SAM.gov, call the toll-free SAM.gov Help Desk: 1-866-606-8220.</p>
<P>This platform is the primary method of bidding on micro-purchase opportunities. Vendor organizations may have multiple user accounts registered on this micro-purchase platform and on GitHub, as well as associated with each vendor and the vendor's DUNS number. Furthermore, vendors may register as either individuals or businesses on SAM.gov. Please file a GitHub issue <a href="https://github.com/18F/micropurchase/issues">in this repo</a> if you have any questions.</p>
