<h2>Getting Started</h2>

<p>Before participating in this marketplace, you’ll first need to register your company with SAM.gov to receive a DUNS number, and have a GitHub account. </p>

<p>Once you’re ready, continue with GitHub authorization (only public account information will be requested). If you encounter any issues, let us know at <%= mail_to 'micropurchase@gsa.gov' %>.</p>


<a class='usa-button' href="/auth/github">Authorize with GitHub</a>
<p></p>
<p></p>
<p>Administrative Notes</p>
<p>None of the content in this GitHub repository is considered proprietary or procurement-sensitive information. 
Furthermore, all users who submit bids consent to the publication of their GitHub usernames and bid amounts following the conclusion of the bidding process.
Bidders' email addresses will not be disclosed and will only be used for micro-purchase-related communication on an as-needed basis.</p>

<P>This platform is the primary method of bidding on micro-purchase opportunities. Vendor organizations may have multiple user accounts registered on this micro-purchase platform and on GitHub, as well as associated with each vendor and the vendor's DUNS number. Furthermore, vendors may register as either individuals or businesses on SAM.gov. Please file a GitHub issue in this repo if you have any questions. </p>
