<h2>Getting Started</h2>

<p>Before participating in this marketplace, you’ll first need to register your company with SAM.gov and have a GitHub account. If you encounter any issues, let us know at <%= mail_to 'micropurchase@gsa.gov' %>.</p>

<p>Once you’re ready, continue with GitHub authorization (only public account information will be requested).</p>

<a href="/auth/github"><button>Authorize with GitHub</button></a>
