<tr>
  <td scope="row">
    <%= image_tag "issue-icon.png", alt: 'issue-icon', class: 'issue-icon' %>
  </td>
  <td>
    <h1>Create README</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum pharetra felis, in consectetur tortor semper sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras eget metus libero. Proin commodo faucibus arcu vel cursus.</p>
  </td>
  <td class="table-bids">
    <p>Current Bid:</p>
    <p>$2,100</p>
    <p>12 hrs left</p>
    <p>
      <a href="<%= new_auction_bid_path(auction) %>"><button class="usa-button button-bid">Bid <icon class="fa fa-angle-double-right"></icon></button></a>
    </p>
  </td>
</tr>
