<h1>Bids for "<%= @auction.title %>"</h1>

<a href="<%= auction_path(@auction) %>">« Back to auction</a>

<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Bidder</th>
      <th scope="col">DUNS</th>
      <th scope="col">Amount</th>
      <th scope="col">Date (Eastern Standard Time)</th>
    </tr>
  </thead>
  <tbody>
    <% @auction.bids.each_with_index do |bid, i| %>
      <tr>
        <td><%= bid.veiled_bidder_name(current_user) %></td>
        <td><%= bid.veiled_bidder_duns_number(current_user) %></td>
        <td><%= content_for_row(i, bid) %></td>
        <td><%= Presenter::DcTime.convert_and_format(bid.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  &#42; - winning bid
</p>
