<% content_for :title do %>18F Micro-purchase - New bid<% end %>
<% content_for :description do %>
  <%= render partial: @bid_view_model.description_partial,
    locals: { bid_view_model: @bid_view_model } %>
<% end %>

<% content_for :data_tags do %>
  <%= render partial: '/auctions/data_tags', locals: { auction: @bid_view_model } %>
<% end %>

<h1>Bidding on...</h1>

<%= render partial: 'auction_details', locals: { bid_view_model: @bid_view_model } %>

<%= render partial: @bid_view_model.bid_form_partial,
  locals: { bid: @bid, bid_view_model: @bid_view_model } %>
