<section class="auction-workflow auction-workflow-c2-approval-required-admins">
  <h1>C2 approval required</h1>
  <p>This auction will be paid for using an 18F purchase card, which cannot be used without first being granted approval in C2.</p>
  <form data-auction-workflow-state="pending-c2-approval-admins">
    <button>Request approval</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-pending-c2-approval-admins">
  <h1>Pending C2 approval</h1>
  <p>This auction has been sent to C2 for approval. [If C2 url] You can check the status of this approval <a href="#">here</a>.[/if]</p>
</section>
<section class="auction-workflow auction-workflow-ready-to-publish-admins">
  <h1>Ready to publish</h1>
  <p class="p-date-time-defaults">This auction is ready to publish! Please select a start date for this auction.</p>
  <form data-auction-workflow-state="coming-soon-admins">
    <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
      <legend>Auction starts</legend>
      <div class="field field-date">
        <label>
          <span class="label-text">Date</span>
          <input type="date" name="">
        </label>
      </div>
      <fieldset class="fieldset fieldset-time">
        <legend>Time</legend>
        <div class="field field-select field-time-hours">
          <label>
            <span class="label-text">Hours</span>
            <select>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-minutes">
          <label>
            <span class="label-text">Minutes</span>
            <select>
              <option value="00" selected>00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-meridiem">
          <label>
            <span class="label-text">Meridiem</span>
            <select>
              <option value="AM">AM</option>
              <option value="PM" selected>PM</option>
            </select>
          </label>
        </div>
        <span class="time-zone">EST</span>
      </fieldset>
    </fieldset>
    <aside class="branch">
      <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
        <legend>Auction ends</legend>
        <span class="fieldset-date-time-summary">
          <span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST
        </span>
        <div class="field field-date">
          <label>
            <span class="label-text">Date</span>
            <input type="date" name="">
          </label>
        </div>
        <fieldset class="fieldset fieldset-time">
          <legend>Time</legend>
          <div class="field field-select field-time-hours">
            <label>
              <span class="label-text">Hours</span>
              <select>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </label>
          </div>
          <div class="field field-select field-time-minutes">
            <label>
              <span class="label-text">Minutes</span>
              <select>
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
              </select>
            </label>
          </div>
          <div class="field field-select field-time-meridiem">
            <label>
              <span class="label-text">Meridiem</span>
              <select>
                <option>AM</option>
                <option selected>PM</option>
              </select>
            </label>
          </div>
          <span class="time-zone">EST</span>
        </fieldset>
      </fieldset>
      <section class="delivery">
        <h1>Delivery period</h1>
        <div class="estimate">
          <h2>Estimated delivery date</h2>
          <span class="delivery-estimate"><span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST</span>
        </div>
        <div class="field">
          <label>
            <span class="label-text">Days</span>
            <input type="number" name="" value="5">
          </label>
        </div>
      </section>
    </aside>
    <p class="p-customize-timeline">By default, auctions are listed for two days and vendors have five business days to deliver. But you can <a href="#" class="a-customize-timeline">edit</a> this.</p>
    <button class="button button-publish">Publish</button>    
  </form>
</section>
<section class="auction-workflow auction-workflow-ready-to-publish-admins has-errors">
  <h1>Ready to publish</h1>
  <div class="form-errors">
    <ul>
    <li>You must specify an auction start date/time </li>
    <li>You must specify an auction end date/time that comes after the auction start date/time.</li>
    </ul>
  </div>
  <p class="p-date-time-defaults">This auction is ready to publish! Please select a start date for this auction. (By default, auctions are listed for one week and vendors have five business days to deliver. But you can <a href="#" class="a-customize-timeline">edit</a> this.)</p>
  <form data-auction-workflow-state="coming-soon-admins">
    <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
      <legend>Auction starts</legend>
      <div class="field field-date has-error">
        <label>
          <span class="label-text">Date</span>
          <input type="date" name="">
        </label>
      </div>
      <fieldset class="fieldset fieldset-time">
        <legend>Time</legend>
        <div class="field field-select field-time-hours has-error">
          <label>
            <span class="label-text">Hours</span>
            <select>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-minutes has-error">
          <label>
            <span class="label-text">Minutes</span>
            <select>
              <option value="00" selected>00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-meridiem has-error">
          <label>
            <span class="label-text">Meridiem</span>
            <select>
              <option value="AM">AM</option>
              <option value="PM" selected>PM</option>
            </select>
          </label>
        </div>
        <span class="time-zone">EST</span>
      </fieldset>
    </fieldset>
    <aside class="branch">
      <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
        <legend>Auction ends</legend>
        <span class="fieldset-date-time-summary">
          <span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST
        </span>
        <div class="field field-date">
          <label>
            <span class="label-text">Date</span>
            <input type="date" name="">
          </label>
        </div>
        <fieldset class="fieldset fieldset-time">
          <legend>Time</legend>
          <div class="field field-select field-time-hours">
            <label>
              <span class="label-text">Hours</span>
              <select>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </label>
          </div>
          <div class="field field-select field-time-minutes">
            <label>
              <span class="label-text">Minutes</span>
              <select>
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
              </select>
            </label>
          </div>
          <div class="field field-select field-time-meridiem">
            <label>
              <span class="label-text">Meridiem</span>
              <select>
                <option>AM</option>
                <option selected>PM</option>
              </select>
            </label>
          </div>
          <span class="time-zone">EST</span>
        </fieldset>
      </fieldset>
      <section class="delivery">
        <h1>Delivery period</h1>
        <div class="estimate">
          <h2>Estimated delivery date</h2>
          <span class="delivery-estimate"><span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST</span>
        </div>
        <div class="field">
          <label>
            <span class="label-text">Days</span>
            <input type="number" name="" value="5">
          </label>
        </div>
      </section>
    </aside>
    <button class="button button-publish">Publish</button>    
  </form>
</section>
<section class="auction-workflow auction-workflow-coming-soon-admins">
  <h1>Coming soon</h1>
  <p>This auction is visible to the public but is not currently accepting bids. It will open on [auction.startDate]. If you need to take it down for whatever reason, press the &ldquo;un-publish&rdquo; button, below.</p>
  <form data-auction-workflow-state="ready-to-publish-admins">
    <button class="button button-un-publish">Un-publish</button>    
  </form>
</section>
<section class="auction-workflow auction-workflow-draft-vendors">
  <h1>Draft</h1>
  <p>This is a preview for internal use only. This is not an official solicitation.</p>
</section>
<section class="auction-workflow auction-workflow-coming-soon-vendors">
  <h1>Coming soon</h1>
  <p>This auction is not currently accepting bids. It will open on [auction.startDate].</p>
</section>
<section class="auction-workflow auction-workflow-accepting-bids-no-bids-admins">
  <h1>Accepting bids</h1>
  <p>This auction is accepting bids until [auction.endDate].</p>
</section>
<section class="auction-workflow auction-workflow-accepting-bids-bids-placed-admins">
  <h1>Accepting bids</h1>
  <p>There are <a href="{{site.baseurl}}/auctions/show-bids">[auction.totalBids] bids on this auction,</a> and <a href="{{site.baseurl}}/people/vendors/show">[winningVendor.Name]</a> is currently winning. This auction is accepting bids until [auction.endDate].</p>
</section>
<section class="auction-workflow auction-workflow-please-update-your-profile-vendors">
  <h1>Please update your profile</h1>
  <p>Your profile must contain a valid DUNS number before you can place a bid. Please <a href="{{site.baseurl}}/profile">update your profile</a>.</p>
</section>
<section class="auction-workflow auction-workflow-you-are-ineligible-to-bid-vendors">
  <h1>You are ineligible to bid</h1>
  <p>Only small businesses are allowed to bid on this auction. If you&rsquo;re in fact a small business, please update your profile on <a href="https://sam.gov" target="_blank">SAM.gov</a>.</p>
</section>
<section class="auction-workflow auction-workflow-sign-in-to-place-a-bid">
  <h1>Sign in to place a bid</h1>
  <p>You must be signed in to place a bid! Use your <a href="https://github.com">GitHub</a> account to <a href="{{site.baseurl}}/sign_up" class="a-sign-up">sign up</a> or <a href="#" class="a-sign-in">sign in</a>.</p>
</section>
<section class="auction-workflow auction-workflow-place-a-bid-first-vendors">
  <h1>Place a bid</h1>
  <p>The maximum (starting) bid for this auction is $[auction.startPrice].</p>
  <form>
    <div class="field"> 
      <label>
        <span class="label-text">Amount</span>
        <input type="number" required></input>
      </label>
    </div>
    <button class="button button-bid">Place bid</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-place-a-bid-reverse-vendors">
  <h1>Place a bid</h1>
  <p>The maximum (current) bid is $[auction.currentBid].</p>
  <form>
    <div class="field"> 
      <label>
        <span class="label-text">Amount</span>
        <input type="number" required></input>
      </label>
    </div>
    <button class="button button-bid">Place bid</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-youve-been-underbid-vendors">
  <h1>You&rsquo;ve been underbid</h1> 
  <p>The maximum (current) bid is now $[auction.currentBid].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Amount</span>
      <input type="number" required></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-bid-rejected-sealed-vendors has-errors">
  <h1>Bid rejected</h1>
  <p>Amount was not accepted. Please enter a whole number less than $[auction.startingBid].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Amount</span>
      <input type="number" required></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-bid-rejected-reverse-vendors has-errors">
  <h1>Bid rejected</h1>
  <p>Amount was not accepted. Please enter a whole number less than $[auction.currentBid].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Amount</span>
      <input type="number" required></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-bid-placed-sealed-vendors">
  <h1>Bid placed</h1>
  <p>You placed a bid of $[auction.currentBid] on [auction.bidDate].</p>
</section>
<section class="auction-workflow auction-workflow-bid-placed-reverse-vendors">
  <h1>Bid placed</h1>
  <p>You placed a bid of $[auction.currentBid] on [auction.bidDate]. You are currently the low bidder.</p>
</section>
<section class="auction-workflow auction-workflow-ready-for-work-admins">
  <h1>Ready for work</h1>
  <p><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a> won this auction on [auction.winDate] with a bid of $[auction.winBid]. They&rsquo;ve received <a href="https://docs.google.com/document/d/1G9WboqAi2ESDjZEkVhlrCGL3MbRqW2QodWdtWRhnKnc/edit%23heading%3Dh.nte24vv2a7o&sa=D&ust=1470089121861000&usg=AFQjCNHWlLpesvlsiCJkbs-g6b-u4lxYrQ">an email</a> letting them know the delivery deadline ([auction.deliveryDeadline]) and how to get started.</p>
  <details>
    <summary>Mark as started</summary>
    <form data-auction-workflow-state="work-in-progress-admins">
      <div class="field field-delivery-url">
        <label>
          <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
          <input type="text" name="" required>
        </label>
      </div>
      <button class="button button-mark-as-delivered">Update</button>
    </form>
  </details>
</section>
<section class="auction-workflow auction-workflow-ready-for-work-vendors">
  <h1>Ready for work</h1>
  <p>You won this auction on [auction.winDate] and must deliver by [auction.deliveryDeadline], Eastern Time. Please use GitHub to create a pull request against this project, making sure to reference <a href="">the issue associated with this auction</a>. Then enter the URL to your pull request, below, and click &ldquo;start work.&rdquo;</p> 
  <form data-auction-workflow-state="work-in-progress-vendors">
    <div class="field field-delivery-url">
      <label>
        <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
        <input type="text" name="" required>
      </label>
    </div>
    <button class="button button-deliver">Start work</button>  
  </form>
</section>
<section class="auction-workflow auction-workflow-ready-for-work-vendors is-error">
  <h1>Ready for work</h1>
  <p>You won this auction on [auction.winDate] and must deliver by [auction.deliveryDeadline], Eastern Time. Please use GitHub to create a pull request against this project, making sure to reference <a href="">the issue associated with this auction</a>. Then enter the URL to your pull request, below, and click &ldquo;start work.&rdquo;</p> 
  <form data-auction-workflow-state="work-in-progress-vendors">
    <div class="field field-delivery-url is-error">
      <label>
        <span class="label-text">Pull request <abbr title="Uniform resource locator">URL</abbr></span>
        <input type="text" name="" required>
        <p class="error-text">This field cannot be blank.</p>
      </label>
    </div>
    <button class="button button-deliver">Start work</button>  
  </form>
</section>
<section class="auction-workflow auction-workflow-work-in-progress-admins">
  <h1>Work in progress</h1>
  <p><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a> <a href="#">initiated a pull request</a> on [auction.startWorkDate], and should complete their work no later than [auction.deliveryDeadline].</p>
  <details>
    <summary>Update delivery URL</summary>
    <form>
      <div class="field field-delivery-url">
        <label>
          <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
          <input type="text" name="" required>
        </label>
      </div>
      <button class="button button-mark-as-delivered">Update</button>
    </form>
  </details>
  <details>
    <summary>Mark as delivered</summary>
    <form class="form-mark-as-delivered" data-auction-workflow-state="acceptance-needed-admins">
      <button class="button button-mark-as-delivered">Mark as delivered</button>
    </form>
  </details>
</section>
<section class="auction-workflow auction-workflow-work-in-progress-vendors">
  <h1>Work in progress</h1>
  <p>You won this auction on [auction.winDate] and must complete your work before [auction.deliveryDeadline]. Please update <a href="#">your pull request</a> with any questions, comments, or partial solutions. When you&rsquo;ve completed your work, click &ldquo;I&rsquo;m done,&rdquo; below.</p>
  <form data-auction-workflow-state="pending-acceptance-vendors">
    <button>I&rsquo;m done</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-delivery-past-due-admins">
  <h1>Delivery past due</h1>
  <p><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a> was supposed to have delivered this auction before [auction.deliveryDeadline], but has yet to complete their work. You can either issue an extension or mark this auction as delivered.</p>
  <details>
    <summary>Issue extension</summary>
    <form class="form-issue-extension" data-auction-workflow-state="work-in-progress-admins">
      <div class="field field-select">
        <label>
          <span class="label-text">Extension length</span>
          <select>
            <option>1 day</option>
            <option>2 days</option>
            <option>3 days</option>
            <option>4 days</option>
            <option>5 days</option>
          </select>
        </label>
      </div>
      <button class="button button-issue-extension">Issue an extension</button>
    </form>
  </details>
  <details>
    <summary>Mark as delivered</summary>
    <form class="form-mark-as-delivered">
      <div class="field field-delivery-url">
        <label>
          <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
          <input type="text" name="" required>
        </label>
      </div>
      <button class="button button-mark-as-delivered">Mark as delivered</button>
    </form>
  </details>
</section>
<section class="auction-workflow auction-workflow-delivery-past-due-vendors">
  <h1>Delivery past due</h1>
  <p>You won this auction on <strong>[auction.winDate]</strong> and were supposed to have completed your work before <strong>[auction.deliveryDeadline].</strong> In accordance with our <a href="{{site.baseurl}}/policies">policies</a>, administrators now have the option to issue an extension or reject Amount altogether.</p>
  <p>In the interim, please provide the <abbr title="Uniform resource locator">URL</abbr> of a pull request that satisfies this auction&rsquo;s acceptance criteria. Then click &ldquo;I&rsquo;m done,&rdquo; below.</p>
  <form data-auction-workflow-state="pending-acceptance-vendors">
    <div class="field field-delivery-url">
      <label>
        <span class="label-text">Pull request <abbr title="Uniform resource locator">URL</abbr></span>
        <input type="text" name="">
      </label>
    </div>
    <button class="button button-deliver">I&rsquo;m done</button>  
  </form>
</section>
<section class="auction-workflow auction-workflow-acceptance-needed-admins">
  <h1>Pending acceptance</h1>
  <p><a href="{{site.baseurl}}/people/vendors/show"><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a></a> made <a href="#">a pull request</a> and marked this auction as having been delivered. If their work meets this auction&rsquo;s acceptance criteria, click &ldquo;accept.&rdquo; Otherwise, click &ldquo;reject.&rdquo;</p>
  <form data-auction-workflow-state="awaiting-payment-admins">
    <button class="button button-accept">Accept</button>
  </form>
  <form data-auction-workflow-state="rejected-admins">
    <button class="button button-reject">Reject</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-pending-acceptance-vendors">
  <h1>Pending acceptance</h1>
  <p>18F is working to determine if <a href="#">your pull request</a> meets the auction&rsquo;s acceptance criteria. You will receive an email once this determination is made.
</p>
</section>
<section class="auction-workflow auction-workflow-pending-payment-url-admins">
  <h1>Pending payment URL</h1>
  <p>This vendor has been asked to <a href="{{site.baseurl}}/docs/getting-paid">provide a payment URL</a>.</p>
</section>
<section class="auction-workflow auction-workflow-payment-url-needed-vendors">
  <h1>Payment URL needed</h1>
  <p>Before 18F can pay you, we&rsquo;ll need a location (URL) we can go to submit our credit card information. Please either <a href="{{site.baseurl}}/profile#payment-url">specify a default payment URL</a> or provide an auction-specific payment URL, below. For more information, see our <a href="{{site.baseurl}}/docs/getting-paid">guide to getting paid</a>.</p>
  <form data-auction-workflow-state="pending-payment-vendors">
    <div class="field">
      <label>
        <span class="label-text">Payment URL</span>
        <input type="text" name="">    
      </label>
    </div>
    <button class="button">Submit</button>
  </form>
</section>
<section class="auction-workflow auction-workflow-pending-payment-from-18f-admins">
  <h1>Pending payment from 18F</h1>
  <p>The p-card holder has been asked (<a href="#">via C2</a>) to remit payment. Alternatively, you can manually mark this auction as paid.</p>
  <form data-auction-workflow-state="pending-payment-confirmation-admins">
    <button>Mark as paid</button>  
  </form>
  <form data-auction-workflow-state="pending-payment-url-admins">
    <button>Mark as unpayable</button>  
  </form>
</section>
<section class="auction-workflow auction-workflow-pending-payment-from-customer-admins">
  <h1>Pending payment from customer</h1>
  <p>[auction.customer] has been asked to remit payment. Alternatively, you can manually mark this auction as paid.</p>
  <form data-auction-workflow-state="pending-payment-confirmation-admins">
    <button>Mark as paid</button>  
  </form>
  <form data-auction-workflow-state="pending-payment-url-admins">
    <button>Mark as unpayable</button>  
  </form>
</section>
<section class="auction-workflow auction-workflow-pending-payment-vendors">
  <h1>Pending payment</h1>
  <p>18F is working to remit payment. You will receive an email once we&rsquo;ve issued payment.</p>
</section>
<section class="auction-workflow auction-workflow-pending-payment-confirmation-admins">
  <h1>Pending payment confirmation</h1>
  <p><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a> was paid by [auction.paymentAdmin] on [auction.paymentDate], and has received an email asking them to confirm that payment.</p>
</section>
<section class="auction-workflow auction-workflow-payment-confirmation-needed-vendors">
  <h1>Payment confirmation needed</h1>
  <p>18F issued a payment of $[paymentAmount] on [paymentDate] to <a href="#">your payment URL</a>. Please confirm that you&rsquo;ve received this payment.
  <form data-auction-workflow-state="paid-vendors">
    <button>Got it!</button>
  </form>
</p>
</section>
<section class="auction-workflow auction-workflow-paid-and-confirmed-admins">
  <h1>Paid and confirmed</h1>
  <p><a href="#"><a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a> was <a href="">paid</a> $[amount] on [date] and confirmed receipt of that payment on [confirmation date].</p>
</section>
<section class="auction-workflow auction-workflow-paid-vendors">
  <h1>Paid</h1>
  <p>You won this auction on <time>[auction.winDate]</time>; 18F accepted <a href="#">your pull request</a> on <time>[auction.acceptanceDate]</time>; and you were paid $[auction.winAmount] on <time>[auction.paymentDate]</time>.
</p>
</section>
<section class="auction-workflow auction-workflow-rejected-admins">
  <h1>Rejected</h1>
  <p>[RejectingAdmin] rejected <a href="{{site.baseurl}}/people/vendors/show">[auction.winner]</a>&rsquo;s bid on <time>[auction.rejectionDate]</time>.</p>
</section>
<section class="auction-workflow auction-workflow-rejected-vendors">
  <h1>Rejected</h1>
  <p>18F rejected your work on <time>[auction.rejectionDate]</time>.</p>
</section>
<section class="auction-workflow auction-workflow-closed-didnt-win-vendors">
  <h1>Closed</h1>
  <p>Bidding for this auction closed on <time>[auction.closedDate]</time>. Your bid ($[auction-bid-amount]) was not the lowest bid. Better luck next time!</p>
</section>
<section class="auction-workflow auction-workflow-closed">
  <h1>Bidding closed</h1>
  <p>Bidding for this auction closed on <time>[auction.closedDate]</time>.</p>
</section>
