<article class="auction is-closed">
  <a href="{{site.baseurl}}/auctions/show">
    <header class="auction-header">
      <h1 class="auction-name">
        Create Agency Admin User Role 
      </h1>
      <dl>
        <dt class="auction-status">Status</dt>
        <dd class="auction-status auction-status-accepted">Accepted</dd>
      </dl>
    </header>
  </a>
  <footer class="auction-footer">
    <ul>
      <li class="auction-project">
        <h2>Project</h2>
        <span>Open Opportunities</span>
      </li>
      <li class="auction-type">
        <h2>Type</h2>
        <span>Sealed-bid</span>
      </li>
      <li class="auction-opened">
        <h2>Opened</h2>
        <span>Aug 21, 2016</span>
      </li>
      <li class="auction-closed">
        <h2>Closed</h2>
        <span>Aug 28, 2016</span>
      </li>
      <li class="auction-starting-bid">
        <h2>Starting bid</h2>
        <span>$2,750.00</span>
      </li>
      <li class="auction-ending-bid">
        <h2>Ending bid</h2>
        <span>$500.00</span>
      </li>
      <li class="auction-total-bids">
        <h2>Total bids</h2>
        <span>12</span>
      </li>
      <li class="auction-winning-vendor">
        <h2>Winning vendor</h2>
        <span>Whosit Whatshisname</span>
      </li>
      <li class="auction-eligibility">
        <h2>Eligibility</h2>
        <span>Sam.gov</span>
      </li>
      <li class="auction-skills">
        <h2>Skills</h2>
        <ul>
          <li>CSS</li>
          <li>HAML</li>
          <li>Rails</li>
          <li>Ruby</li>
        </ul>
      </li>
    </ul>
  </footer>
</article>