<article class="h-entry auction">
  <a href="{{site.baseurl}}/auctions/show">
    <header class="auction-header">
      <h1 class="p-name auction-name">
        Create Agency Admin User Role 
      </h1>
      <dl>
        <dt class="auction-time-remaining">Time remaining</dt>
        <dd class="auction-time-remaining">15 days</dd>
        <dt class="auction-status">Status</dt>
        <dd class="auction-status auction-status-open">Open</dd>
        <dt class="auction-current-bid">Current bid</dt>
        <dd class="auction-current-bid">
          $2,750.00
        </dd>
      </dl>
    </header>
    <p class="p-summary auction-summary">The Open Opportunities is a node.js-based platform to foster collaboration on government projects. This issue seeks to create a new user role for &ldquo;Agency Admins&rdquo; that will (in the future) give those users admin privileges to see data for users from their agency.</p>
  </a>
  <footer class="auction-footer">
    <dl>
<!--       <dt class="auction-author">Submitted by</dt>
      <dd class="auction-author p-author"><img src="#">Patrick Bateman</dd>
 -->
<!--       <dt class="auction-language">Language</dt>
      <dd class="auction-language">Ruby</dd>
 -->
      <dt class="auction-project">Project</dt>
      <dd class="auction-project">Open Opportunities</dd>

<!--       <dt class="auction-agency">Agency</dt>
      <dd class="auction-agency">General Services Administration</dd>
 -->    
    </dl>
  </footer>
</article>