<article class="h-entry auction">
  <a href="{{site.baseurl}}/auctions/show">
    <header class="auction-header">
      <h1 class="p-name auction-name">
        Create Agency Admin User Role 
      </h1>
      <dl>
        <dt class="auction-status">Status</dt>
        <dd class="auction-status auction-status-open">Open</dd>
        <dt class="auction-time-remaining">Closes</dt>
        <dd class="auction-time-remaining">12 days from now</dd>
        <dt class="auction-current-bid">Current bid</dt>
        <dd class="auction-current-bid">
          $2,750.00
        </dd>
      </dl>
    </header>
    <p class="p-summary auction-summary">The Open Opportunities is a node.js-based platform to foster collaboration on government projects. This issue seeks to create a new user role for &ldquo;Agency Admins&rdquo; that will (in the future) give those users admin privileges to see data for users from their agency.</p>
  </a>
  <footer class="auction-footer">
    <ul>
      <li class="auction-project">
        <h2>Project</h2>
        <span>Open Opportunities</span>
      </li>
      <li class="auction-skills">
        <h2>Skills</h2>
        <ul>
          <li>CSS</li>
          <li>HAML</li>
          <li>Rails</li>
          <li>Ruby</li>
        </ul>
      </li>
    </ul>
  </footer>
</article>