<section class="auction-workflow auction-workflow-publishable-pending-approval-admins">
  <p>This auction will be paid for using an 18F purchase card, which cannot be used without first being granted approval in C2.</p>
  <button>Request approval</button>
</section>
<section class="auction-workflow auction-workflow-publishable-admins">
  <p class="p-date-time-defaults">This auction is ready to publish. Please select a start date for this auction. (By default, auctions are listed for one week and vendors have five business days to deliver. But you can <a href="#" class="a-customize-timeline">edit</a> this.)</p>
  <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
    <legend>Auction starts</legend>
    <div class="field field-date">
      <label>
        <span class="label-text">Date</span>
        <input type="date" name="">
      </label>
    </div>
    <fieldset class="fieldset fieldset-time">
      <legend>Time</legend>
      <div class="field field-select field-time-hours">
        <label>
          <span class="label-text">Hours</span>
          <select>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </label>
      </div>
      <div class="field field-select field-time-minutes">
        <label>
          <span class="label-text">Minutes</span>
          <select>
            <option value="00" selected>00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
        </label>
      </div>
      <div class="field field-select field-time-meridiem">
        <label>
          <span class="label-text">Meridiem</span>
          <select>
            <option value="AM">AM</option>
            <option value="PM" selected>PM</option>
          </select>
        </label>
      </div>
      <span class="time-zone">EST</span>
    </fieldset>
  </fieldset>
  <aside class="branch">
    <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
      <legend>Auction ends</legend>
      <span class="fieldset-date-time-summary">
        <span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST
      </span>
      <div class="field field-date">
        <label>
          <span class="label-text">Date</span>
          <input type="date" name="">
        </label>
      </div>
      <fieldset class="fieldset fieldset-time">
        <legend>Time</legend>
        <div class="field field-select field-time-hours">
          <label>
            <span class="label-text">Hours</span>
            <select>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-minutes">
          <label>
            <span class="label-text">Minutes</span>
            <select>
              <option>00</option>
              <option>15</option>
              <option>30</option>
              <option>45</option>
            </select>
          </label>
        </div>
        <div class="field field-select field-time-meridiem">
          <label>
            <span class="label-text">Meridiem</span>
            <select>
              <option>AM</option>
              <option selected>PM</option>
            </select>
          </label>
        </div>
        <span class="time-zone">EST</span>
      </fieldset>
    </fieldset>
    <section class="delivery">
      <h1>Delivery timeline</h1>
      <div class="estimate">
        <h2>Estimated delivery date</h2>
        <span class="delivery-estimate"><span class="date">Undefined</span> at <span class="time-hours">1</span>:<span class="time-minutes">00</span><span class="time-meridiem">PM</span> EST</span>
      </div>
      <div class="field">
        <label>
          <span class="label-text">Days</span>
          <input type="number" name="" value="5">
        </label>
      </div>
    </section>
  </aside>
  <button class="button button-publish">Publish</button>
</section>
<section class="auction-workflow auction-workflow-published-closed-opens-soon-admins">
  <p>This auction is visible to the public but is not currently accepting bids. It will open on [auction.startDate]. If you need to take it down for whatever reason, press the &ldquo;un-publish&rdquo; button, below.</p>
  <button class="button button-un-publish">Un-publish</button>
</section>
<section class="auction-workflow auction-workflow-published-closed-opens-soon-vendors">
  <h1>Bidding opens soon</h1>
  <p>This auction is not currently accepting bids. It will open on [auction.startDate].</p>
</section>
<section class="auction-workflow auction-workflow-published-open-no-bids-admins">
  <p>This auction is accepting bids until [auction.endDate].</p>
</section>
<section class="auction-workflow auction-workflow-published-open-with-bids-admins">
  <p>There are <a href="{{site.baseurl}}/auctions/show-bids">[auction.totalBids] bids on this auction,</a> and [winningVendor.Name] is currently winning. This auction is accepting bids until [auction.endDate]!</p>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-not-allowed-vendors">
  <h1>You cannot place a bid</h1>
  <p>Your profile must contain a valid DUNS number before you can place a bid. Please <a href="{{site.baseurl}}/my-account/profile">update your profile</a>.</p>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-not-eligible-vendors">
  <h1>You&rsquo;re ineligible to bid</h1>
  <p>Only small businesses are allowed to bid on this auction. If you&rsquo;re in fact a small business, please update your profile on SAM.gov.</p>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-not-allowed-logged-out">
  <h1>Place a bid</h1>
  <p>You must be logged in to place a bid! Use your <a href="https://github.com">GitHub</a> account to <a href="{{site.baseurl}}/sign_up" class="a-sign-up">sign up</a> or <a href="#" class="a-sign-in">sign in</a>.</p>
</section>
<section class="auction-workflow auction-workflow-published-open-first-bid-vendors">
  <h1>Place a bid</h1>
  <p>The starting price for this auction is $[auction.startPrice].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Your bid</span>
      <input type="number"></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-limited-vendors">
  <h1>Place a bid</h1>
  <p>The maximum (current) bid is $[auction.currentBid].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Your bid</span>
      <input type="number"></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-published-open-outbid-vendors">
  <h1>You&rsquo;ve been outbid!</h1> 
  <p>The maximum (current) bid is now $[auction.currentBid].</p>
  <div class="field"> 
    <label>
      <span class="label-text">Your bid</span>
      <input type="number"></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-rejected-vendors has-errors">
  <h1>Place a bid</h1>
  <p>Your bid was not accepted. Please enter a whole number less than the current bid of $[auction.currentBid]</p>
  <div class="field"> 
    <label>
      <span class="label-text">Your bid</span>
      <input type="number"></input>
    </label>
  </div>
  <button class="button button-bid">Place bid</button>
</section>
<section class="auction-workflow auction-workflow-published-open-bid-placed-vendors">
  <h1>Bid placed</h1>
  <p>You are currently the low bidder, with a bid of $[auction.currentBid].</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-delivery-admins">
  <h1>Pending delivery</h1>
  <p>[auction.winner] won this auction on [auction.winDate] with a bid of $[auction.winBid]. They&rsquo;ve received <a href="#">an email</a> instructing them to begin work and to deliver before the delivery deadline ([auction.deliveryDeadline]).</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-delivery-vendors">
  <h1>Pending delivery</h1>
  <p>You won this auction on [auction.winDate] with a bid of $[auction.winBid]. Please complete the work in accordance with this auction&rsquo;s acceptance criteria before the delivery deadline ([auction.deliveryDeadline]).</p>
  <p>When you&rsquo;re done, create a pull request and tag <a href="#">the issue associated with this auction</a>. Then enter the <abbr title="Uniform resource locator">URL</abbr> of your pull request, below, and click &ldquo;mark as delivered.&rdquo; If you have any questions, please leave a comment on <a href="#">the issue associated with this auction</a>.
  <div class="field field-delivery-url">
    <label>
      <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
      <input type="text" name="">
    </label>
  </div>
  <button class="button button-deliver">Mark as delivered</button>  
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-delivery-overdue-admins">
  <h1>Delivery past due</h1>
  <p>[auction.winner] was supposed to have delivered this auction before [auction.deliveryDeadline], but has yet to mark this auction as delivered. You can either issue an extension on this delivery period or reject this vendor.</p>
  <button class="button button-issue-extension">Issue an extension</button>
  <button class="button button-reject">Reject vendor</button> 
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-delivery-overdue-vendors">
  <h1>Delivery past due</h1>
  <p>You won this auction on <strong>[auction.winDate]</strong> with a bid of <strong>$[auction.winBid],</strong> and were supposed to have delivered before <strong>[auction.deliveryDeadline].</strong> In accordance with our <a href="{{site.baseurl}}/policies">policies</a>, administrators now have the option to issue an extension or reject your bid altogether.</p>
  <p>To avoid having your bid rejected, please complete your work (in accordance with this auction&rsquo;s acceptance criteria) as soon as possible. When you&rsquo;re done, issue a pull request and tag <a href="#">the issue associated with this auction</a>. Finally, enter the <abbr title="Uniform resource locator">URL</abbr> of your pull request below, and click &ldquo;mark as delivered.&rdquo;If you have any questions, please leave a comment on <a href="#">the issue associated with this auction</a>.</p>
  <div class="field field-delivery-url">
    <label>
      <span class="label-text">Delivery <abbr title="Uniform resource locator">URL</abbr></span>
      <input type="text" name="">
    </label>
  </div>
  <button class="button button-deliver">Mark as delivered</button>  
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-acceptance-admins">
  <h1>Pending acceptance</h1>
  <p>[auction.winner] made <a href="#">a pull request</a> and marked this auction as having been delivered. If their work meets this auction&rsquo;s acceptance criteria, click &ldquo;accept.&rdquo; Otherwise, click &ldquo;reject.&rdquo;</p>
  <button class="button button-accept">Accept</button>
  <button class="button button-reject">Reject</button>
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-acceptance-vendors">
  <h1>Pending acceptance</h1>
  <p>18F is working with [auction.customerName] to determine if your pull request meets the auction&rsquo;s acceptance criteria. You will receive an email when this determination is made.
</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-payment-admins">
  <h1>Pending payment</h1>
  <p>[auction.winner]&rsquo;s pull request was accepted on [auction.acceptanceDate]. Please remit payment at <a href="#">the vendor&rsquo;s payment URL</a> and then mark this auction as having been paid. If you have any problems, please <a href="#">contact the vendor directly</a>.</p>
  <button>Mark as paid</button>
</section>
<section class="auction-workflow auction-workflow-published-closed-pending-payment-vendors">
  <h1>Pending payment</h1>
  <p>Your pull request was accepted! 18F is working with [auction.customerName] to issue payment. You will receive an email when payment is issued.</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-paid-admins">
  <h1>Paid</h1>
  <p><a href="#">[auction.winner]&rsquo;s pull request</a> was accepted on [auction.acceptanceDate]. The vendor was paid on [auction.paymentDate].
</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-paid-vendors">
  <h1>Paid</h1>
  <p>You won this auction on <time>[auction.winDate]</time>, and <a href="#">your pull request</a> was accepted on <time>[auction.acceptanceDate]</time>. You were paid on <time>[auction.paymentDate]</time>.
</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-rejected-admins">
  <h1>Rejected</h1>
  <p>Admins rejected [auction.winner]&rsquo;s bid on <time>[auction.rejectionDate]</time>.</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-rejected-vendors">
  <h1>Rejected</h1>
  <p>Your bid was rejected on <time>[auction.rejectionDate]</time>.</p>
</section>
<section class="auction-workflow auction-workflow-published-closed-no-relation-everyone">
  <h1>Bidding closed</h1>
  <p>Bidding for this auction closed on <time>[auction.closedDate]</time>.</p>
</section>