<nav class="pagination">
  <a href="#" class="pagination-prev is-disabled">Prev</a>
  <span class="pagination-page is-current">1</span>
  <a class="pagination-page" href="#">2</a>
  <a class="pagination-page" href="#">3</a>
  <span class="pagination-ellipsis">&hellip;</span>
  <a class="pagination-page" href="#">5</a>
  <a href="#" class="pagination-next">Next</a>
  <p class="pagination-signpost">
    Showing 
    <span class="pagination-range">1 - 10</span> 
    <span class="preposition">of</span> 
    <span class="pagination-total">43</span> results.
  </p>
</nav>
