<header class="auction-header">
  <h1>
    Open Opportunities: Create Agency Admin User Role
  </h1>
  <a class="button" href="{{site.baseurl}}/auctions/edit">Edit</a>
  <dl>
    <dt class="auction-time-remaining">Time remaining</dt>
    <dd class="auction-time-remaining">
      12 days
    </dd>
    <dt class="auction-status">Status</dt>
    <dd class="auction-status auction-status-open">Open</dd>
    <dt class="auction-current-bid">Current bid</dt>
    <dd class="auction-current-bid">
      $3,500.00
    </dd>
  </dl>
  <nav>
    <a class="nav-auction-show" href="{{site.baseurl}}/auctions/show">Auction</a>
    <a class="nav-auction-bids" href="{{site.baseurl}}/auctions/bids">Bids</a>
  </nav>
</header>
