<header class="prototype-header">
  <div class="field-auction-status field field-select">
    <span class="label-text">Auction status</span>
    <select name="auction-status" id="auction-status">
      <optgroup label="vendor">
        <option value="open-incomplete-profile">Incomplete profile</option>
        <option value="open-preview">Preview</option>
        <option value="open-biddable-first">Biddable (first)</option>
        <option value="open-biddable-limited">Biddable (limited)</option>
        <option value="open-biddable-outbid">Biddable (outbid)</option>
        <option value="open-biddable-rejected">Biddable (rejected)</option>
        <option value="open-bid-placed">Bid placed</option>
        <option value="closed">Closed</option>
        <option value="closed-deliverable">Closed (delivery needed)</option>
        <option value="closed-invoiced">Closed (invoiced)</option>
        <option value="closed-paid">Closed (paid)</option>
      </optgroup>
      <optgroup label="admin">
        <option value="draft-approvable">Draft (needs P-card approval)</option>
        <option value="draft-approval-requested">Draft (approval requested)</option>
        <option value="draft-publishable">Draft (Ready to publish)</option>
        <option value="open-running">Running</option>
        <option value="closed-acceptable">Winner (acceptance needed)</option>
        <option value="closed-payable">Winner (payment needed)</option>
      </optgroup>
    </select>
  </div>
  <div class="nav-user field field-select">
    <label>
      <span class="label-text">User</span>
      <select>
        <option value="admin">Admin</option>
        <option value="vendor">Vendor</option>
      </select>
    </label>
  </div>
</header>
<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/logo/18F-Logo-Bright-L.png">
        {{site.title}}
        <span class="tagline">A marketplace for open source work</span>
      </a>
    </h1>
    <nav class="nav-header-nav">
      <div class="signed-in">
        <ul>
          <li class="nav-my-profile"><a href="{{site.baseurl}}/profile">My profile</a></li>
          <li class="nav-people"><a href="{{site.baseurl}}/people">People</a></li>
          <li class="nav-settings"><a href="{{site.baseurl}}/settings">Settings</a></li>
          <li class="nav-sign-out"><a class="a-sign-out" href="{{site.baseurl}}/">Sign out</a></li>
        </ul>        
      </div>
      <div class="signed-out">
        Use your <a href="https://github.com">GitHub</a> account to
        <a class="a-sign-in" href="#">Sign in</a>
        or
        <a class="a-sign-up" href="{{site.baseurl}}/sign-up">Sign up</a>
      </div>
    </nav>
  </div>
</header>