<header class="prototype-header">
  <div class="field-auction-status field field-select">
    <span class="label-text">Auction status</span>
    <select name="auction-status" id="auction-status">
      <optgroup label="vendor">
        <option value="published-closed-opens-soon-vendors">Published, Closed, opens soon</option>
        <option value="published-open-bid-not-allowed-vendors">Published, Open (bid not allowed)</option>
        <option value="published-open-first-bid-vendors">Published, Open (first bid)</option>
        <option value="published-open-bid-limited-vendors">Published, Open (bid limited)</option>
        <option value="published-open-outbid-vendors">Published, Open (outbid)</option>
        <option value="published-open-bid-rejected-vendors">Published, Open (bid rejected)</option>
        <option value="published-open-bid-placed-vendors">Published, Open (Bid placed)</option>
        <option value="published-closed-deliverable-vendors">Published, Closed (deliverable)</option>
        <option value="published-closed-deliverable-overdue-vendors">Published, Closed (deliverable) (overdue)</option>
        <option value="published-closed-acceptable-vendors">Published, Closed (acceptable)</option>
        <option value="published-closed-payable-vendors">Published, Closed (payable)</option>
        <option value="published-closed-paid-vendors">Published, Closed (paid)</option>
        <option value="published-closed-rejected-vendors">Published, Closed (rejected)</option>
        <option value="published-closed-no-relation-vendors">Published, Closed (no relation)</option>
      </optgroup>
      <optgroup label="admin">
        <option value="publishable-pending-approval-admins">Publishable (pending approval)</option>
        <option value="publishable-admins">Publishable</option>
        <option value="published-closed-opens-soon-admins">Published, Closed (Opens soon)</option>
        <option value="published-open-no-bids-admins">Published, Open (no bids)</option>
        <option value="published-open-with-bids-admins">Published, Open (with bids)</option>
        <option value="published-closed-deliverable-admins">Published, Closed (Deliverable)</option>
        <option value="published-closed-deliverable-overdue-admins">Published, Closed (Deliverable) (overdue)</option>
        <option value="published-closed-acceptable-admins">Published, Closed (Acceptable)</option>
        <option value="published-closed-payable-admins">Published, Closed (Payable)</option>
        <option value="published-closed-paid-admins">Published, Closed (Paid)</option>
        <option value="published-closed-rejected-admins">Published, Closed (Rejected)</option>
      </optgroup>
    </select>
  </div>
  <div class="nav-user field field-select">
    <label>
      <span class="label-text">User</span>
      <select>
        <option value="admin">Admin</option>
        <option value="vendor">Vendor</option>
      </select>
    </label>
  </div>
</header>
<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/logo/18F-Logo-Bright-L.png">
        {{site.title}}
        <span class="tagline">A marketplace for open source work</span>
      </a>
    </h1>
    <nav class="nav-header-nav">
      <div class="signed-in">
        <ul>
          <li class="nav-my-profile"><a href="{{site.baseurl}}/profile">My profile</a></li>
          <li class="nav-people"><a href="{{site.baseurl}}/people">People</a></li>
          <li class="nav-settings"><a href="{{site.baseurl}}/settings">Settings</a></li>
          <li class="nav-sign-out"><a class="a-sign-out" href="{{site.baseurl}}/">Sign out</a></li>
        </ul>        
      </div>
      <div class="signed-out">
        Use your <a href="https://github.com">GitHub</a> account to
        <a class="a-sign-in" href="#">Sign in</a>
        or
        <a class="a-sign-up" href="{{site.baseurl}}/sign-up">Sign up</a>
      </div>
    </nav>
  </div>
</header>