<footer class="site-footer">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <img src="/images/logo/18F-Logo-Bright-L.png">
        {{site.title}}
      </a>
    </h1>
    <nav class="nav-site-nav">
      <ul>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Policies</a></li>
        <li><a href="#">API Docs</a></li>  
      </ul>
    </nav>
    <nav class="nav-contact">
      <h2>Contact</h2>
      <a href="#">micropurchase@gsa.gov</a>
      <a href="#">View our code on GitHub</a>      
    </nav>
  </div>
</footer>