<div class="usa-grid">
  <h2>New customer</h2>

  <div class="customer-form">
    <%= simple_form_for [:admin, @view_model.new_record] do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
