<span class="bid-amount"><%= number_to_currency(@view_model.highlighted_bid_amount) %></span>
<span class=""><%=
                  link_to(
                  @view_model.auction_link_text,
                  auction_bids_path(@view_model.auction_id)
                  )
                  %>
</span>
