<div class="js-auction-view">
  <div class="auction-body">
    <div class="auction-description">
      <h2>Skills</h2>
      <%= auction.skills %>
      <%= auction.html_description %>
    </div>
  </div>
</div>
