<div class="auction-body">
  <div class="layout-auctions-show">
    <%= render partial: 'auctions/header', locals: { auction: auction } %>
  </div>

  <div class="github-issue">
    <%= auction.html_description %>
  </div>
</div>
