<% if auction.bids? %>
  <span class="current-bid-header">Current Bid:</span>
  <p><strong><%= number_to_currency(auction.current_bid_amount) %></strong>
    <%=
    link_to(
      pluralize(auction.bids.length, 'bid'),
      auction_bids_path(auction.id)
    )
    %>
  </p>
<% else %>
  <p>No bids yet</p>
<% end %>
<p>Ends in <%= distance_of_time_in_words(Time.now, auction.end_datetime) %></p>
