<div class="usa-alert usa-alert-<%= status.alert_class %>">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading"><%= status.header %></h3>
    <p class="usa-alert-text"><%= status.body %></p>
  </div>
</div>
