<div class="bid-deadline-box">
  <div class="bid-deadline-box-children">
    <%= auction.relative_time %>
  </div>
</div>

<div class="current-bid-box">
  <div class="current-bid-box-children">
    <%= render partial: auction.index_bid_summary_partial, locals: { auction: auction} %>
  </div>
</div>
