<div class="usa-alert usa-alert-success">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Bid Submitted! You currently have the winning bid.</h3>
    <p class="usa-alert-text">If your bid is selected as the winner, we will contact you with further instructions. <a class="button-view-bids" href="<%= my_bids_path %>">View your bids <icon class="fa fa-angle-double-right"></icon></a></p>
  </div>
</div>
