<div class="usa-width-one-third current-bid-box">
  <div class="current-bid-box-children">
<% if auction.bids? %>
    <span class="current-bid-header">Current bid:</span>
    <span class="current-bid"><%= number_to_currency(auction.current_bid_amount) %>  </span><br/>
    <span class="current-bid-link"><%=
    link_to(
      pluralize(auction.bids.length, 'bid'),
      auction_bids_path(auction.id)
    )
    %>
  </span>
<% else %>
  <p>No bids yet</p>
<% end %>
</div>
</div>

<div class="usa-width-one-third bid-deadline-box">
  <div class="bid-deadline-box-children">
  <span class="bid-deadline">
    Bid Deadline:  <%= distance_of_time_in_words(Time.now, auction.end_datetime) %> left
  </span><br/>
  <span class="bid-deadline">
    Bid start time: <%= auction.human_start_time %>
  </span>
</div>
</div>
