<div class="auction-detail-panel">
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading"><%= status.header %></h3>
      <p class="usa-alert-text"><%= raw status.body %></p>
    </div>
  </div>
</div>
