<%= simple_form_for Bid.new,
  url: auction_bid_confirmations_path(status.auction_id), class: "usa-form-large" do |f| %>
  <fieldset>
    <div class="usa-input-grid usa-input-grid-small">
      <%= f.input :amount %>
    </div>
    <div class="usa-input-grid usa-input-grid-small">
      <%= f.submit class: 'usa-button usa-button-outline auction-button' %>
    </div>
  </fieldset>
<% end %>
