<div class="current-bid-box">
  <div class="current-bid-box-children">
    <%= auction.index_bid_summary_partial %>
    <%= render partial: auction.index_bid_summary_partial, locals: {auction: auction} %>
  </div>
</div>


