<section class="usa-width-full">
  <section class="usa-grid usa-grid-top-padding">

    <section>
      <h1>FAQ</h1>

      <!-- <h2 class="h3" id="agency-savings">Is Micro-purchase saving agencies money?</h2> -->
      <h2 class="h3" id="agency-savings">Lorem ipsum?</h2>
      <p>Lorem ipsum by doing this and that</p>

      <!-- <h2 class="h3">How does the GSA avoid split purchases?</h2> -->
      <h2 class="h3">Ipsum lorem?</h2>
      <p>Lorem ipsum by doing this and that</p>

      <!-- <h2 class="h3">What kind of projects can I use Micro-purchase for?</h2> -->
      <h2 class="h3">Ipsum lorem?</h2>
      <p>Lorem ipsum dolor sit amet, consectetor. To learn more, check out <a class="link-highlighted" href="#">all archived opportunities <icon class="fa fa-angle-double-right"></icon></a></p>

      <!-- <h2 class="h3">What if it isn’t successful?</h2> -->
      <h2 class="h3">Lorem ipsum?</h2>
      <p>Lorem ipsum dolor sit amet, consecttetor. To learn more, check out <a class="link-highlighted" href="#">these unsuccessful opportunities <icon class="fa fa-angle-double-right"></icon></a></p>

      <!-- <h2 class="h3" id="auction-length">How long does an auction last?</h2> -->
      <h2 class="h3" id="auction-length">Lorem ipsum?</h2>
      <p>Lorem ipsum dolor sit amet, consecttetor.</p>

    </section>
  </section>
</section>
