<header class="auction">
  <div class="auction-header">
    <nav>
      <%= link_to 'Auction', '#', class: "nav-auction-show" %>
      <%= link_to 'Bids', '#', class: "nav-auction-bids"%>
    </nav>
  </div>
</header>
