<p class="auction-label">Current bid:</p>

<p class="auction-label-info">
  <span class="bid-amount"><%= auction.highlighted_bid_amount_as_currency %></span>
  <span>
    <%= link_to(auction.link_text, auction_bids_path(auction.id)) %>
  </span>
</p>
