<div class="usa-alert usa-alert-info auction-alert">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Auction Now Closed</h3>
    <p class="usa-alert-text">This auction ended with no bids.</p>
  </div>
</div>
