<div class="usa-alert usa-alert-success auction-alert">
  <div class="usa-alert-body"><h3>You are the winner</h3></div>
  <p class="usa-alert-text">Congratulations! We will contact you with further instructions.</p>
</div>
