<p class="auction-label">
  <%= "Winning bid (#{auction.lowest_bidder_name}):" %>
</p>

<p class="auction-label-info">
  <span class="bid-amount"><%= auction.winning_bid_amount_as_currency %></span>
  <span>
    <%= auction.bid_text %>
  </span>
</p>
