<ul class="issue-details-list">
  <% if defined? auction.auction_record.github_repo %>
    <li class="issue-details-list-item">
      <div class="issue-details-label">Project</div>
      <div class="issue-details-title"><a href="<%= auction.auction_record.github_repo %>"><i class="fa fa-github"></i> <%= auction.github_repo_stripped %></a></div>
    </li>

  <% end %>
  <% if defined? auction.formatted_type.capitalize %>
    <li class="issue-details-list-item">
      <div class="issue-details-label">Type</div>
      <div class="issue-details-title"><%= auction.formatted_type.capitalize %></div>
    </li>

  <% end %>
  <% if defined? auction.eligibility_label %>
    <li class="issue-details-list-item">
      <div class="issue-details-label">Eligibility</div>
      <div class="issue-details-title"><%= auction.eligibility_label %></div>
    </li>
  <% end %>
</ul>


