<li class="details-list-item">
  <div class="details-label">Project</div>
  <div class="details-title">
    <%= link_to auction.github_repo,
      auction.github_repo,
      target: '_blank',
      class: 'details-title' %>
  </div>
</li>
