<li class="issue-details-list-item">
  <div class="issue-details-label">Project</div>
  <div class="issue-details-title">
    <%= link_to auction.github_repo,
      auction.github_repo,
      target: '_blank',
      class: 'issue-details-title' %>
  </div>
</li>
