<li class="issue-details-list-item">
  <div class="issue-details-label">Project</div>
  <div class="issue-details-title">
    <%= link_to "<i class='fa fa-github'></i>#{auction.project_label}".html_safe,
      auction.github_repo,
      class: "issue-details-title" %>
  </div>
</li>
