<div class="auction-detail-panel">
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        <%= view_model.auction_status_presenter.body.html_safe %>
      </p>
    </div>
  </div>
</div>
