<% if defined? for_winners_page %>

<% else %>
	<div class="issue-bids-info-item">Bidding is closed</div>
<% end %>
<% if auction.bids? %>
  <div class="issue-bids-info-item"><% if defined? for_winners_page %><% else %>
  	<div class="issue-bids-info-item">Winning bid: </div>
	<% end %><%= auction.highlighted_bid_amount_as_currency %></div>
<% else %>
  <div class="issue-bids-info-item">No bids</div>
<% end %>
<% unless auction.over? or defined? for_winners_page %>
  <span class="issue-bids-info-item bid-deadline">
    Bid start time: <%= auction.human_start_time %>
  </span>
<% end %>
