<div class="issue-bids-info-item">Bidding is closed</div>
<% if auction.bids? %>
  <div class="issue-bids-info-item">Winning Bid: <%= number_to_currency(auction.current_bid_amount) %></div>
<% else %>
  <div class="issue-bids-info-item">No bids</div>
<% end %>
<% unless auction.over? %>
  <span class="issue-bids-info-item bid-deadline">
    Bid start time: <%= auction.human_start_time %>
  </span>
<% end %>
