<div class="usa-width-one-half">Bidding is closed</div>
<% if auction.bids? %>
  <div class="usa-width-one-half">Winning Bid: <%= number_to_currency(auction.current_bid_amount) %></div>
<% else %>
  <div class="usa-width-one-half">No bids</div>
<% end %>
<% unless auction.over? %>
  <span class="bid-deadline">
    Bid start time: <%= auction.human_start_time %>
  </span>
<% end %>
