<p>Bidding is closed</p>
<% if auction.bids? %>
  <p>Winning Bid:</p>
  <p><%= number_to_currency(auction.current_bid_amount) %></p>
<% else %>
  <p>No bids</p>
<% end %>
<% unless auction.over? %>
  <span class="bid-deadline">
    Bid start time: <%= auction_human_start_time(auction.start_datetime) %>
  </span>
<% end %>
