<div class="issue-bids-info-item">Bidding is closed</div>

<%= render partial: auction.winning_bid_partial, locals: { auction: auction } %>
<%= render partial: auction.start_time_partial, locals: { auction: auction } %>
