
<h1>Welcome to 18F's Micro-purchase Threshold experiment.</h1>

<a href="/my-bids">View my bids »</a>

<h2>Here are current issues open for bid:</h2>

<div class="table-container">
  <table class="usa-table-borderless table-open-issue-list">
    <tbody>
      <% 6.times do %>
        <%= render partial: '/bids/bid_row_cell' %>
      <% end %>
    </tbody>
  </table>
</div>

