<h1>Welcome to 18F’s micro-purchase experiment.</h1>

<a href="/bids">View my bids »</a>

<h2>Here are the current issues open for bidding:</h2>

<div class="usa-grid-full">
  <hr class='usa-size-one-whole'>
  <% @auctions.each do |auction| %>
    <%= render partial: 'list_item', locals: {auction: auction} %>
    <hr>
  <% end %>
</div>
