<h1>Rules for multi-bid auctions</h1>

<ul class="usa-numbered-list">
	<li>Vendors may bid multuple times per auction.</li>

	<li>Anonymized bidding data is available during the auction.</li>

	<li>The amount of each bid is revealed during live auctions.</li>

	<li>It is impossible to place a tying bid.</li>
</ul>

