<h1>Rules for reverse auctions</h1>

<p>A Reverse Auction is the first auction type 18F has used throughout the course of the micro-purchase experiment. It is a standard reverse auction where bids begin at $3,500. The lowest possible bid is $1, and an auction automatically ends once a $1 bid has been submitted. Vendors are allowed to submit multiple bids throughout the duration of the auction.</p>

<p>Bidders will see whether they are the winning bidder after submitting a bid, and will have an opportunity to submit a lower bid if the auction is still running. The GitHub user names and DUNS numbers of participating bidders are hidden during the auction, but the full bid history will be visible after bidding is over.</p>


