<h1>Rules for sealed-bid auction</h1>

<p>A Sealed Bid Auction is a type of reverse auction. Each vendor (based on a user's DUNS number) is allowed to submit only one bid in an auction. Once a bid is submitted, the vendor may not submit a second bid for the same auction.</p>

<p>Like the first form of the micro-purchase experiment, the lowest bidder at the conclusion of the auction will still win the auction. In the event that one or more vendors have the same bid amount, the vendor who was first to submit the lowest bid amount will win the auction.</p>

<p>All bids will stay sealed until the end of the auction. A vendor will not know the amounts other vendors have bid on the auction, or how many bids have been submitted. At the end of the auction, vendor GitHub accounts, DUNS numbers, and bid amounts will be unsealed and posted on the micro-purchase platform.</p>
