<h1>Rules for single-bid auction</h1>

<p>You can only bid once.</p>

<p>All bidding data is witheld until the auction ends. This means even the existence of other bids is not revealed until the auction is over.</p>

<p>In the case of a tie, the bid that was placed first amongst the tying bids will be the winning bid.</p>
