<% content_for :title do %>18F Micro-purchase - Admin Login<% end %>

<div class="usa-grid">
  <div class="usa-width-one-half">
    <h1>Admin sign in</h1>
    <p>
      <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
    </p>
    <p>
      <a href='/auth/saml' class='usa-button usa-button usa-button-outline'>
        <%= image_tag 'login-gov.svg', 
          class: 'align-middle', 
          width: '125',
          alt: 'Authorize with Login.gov' %>
      </a>
    </p>
  </div>
</div>
