<% content_for :title do %>18F Micro-purchase - Admin Login<% end %>

<div class="usa-grid">
  <div class="usa-width-one-half">
    <h1>Admin sign in</h1>
    <p>
      <%= link_to 'Authorize with GitHub',
        '/auth/github',
        class: 'usa-button usa-button usa-button-outline' %>
    </p>
    <div class="mb1 right-align login_gov">
      <%= link_to 'Authorize with Login.gov',
        '/auth/saml',
        class: 'usa-button usa-button usa-button-outline' %>
    </div>
  </div>
</div>
