<h2 id="requests">Requests</h2>

<p>All API access is over HTTPS and all data is returned as
JSON. There is no reason to specify the content type for the
response.</p>

<p>Errors will return with the appropriate HTTP status code. In
addition, all errors return a
standardized <a href="#definition-Error">Error</a> response with an
error string within it.</p>
