<h2 id="support">Support</h2>

<p>If you are having trouble with the API, there are several ways to get help:</p>

<ul>
<li>File an <a href="https://github.com/18F/micropurchase/issues/new)">issue</a></li>
<li>Email us at <%= mail_to 'micropurchase@gsa.gov' %>.</li>
</ul>

<p>If there's anything missing or incorrect in the API documentation,
please file
an <a href="https://github.com/18F/micropurchase-api-docs/issues/new">issue</a>. As
with any 18F API, it is our goal that the Micro-purchase API adhere to
our <a href="https://github.com/18f/api-standards">API
standards</a>. Please hold us accountable to these standards.</p>
