---
excerpt: none
permalink: people/admins/
---

{% include head.html %}
<body class="no-js layout-admins-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      {% include people-index-header.html %}
      <a href="{{site.baseurl}}/people/admins/new" class="button">Add new</a>
      <table>
        <thead>
          <tr>
            <td class="col-name">Name</td>
            <td class="col-email-address">Email address</td>
            <td class="col-github-id">GitHub ID</td>
            <td class="col-contracting-officer"><abbr title="Contracting officer">CO</abbr></td>
            <td class="col-actions">Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-name">Whosit Whatshisface</td>
            <td class="col-email-address">who.is@gsa.gov</td>
            <td class="col-github-id">1111</td>
            <td class="col-contracting-officer">True</td>
            <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
          </tr>
          <tr>
            <td class="col-name">Alan DeLevie</td>
            <td class="col-email-address">alan.delevie@gsa.gov</td>
            <td class="col-github-id">1234</td>
            <td class="col-contracting-officer col-contracting-officer-false">False</td>
            <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
          </tr>
          <tr>
            <td class="col-name">Michael Torres</td>
            <td class="col-email-address">michael.torres@gsa.gov</td>
            <td class="col-github-id">4395</td>
            <td class="col-contracting-officer col-contracting-officer-false">False</td>
            <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
          </tr>
          <tr>
            <td class="col-name">Whosit Whatshisface</td>
            <td class="col-email-address">who.is@gsa.gov</td>
            <td class="col-github-id">5555</td>
            <td class="col-contracting-officer">True</td>
            <td class="col-actions"><a href="{{site.baseurl}}/people/new-admin/">Edit</a></td>
          </tr>
        </tbody>
      </table>
      <nav class="pagination">
        <a href="#" class="pagination-prev is-disabled">Prev</a>
        <span class="pagination-page is-current">1</span>
        <a class="pagination-page" href="#">2</a>
        <a class="pagination-page" href="#">3</a>
        <a href="#" class="pagination-next">Next</a>
        <p class="pagination-signpost">
          Showing 
          <span class="pagination-range">1 - 10</span> 
          <span class="preposition">of</span> 
          <span class="pagination-total">23</span> vendors.
        </p>
      </nav>
    </div>
  </main>
  {% include site-footer.html %}
</body>