<div class="usa-grid docs">
  <h1>About</h1>

  <p class="usa-font-lead"> 18F Micro-purchase is <a
    href="https://18f.gsa.gov/2015/10/13/open-source-micropurchasing/"
    target="_blank">an experiment in federal acquisition</a>. Our team is
  passionate about making it easier for individuals and businesses, or “vendors,”
  to leverage their technical expertise toward building the open source software
  that powers federal agencies — and vice versa.</p>

  <p>Conceptually, the platform is simple: 18F Micro-purchase functions as a
  reverse auction house. Federal agencies work with 18F to create auctions which
  start at $3,500 or less (this is the ceiling of our micro-purchase authority,
  the authority from which we draw our name). Vendors, for their part, evaluate
  auctions, review any source code associated with that auction, and place their
  bids. At the end of each auction, winners deliver their work in accordance with
  our policy and 18F remits payment.</p>

  <p>We invite everyone to take part in this experiment. Vendors need only have
  GitHub and SAM.gov accounts to sign up and place a bid. If you work in
  government and are interested in running auctions for an open-source project,
  <a href="/docs/getting_started/">read our getting started guide</a>, and get
  in touch. We’re available to scope
  features, develop an auction strategy, and run your auctions!</p>

  <p>PS: Although many of the auctions we’ve run thus far have asked for code, we
  hope that this process can be applied to any kind of contribution to an open
  source project, including design, content, etc.</p>

  <p>PPS: We will also soon be extending the experiment to auctions with
  starting prices of $25,000 or less.</p>

  <h2>Our team</h2>

  <ul>
    <li><a href="https://18f.gsa.gov/team/alan/" target="_blank">Alan deLevie</a>, Developer</li>
    <li><a href="https://18f.gsa.gov/team/jacobharris/" target="_blank">Jacob Harris</a>, Developer</li>
    <li><a href="https://18f.gsa.gov/team/andrewmaier/" target="_blank">Andrew Maier</a>, Designer</li>
    <li><a href="https://18f.gsa.gov/team/michael-torres/" target="_blank">Michael Torres</a>, Product Manager</li>
    <li><a href="https://18f.gsa.gov/team/jessie/" target="_blank">Jessie Young</a>, Developer</li>
    <li><a href="https://18f.gsa.gov/team/vdavez/" target="_blank">Dave Zvenyach</a>, Product Owner</li>
  </ul>

  <h2>More information</h2>
  <ul>
  <li><a href="https://18f.gsa.gov/tags/micro-purchase-platforms/" target="_blank">Blog posts</a></li>
  <li><a href="/insights" target="_blank">Insights</a></li>
  </ul>
</div>
