---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-approval">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <form action="{{site.baseurl}}/auctions/edit">
        <h1>Submit for approval?</h1>
        <p>You&rsquo;ve specified that 18F&rsquo;s p-card will be used to pay for this auction. 18F&rsquo;s p-card cannot be used without first being granted approval in CommuniCart. Would you like to submit this auction to CommuniCart for approval now?</p>
        <footer>
          <button>Submit for approval</button>
          <a href="{{site.baseurl}}/auctions/edit">Not now</a>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>