---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-bids">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <nav class="breadcrumbs">
    <div class="wrapper">
      <ol>
        <li><a href="{{site.baseurl}}/">Auctions</a></li>
        <li>Open Opportunities: Create Agency Admin User Role</li>
      </ol>
    </div>
  </nav>
  <main class="auction" role="main" id="main">
    <div class="wrapper">
      {% include auction_header.html %}
      <table>
        <thead>
          <tr>
            <th class="col-name">Name</th>
            <th class="col-duns">DUNS</th>
            <th class="col-amount">Amount</th>
            <th class="col-timestamp">Timestamp (EDT)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="th">
            <td colspan="4">
              March 28, 2016
            </td>
          </tr>
          <tr class="is-winning">
            <td class="col-name">Keyon Barrows</td>
            <td class="col-duns">57-681-4085</td>
            <td class="col-amount">$3,410.00</td>
            <td class="col-timestamp">10:52:09 PM</td>
          </tr>
          <tr>
            <td class="col-name">Bertrand Nitzsche</td>
            <td class="col-duns">48-484-9667</td>
            <td class="col-amount">$3,438.00</td>
            <td class="col-timestamp">10:50:55 PM</td>
          </tr>
          <tr>
            <td class="col-name">Litzy Mosciski</td>
            <td class="col-duns">34-610-8045</td>
            <td class="col-amount">$3,453.00</td>
            <td class="col-timestamp">10:49:42 PM</td>
          </tr>
          <tr>
          <td class="col-name">Cesar Cruickshank</td>
          <td class="col-duns">06-557-8118</td>
          <td class="col-amount">$3,470.00</td>
          <td class="col-timestamp">10:48:33 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  {% include site-footer.html %}
</body>