---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-auctions-closed">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="h-feed">
      <div class="wrapper">
      {% include auctions-index-header.html %}
      <section class="section-delivered">
        <h1>Delivered</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-ending">Ending</td>
              <td class="col-status">Status</td>
              <td class="col-actions">Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-ending">2 days ago</td>
              <td class="col-status">You won!</td>
              <td class="col-actions">Issue pull request</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-ending">22 hours</td>
              <td class="col-status">You have the low bid.</td>
              <td class="col-actions">None</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-ending">7/25/2016</td>
              <td class="col-status">You've been outbid!</td>
              <td class="col-actions">Place bid</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Something wicked this way comes</a></td>
              <td class="col-ending">7/26/2016</td>
              <td class="col-status">Bid placed</td>
              <td class="col-actions">None</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="rejected">
        <h1>Rejected</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery deadline</td>
              <td class="col-delivery-url">Delivery link</td>
              <td class="col-vendor">Vendor</td>
              <td class="col-rejected-at">Rejected at</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Tock superusers should be able to enter 0-60 hour weeks</a></td>
              <td class="col-delivery-deadline"><span class="date">February 02, 2016</span> <span class="time">05:00:00 PM EST</span></td>
              <td class="col-delivery-url">Delivery link</td>
              <td class="col-vendor">WhoIsIt WhatsHisFace</td>
              <td class="col-rejected-at"><span class="date">February 01, 2016</span> <span class="time">02:31:07 PM EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Save hours in Tock throughout the week</a></td>
              <td class="col-delivery-deadline"><span class="date">February 02, 2016</span> <span class="time">05:00:00 PM EST</span></td>
              <td class="col-delivery-url">Delivery link</td>
              <td class="col-vendor">WhoIsIt WhatsHisFace</td>
              <td class="col-rejected-at"><span class="date">February 01, 2016</span> <span class="time">02:31:07 PM EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Tock superusers should be able to enter 0-60 hour weeks</a></td>
              <td class="col-delivery-deadline"><span class="date">February 02, 2016</span> <span class="time">05:00:00 PM EST</span></td>
              <td class="col-delivery-url">Delivery link</td>
              <td class="col-vendor">WhoIsIt WhatsHisFace</td>
              <td class="col-rejected-at"><span class="date">February 01, 2016</span> <span class="time">02:31:07 PM EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Save hours in Tock throughout the week</a></td>
              <td class="col-delivery-deadline"><span class="date">February 02, 2016</span> <span class="time">05:00:00 PM EST</span></td>
              <td class="col-delivery-url">Delivery link</td>
              <td class="col-vendor">WhoIsIt WhatsHisFace</td>
              <td class="col-rejected-at"><span class="date">February 01, 2016</span> <span class="time">02:31:07 PM EST</span></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>
