---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-edit">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <div class="notice">
    You are currently editing this auction.
    <button class="button">Save edits</button>
    or
    <a href="{{site.baseurl}}/auctions/show">cancel</a> and return.
  </div>
  <main class="auction h-entry" role="main" id="main">
    <div class="wrapper">
      <header class="auction-header">
        <div class="field field-title">
          <label>
            <span class="label-text">Title</span>
            <input type="text" name="" value="Open Opportunities: Create Agency Admin User Role" placeholder="title">
          </label>
        </div>
        <div class="field field-starting-bid">
          <label>
            <span class="label-text">Starting bid</span>
            <input type="text" name="">
          </label>
        </div>
        <div class="field field-select field-status">
          <label>
            <span class="label-text">Status</span>
            <select>
              <option>Open</option>
              <option>Closed</option>
            </select>
          </label>
        </div>      
      </header>
      <div class="page">
        <div class="field">
          <label>
            <span class="label-text">Project background</span>
            <textarea rows="10">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</textarea>
          </label>
        </div>
        <div class="field">
          <label>
            <span class="label-text">Acceptance criteria</span>
            <textarea rows="15">
          ### Conditions for the test to fail
          When the bug is present, and a user who is not the task creator comments on the task, and no email is generated
          Then test(s) written as part of this micro-purchase will fail.

            </textarea>
          </label>
        </div>    
      </div>
      <footer class="auction-footer">
        <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
          <div class="field field-date">
            <label>
              <span class="label-text">Start date</span>
              <input type="date" name="">
            </label>
          </div>
          <fieldset class="fieldset fieldset-time">
            <legend>Start time</legend>
            <div class="field field-select field-time-hours">
              <label>
                <span class="label-text">Hours</span>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </label>
            </div>
            <div class="field field-select field-time-minutes">
              <label>
                <span class="label-text">Minutes</span>
                <select>
                  <option>00</option>
                  <option>15</option>
                  <option>30</option>
                  <option>45</option>
                </select>
              </label>
            </div>
            <div class="field field-select field-time-meridiem">
              <label>
                <span class="label-text">Meridiem</span>
                <select>
                  <option>AM</option>
                  <option>PM</option>
                </select>
              </label>
            </div>
            <span class="time-zone">EST</span>
          </fieldset>
        </fieldset>
        <dl>
          <dt>End date/time: </dt>
          <dd>7/11/2016 at 5:30pm</dd>
          <dt>Delivery deadline:</dt>
          <dd>7/18/2016 at 5:30pm</dd>
        </dl>
        <p class="help-text">
          By default, auctions are listed for one week and vendors have five business days to deliver. <a href="#">Edit</a>
        </p>
        <aside class="branch">
          <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
            <div class="field field-date">
              <label>
                <span class="label-text">End date</span>
                <input type="date" name="">
              </label>
            </div>
            <fieldset class="fieldset fieldset-time">
              <legend>End time</legend>
              <div class="field field-select field-time-hours">
                <label>
                  <span class="label-text">Hours</span>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-minutes">
                <label>
                  <span class="label-text">Minutes</span>
                  <select>
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-meridiem">
                <label>
                  <span class="label-text">Meridiem</span>
                  <select>
                    <option>AM</option>
                    <option>PM</option>
                  </select>
                </label>
              </div>
              <span class="time-zone">EST</span>
            </fieldset>
          </fieldset>
          <fieldset class="fieldset fieldset-date-time fieldset-delivery-date-time">
            <div class="field field-date">
              <label>
                <span class="label-text">Delivery date</span>
                <input type="date" name="">
              </label>
            </div>
            <fieldset class="fieldset fieldset-time">
              <legend>Delivery time</legend>
              <div class="field field-select field-time-hours">
                <label>
                  <span class="label-text">Hours</span>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-minutes">
                <label>
                  <span class="label-text">Minutes</span>
                  <select>
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-meridiem">
                <label>
                  <span class="label-text">Meridiem</span>
                  <select>
                    <option>AM</option>
                    <option>PM</option>
                  </select>
                </label>
              </div>
              <span class="time-zone">EST</span>
            </fieldset>
          </fieldset>
        </aside>
        <div class="field">
          <label>
            <span class="label-text">Github Repo</span>
            <input type="text" name="">
          </label>
        </div>
        <section class="auction-bill-to">
          <div class="field field-select">
            <label>
              <span class="label-text">Customer</span>
              <select>
                <option>Customer 1</option>
                <option>Customer 2</option>
              </select>
            </label>
          </div>    
          <div class="field field-select">
            <label>
              <span class="label-text">Purchase card</span>
              <select>
                <option>Customer 1</option>
                <option>Customer 2</option>
              </select>
            </label>
          </div>    
        </section>
      </footer>
    </div>
  </main>
  {% include site-footer.html %}
</body>