---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-edit">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <form action="{{site.baseurl}}/auctions/show">
        <div class="fields">
          <div class="field field-title">
            <label>
              <span class="label-text">Title</span>
              <input type="text" name="" value="Open Opportunities: Create Agency Admin User Role" placeholder="title">
            </label>
          </div>
          <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
            <legend>Auction starts</legend>
            <div class="field field-date">
              <label>
                <span class="label-text">Date</span>
                <input type="date" name="">
              </label>
            </div>
            <fieldset class="fieldset fieldset-time">
              <legend>Time</legend>
              <div class="field field-select field-time-hours">
                <label>
                  <span class="label-text">Hours</span>
                  <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12" selected>12</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-minutes">
                <label>
                  <span class="label-text">Minutes</span>
                  <select>
                    <option value="00" selected>00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-meridiem">
                <label>
                  <span class="label-text">Meridiem</span>
                  <select>
                    <option value="AM" selected>AM</option>
                    <option value="PM">PM</option>
                  </select>
                </label>
              </div>
              <span class="time-zone">EST</span>
            </fieldset>
          </fieldset>
          <aside class="branch">
            <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
              <legend>Auction ends</legend>
              <span class="fieldset-date-time-summary">
                <span class="date">Undefined</span> at <span class="time-hours">12</span>:<span class="time-minutes">00</span><span class="time-meridiem">AM</span> EST
              </span>
              <div class="field field-date">
                <label>
                  <span class="label-text">Date</span>
                  <input type="date" name="">
                </label>
              </div>
              <fieldset class="fieldset fieldset-time">
                <legend>Time</legend>
                <div class="field field-select field-time-hours">
                  <label>
                    <span class="label-text">Hours</span>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </label>
                </div>
                <div class="field field-select field-time-minutes">
                  <label>
                    <span class="label-text">Minutes</span>
                    <select>
                      <option>00</option>
                      <option>15</option>
                      <option>30</option>
                      <option>45</option>
                    </select>
                  </label>
                </div>
                <div class="field field-select field-time-meridiem">
                  <label>
                    <span class="label-text">Meridiem</span>
                    <select>
                      <option>AM</option>
                      <option>PM</option>
                    </select>
                  </label>
                </div>
                <span class="time-zone">EST</span>
              </fieldset>
            </fieldset>
            <section class="delivery">
              <h1>Delivery timeline</h1>
              <div class="estimate">
                <h2>Estimated delivery date</h2>
                <span class="delivery-estimate"><span class="date">Undefined</span> at <span class="time-hours">12</span>:<span class="time-minutes">00</span><span class="time-meridiem">AM</span> EST</span>
              </div>
              <div class="field">
                <label>
                  <span class="label-text">Days</span>
                  <input type="number" name="" value="5">
                </label>
              </div>
            </section>
          </aside>
          <p class="help-text p-date-time-defaults">By default, auctions are listed for one week and vendors have five business days to deliver. <a href="#" class="a-customize-timeline">Edit</a></p>
          <div class="field field-starting-bid">
            <label>
              <span class="label-text">Starting bid</span>
              <input type="number" name="" value="3500">
            </label>
          </div>
          <div class="field field-checkbox field-sealed-bid">
            <label>
              <input type="checkbox" name="" checked>
              <span class="label-text">Seal bids until auction closes</span>
            </label>
          </div>        
          <div class="field field-summary">
            <label>
              <span class="label-text">Summary</span>
              <textarea rows="10">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</textarea>
              <p class="help-text">Please provide a brief description of the auction, in 250 characters or less. This text is used across the site in auction previews. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
            </label>
          </div>
          <div class="field field-description-and-acceptance-criteria">
            <label>
              <span class="label-text">Description and acceptance criteria</span>
              <textarea rows="15">Registered users on micropurchase.18f.gov may bid to deliver the requirements in this auction. The lowest bidder at the time the auction closes shall receive the award. The awarded bidder shall have five business days to deliver the requirements. Upon successful completion of the requirements, 18F shall pay the winning bidder. See our rules page.
              </textarea>
              <p class="help-text">Please provide a brief description of the project as a whole (or link to your README), the task at hand, and acceptance criteria. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
            </label>
          </div> 
         <fieldset class="fieldset fieldset-skills">
            <legend>Skills</legend>
            <a href="#" class="button">Add new</a>
            <div class="fieldset-skills-wrapper">
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Ruby</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">HTML</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">CSS</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Javascript</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Python</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">DevOps</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Design</span>
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset fieldset-github">
            <legend>GitHub</legend>
            <div class="field field-github-project-url">
              <label>
                <span class="label-text">Project URL</span>
                <input type="text" name="" placeholder="https://www.github.com/org/my-cool-project">
              </label>
            </div>
            <div class="field field-github-issue-number">
              <label>
                <span class="label-text">Issue #</span>
                <input type="text" name="">
              </label>
            </div>
          </fieldset>   
          <fieldset class="fieldset fieldset-payment">
            <legend>Payment</legend>
            <div class="field field-select field-customer">
              <label>
                <span class="label-text">Customer</span>
                <select>
                  <option>Customer 1</option>
                  <option>Customer 2</option>
                </select>
              </label>
            </div>    
            <div class="field field-select field-purchase-card">
              <label>
                <span class="label-text">Purchase card</span>
                <select>
                  <option>18F (pending approval)</option>
                  <option>Customer 2</option>
                </select>
              </label>
            </div>    
        </fieldset>
        <div class="field field-notes field-textarea">
          <label>
            <span class="label-text">Notes</span>
            <textarea rows="4"></textarea>
            <p class="help-text">Note are only viewable by admins.</p>
          </label>
        </div> 

          <div class="field field-checkbox">
            <input type="checkbox" name="">
            <span class="label-text">Unpublish this auction</span>
            <span class="help-text">
              Vendors cannot view or submit bids on unpublished auctions. Unpublished auctions appear in your &ldquo;Needs attention&rdquo; page as drafts. You cannot unpublish an auction once it has a bid.
            </span>
          </div>
        </div>
        <footer>
          <button class="button">Save</button>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>