---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-edit">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <form>
        <div class="field field-title">
          <label>
            <span class="label-text">Title</span>
            <input type="text" name="" value="Open Opportunities: Create Agency Admin User Role" placeholder="title">
          </label>
        </div>
        <fieldset class="fieldset fieldset-date-time fieldset-start-date-time">
          <legend>Auction starts</legend>
          <div class="field field-date">
            <label>
              <span class="label-text">Date</span>
              <input type="date" name="">
            </label>
          </div>
          <fieldset class="fieldset fieldset-time">
            <legend>Time</legend>
            <div class="field field-select field-time-hours">
              <label>
                <span class="label-text">Hours</span>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </label>
            </div>
            <div class="field field-select field-time-minutes">
              <label>
                <span class="label-text">Minutes</span>
                <select>
                  <option>00</option>
                  <option>15</option>
                  <option>30</option>
                  <option>45</option>
                </select>
              </label>
            </div>
            <div class="field field-select field-time-meridiem">
              <label>
                <span class="label-text">Meridiem</span>
                <select>
                  <option>AM</option>
                  <option>PM</option>
                </select>
              </label>
            </div>
            <span class="time-zone">EST</span>
          </fieldset>
        </fieldset>
        <aside class="branch">
          <fieldset class="fieldset fieldset-date-time fieldset-end-date-time">
            <legend>Auction ends</legend>
            <span class="fieldset-date-time-summary">7/11/2016 at 5:30pm EST</span>
            <div class="field field-date">
              <label>
                <span class="label-text">End date</span>
                <input type="date" name="">
              </label>
            </div>
            <fieldset class="fieldset fieldset-time">
              <legend>End time</legend>
              <div class="field field-select field-time-hours">
                <label>
                  <span class="label-text">Hours</span>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-minutes">
                <label>
                  <span class="label-text">Minutes</span>
                  <select>
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-meridiem">
                <label>
                  <span class="label-text">Meridiem</span>
                  <select>
                    <option>AM</option>
                    <option>PM</option>
                  </select>
                </label>
              </div>
              <span class="time-zone">EST</span>
            </fieldset>
          </fieldset>
          <fieldset class="fieldset fieldset-date-time fieldset-delivery-date-time">
            <legend>Delivery deadline</legend>
            <span class="fieldset-date-time-summary">7/16/2016 at 5:30pm EST</span>
            <div class="field field-date">
              <label>
                <span class="label-text">Delivery date</span>
                <input type="date" name="">
              </label>
            </div>
            <fieldset class="fieldset fieldset-time">
              <legend>Delivery time</legend>
              <div class="field field-select field-time-hours">
                <label>
                  <span class="label-text">Hours</span>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-minutes">
                <label>
                  <span class="label-text">Minutes</span>
                  <select>
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                  </select>
                </label>
              </div>
              <div class="field field-select field-time-meridiem">
                <label>
                  <span class="label-text">Meridiem</span>
                  <select>
                    <option>AM</option>
                    <option>PM</option>
                  </select>
                </label>
              </div>
              <span class="time-zone">EST</span>
            </fieldset>
          </fieldset>
        </aside>
        <p class="help-text">By default, auctions are listed for one week and vendors have five business days to deliver. <a href="#">Edit</a></p>
        <div class="field field-starting-bid">
          <label>
            <span class="label-text">Starting bid</span>
            <input type="number" name="">
          </label>
        </div>
        <div class="field field-checkbox field-sealed-bid">
          <label>
            <input type="checkbox" name="">
            <span class="label-text">Seal bids until auction closes</span>
          </label>
        </div>        
        <div class="field field-summary">
            <label>
              <span class="label-text">Summary</span>
              <textarea rows="10">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</textarea>
              <p class="help-text">Please provide a brief description of the auction, in 250 characters or less. This text is used across the site in auction previews. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
          </label>
        </div>
        <div class="field field-description-and-acceptance-criteria">
          <label>
            <span class="label-text">Description and acceptance criteria</span>
            <textarea rows="15">Registered users on micropurchase.18f.gov may bid to deliver the requirements in this auction. The lowest bidder at the time the auction closes shall receive the award. The awarded bidder shall have five business days to deliver the requirements. Upon successful completion of the requirements, 18F shall pay the winning bidder. See our rules page.
            </textarea>
            <p class="help-text">Please provide a brief description of the project as a whole (or link to your README), the task at hand, and acceptance criteria. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
          </label>
        </div> 
        <fieldset class="fieldset fieldset-github">
          <legend>GitHub</legend>
          <div class="field field-github-project-url">
            <label>
              <span class="label-text">Project URL</span>
              <input type="text" name="" placeholder="https://www.github.com/org/my-cool-project">
            </label>
          </div>
          <div class="field field-github-issue-number">
            <label>
              <span class="label-text">Issue #</span>
              <input type="text" name="">
            </label>
          </div>
        </fieldset>   
        <fieldset class="fieldset fieldset-payment">
          <legend>Payment</legend>
          <div class="field field-select field-customer">
            <label>
              <span class="label-text">Customer</span>
              <select>
                <option>Customer 1</option>
                <option>Customer 2</option>
              </select>
            </label>
          </div>    
          <div class="field field-select field-purchase-card">
            <label>
              <span class="label-text">Purchase card</span>
              <select>
                <option>18F (pending approval)</option>
                <option>Customer 2</option>
              </select>
            </label>
          </div>    
          <div class="notice">
            <p>18F p-cards cannot be used without first having been granted approval in C2 (CommuniCart).</p>
          </div>
        </fieldset>
        <footer>
          <button class="button">Save</button>
          <div class="field field-checkbox field-sealed-bid">
            <label>
              <input type="checkbox" name="">
              <span class="label-text">Published</span>
            </label>
          </div>        

        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>