---
excerpt: none
permalink: /
---

{% include head.html %}
<body class="no-js layout-auctions-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  {% include auctions-index-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <article class="h-entry auction is-closing-soon">
        <a href="{{site.baseurl}}/auctions/show">
          <header class="auction-header">
            <h1 class="p-name auction-name">
              Offer AWS SQS as a managed service via cloud.gov 
            </h1>
            <a class="button" href="{{site.baseurl}}/auctions/edit">Edit</a>
            <dl>
              <dt class="auction-status">Status</dt>
              <dd class="auction-status auction-status-open">Open</dd>
              <dt class="auction-time-remaining">Time remaining</dt>
              <dd class="auction-time-remaining">1 hour</dd>
              <dt class="auction-current-bid">Current bid</dt>
              <dd class="auction-current-bid">$2,750.00</dd>
            </dl>
          </header>
          <p class="p-summary auction-summary">Cloud.gov is a deployment and hosting platform for government digital services. Cloud.gov uses brokers to manage the lifecycle of services for its users. Cloud.gov invokes the AWS broker using the CloudFoundry Service Broker API to manage various AWS services for use by applications deployed to&hellip;</p>
        </a>
        <footer class="auction-footer">
          <ul>
            <li class="auction-project">
              <h2>Project</h2>
              <span><a href="https://github.com/18F/dolores-landingham-bot">Dolores Landingham</a></span>
            </li>
            <li class="auction-skills">
              <h2>Skills</h2>
              <ul>
                <li>Python</li>
                <li>Django</li>
              </ul>
            </li>
          </ul>
        </footer>
      </article>
      {% include _auction.html %}
      {% include _auction.html %}
      {% include _auction.html %}
      {% include _auction.html %}
      <div class="boilerplate">
        <h1>No coming soon or open auctions</h1>
        <p>Arg! It looks like we don&rsquo;t have any auctions that are coming soon or open at this time. In the meantime, consider taking a look at our <a href="{{site.baseurl}}/auctions/closed">closed auctions</a>, or reading more <a href="{{site.baseurl}}">about the site itself</a>.</p>
      </div>
      <form class="sort">
        <h1>Sort</h1>
        <div class="field field-select">
          <label>
            <span class="label-text">Sort by</span>
            <select>
              <option>Skills</option>
              <option>Agency</option>
              <option>Project</option>
              <option>Time remaining</option>
              <option>Current bid</option>
            </select>
          </label>
        </div>
        <div class="field field-select">
          <label>
            <span class="label-text">Sort order</span>
            <select>
              <option>Ascending</option>
              <option>Descending</option>
            </select>
          </label>
        </div>
        <button>Submit</button>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>