---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-auctions-needs-attention">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  {% include auctions-index-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <h1>Needs attention</h1>
      <div class="boilerplate">
        <p>Hooray! There aren&rsquo;t any auctions in need of your attention right now. Maybe take a look at the auctions that are <a href="{{site.baseurl}}/">coming soon and open</a>? </p>
      </div>
      <section class="section-coming-soon">
        <h1>Coming soon</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-opening-date">Opens on</td>
              <td class="col-closing-date">Closes on</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-opening-date"><span class="date">7/25/2016</span> <span class="time">10:00am EST</span></td>
              <td class="col-closing-date"><span class="date">7/25/2016</span> <span class="time">10:00am EST</span></td>
              <td class="col-status">Coming soon</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-opening-date"><span class="date">8/3/2016</span> <span class="time">12:00am EST</span></td>
              <td class="col-closing-date"><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></td>
              <td class="col-status">Coming soon</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-opening-date is-blank">Not specified</td>
              <td class="col-closing-date is-blank">Not specified</td>
              <td class="col-status">Pending C2 approval</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
              <td class="col-opening-date is-blank">Not specified</td>
              <td class="col-closing-date is-blank">Not specified</td>
              <td class="col-status">Ready to publish</td>
            </tr>
          </tbody>
        </table>      
      </section>
      <section class="section-open-admins">
        <h1>Open</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Auction</td>
              <td class="col-closing-date">Closes on</td>
              <td class="col-low-bid">Low bid</td>
              <td class="col-bid-num"># bids</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-closing-date"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-low-bid">$450</td>
              <td class="col-bid-num">1</td>
              <td class="col-status">Accepting bids</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-closing-date"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-low-bid is-blank"></td>
              <td class="col-bid-num">0</td>
              <td class="col-status">Accepting bids</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-closing-date"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-low-bid">$1450</td>
              <td class="col-bid-num">12</td>
              <td class="col-status">Accepting bids</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
              <td class="col-closing-date"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-low-bid is-blank"></td>
              <td class="col-bid-num">0</td>
              <td class="col-status">Accepting bids</td>
            </tr>
          </tbody>
        </table>      
      </section>
      <section class="section-open-vendors">
        <h1>Open</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Auction</td>
              <td class="col-bid">Your bid</td>
              <td class="col-closing-date">Closes on</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-bid">$450</td>
              <td class="col-closing-date"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Bid placed</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-bid">$1337</td>
              <td class="col-closing-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Bid placed</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-bid">$1337</td>
              <td class="col-closing-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Bid placed</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
              <td class="col-bid">$500</td>
              <td class="col-closing-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">You&rsquo;ve been underbid</td>
            </tr>
          </tbody>
        </table>      
      </section>
      <section class="section-delivery-admins">
        <h1>Delivery</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Deadline</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=ready-for-work-admins">Stand-alone modular utilisation</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/22/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Ready for work</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=delivery-past-due-admins">Stand-alone modular utilisation</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/12/2016</span> <span class="time">14:00pm EST</span></time></td>
              <td class="col-status">Delivery past due</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=work-in-progress-admins">Switchable system-worthy</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Work in progress</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-delivery-vendors">
        <h1>Delivery</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery deadline</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=work-in-progress-vendors">Stand-alone modular utilisation</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/22/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Ready for work</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=work-in-progress-vendors">Stand-alone modular utilisation</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/12/2016</span> <span class="time">14:00pm EST</span></time></td>
              <td class="col-status">Delivery past due</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=work-in-progress-vendors">Switchable system-worthy</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Work in progress</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=pending-acceptance-vendors">Switchable system-worthy</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Pending acceptance</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-acceptance-admins">
        <h1>Acceptance</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery date</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=acceptance-needed-admins">Switchable system-worthy</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Acceptance needed</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-acceptance-vendors">
        <h1>Acceptance</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery date</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=pending-acceptance-vendors">Switchable system-worthy</a></td>
              <td class="col-delivery-deadline"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
              <td class="col-status">Pending acceptance</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-payment-admins">
        <h1>Payment</h1>
        <table>
          <thead>
            <tr>
              <td scope="col" class="col-title">Title</td>
              <td scope="col" class="col-accepted-date">Accepted date</td>
              <td scope="col" class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=awaiting-payment-admins">Stand-alone modular utilisation</a></td>
              <td class="col-accepted-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Awaiting payment</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=payment-needed-admins">Stand-alone modular utilisation</a></td>
              <td class="col-accepted-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Payment needed</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show/?auctionWorkflowState=pending-payment-confirmation-admins">Switchable system-worthy</a></td>
              <td class="col-accepted-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-vendor">Pending payment confirmation</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-payment-vendors">
        <h1>Payment</h1>
        <table>
          <thead>
            <tr>
              <td scope="col" class="col-title">Title</td>
              <td scope="col" class="col-accepted-date">Accepted date</td>
              <td scope="col" class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show?auctionWorkflowState=published-closed-pending-payment-admins">Stand-alone modular utilisation</a></td>
              <td class="col-accepted-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-status">Pending payment</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show?auctionWorkflowState=published-closed-pending-payment-admins">Switchable system-worthy</a></td>
              <td class="col-accepted-date"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
              <td class="col-vendor">Payment confirmation needed</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
  </main>
  {% include site-footer.html %}
</body>
