---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-auctions-needs-attention">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="h-feed">
      <div class="wrapper">
      {% include auctions-index-header.html %}
      <section class="section-drafts">
        <h1>Drafts</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-starting">Starting date</td>
              <td class="col-ending">Ending date</td>
              <td class="col-delivery">Delivery date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-starting"><span class="date">7/25/2016</span> <span class="time">10:00am EST</span></td>
              <td class="col-ending"><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></td>
              <td class="col-delivery"><span class="date">8/3/2016</span> <span class="time">10:00am EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-starting"><span class="date">8/3/2016</span> <span class="time">12:00am EST</span></td>
              <td class="col-ending"><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></td>
              <td class="col-delivery"><span class="date">8/13/2016</span> <span class="time">12:00am EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-starting is-blank">Not specified</td>
              <td class="col-ending is-blank">Not specified</td>
              <td class="col-delivery is-blank">Not specified</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
              <td class="col-starting is-blank">Not specified</td>
              <td class="col-ending is-blank">Not specified</td>
              <td class="col-delivery is-blank">Not specified</td>
            </tr>
          </tbody>
        </table>      
      </section>
      <section class="section-bids">
        <h1>Bids you&rsquo;ve placed</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-your-bid">Your bid</td>
              <td class="col-ending">Bidding closes</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-your-bid">$450</td>
              <td class="col-ending"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-your-bid">$1337</td>
              <td class="col-ending"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-your-bid">$1337</td>
              <td class="col-ending"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Untitled</a></td>
              <td class="col-your-bid">$500</td>
              <td class="col-ending"><time><span class="date">8/6/2016</span> <span class="time">12:00am EST</span></time></td>
            </tr>
          </tbody>
        </table>      
      </section>
      <section class="section-delivery-pending">
        <h1>Delivery pending</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery deadline</td>
              <td class="col-status">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-ending">2 days ago</td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-ending"><time><span class="date">7/29/2016</span> <span class="time">10:00am EST</span></time></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-delivery-needed">
        <h1>Delivery needed</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-delivery-deadline">Delivery deadline</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-ending"><time><span class="date">7/29/2016</span></time></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-ending">22 hours from now</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-payment-needed">
        <h1>Payment needed</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-accepted">Accepted</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Something wicked this way comes</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="section-payment-pending">
        <h1>Payment pending</h1>
        <table>
          <thead>
            <tr>
              <td class="col-title">Title</td>
              <td class="col-accepted">Accepted</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Stand-alone modular utilisation</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span> <span class="time">12:00am EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Switchable system-worthy</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span> <span class="time">12:00am EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Visionary motivating website</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span> <span class="time">12:00am EST</span></td>
            </tr>
            <tr>
              <td class="col-title"><a href="{{site.baseurl}}/auctions/show">Something wicked this way comes</a></td>
              <td class="col-accepted"><span class="date">8/13/2016</span> <span class="time">12:00am EST</span></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>
