---
title: Auctions new
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-new">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <form action="{{site.baseurl}}/auctions/show">
        <div class="form-errors">
          <p>The following fields cannot be blank</p>
          <ul>
            <li><a href="#title">Title</a></li>
            <li><a href="#description-and-acceptance-criteria">Description and acceptance criteria</a></li>
          </ul>
        </div>
        <div class="fields">
          <div class="field field-title is-error">
            <label>
              <span class="label-text">Title</span>
              <input id="title" type="text" name="" value="Open Opportunities: Create Agency Admin User Role" placeholder="title">
              <p class="error-text">Cannot be blank.</p>
            </label>
          </div>
          <div class="field field-starting-bid">
            <label>
              <span class="label-text">Starting bid</span>
              <input type="number" name="" value="3500">
              <p class="help-text">Auctions with a starting bid higher than $3,500 are restricted to vendors who are registered as small businesses (as determined from their SAM.gov profile). Additionally, these auctions must be approved by an administrator who is also a contracting officer.</p>
            </label>
          </div>
          <div class="field field-checkbox field-sealed-bid">
            <label>
              <input type="checkbox" name="" checked>
              <span class="label-text">Seal bids until auction closes</span>
            </label>
          </div>        
          <div class="field field-summary">
            <label>
              <span class="label-text">Summary</span>
              <textarea rows="10">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</textarea>
              <p class="help-text">Please provide a brief description of the auction, in 250 characters or less. This text is used across the site in auction previews. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
            </label>
          </div>
          <div class="field field-description-and-acceptance-criteria">
            <label>
              <span class="label-text">Description and acceptance criteria</span>
              <textarea rows="15">Registered users on micropurchase.18f.gov may bid to deliver the requirements in this auction. The lowest bidder at the time the auction closes shall receive the award. The awarded bidder shall have five business days to deliver the requirements. Upon successful completion of the requirements, 18F shall pay the winning bidder. See our rules page.
              </textarea>
              <p class="help-text">Please provide a brief description of the project as a whole (or link to your README), the task at hand, and acceptance criteria. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a> for simple formatting.</p>
            </label>
          </div> 
         <fieldset class="fieldset fieldset-skills">
            <legend>Skills</legend>
            <a href="#" class="button">Add new</a>
            <div class="fieldset-skills-wrapper">
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Ruby</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">HTML</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">CSS</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Javascript</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Python</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">DevOps</span>
                </label>
              </div>
              <div class="field field-checkbox">
                <label>
                  <input type="checkbox" name="skills">
                  <span class="label-text">Design</span>
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="fieldset fieldset-github">
            <legend>GitHub</legend>
            <div class="field field-github-project-url">
              <label>
                <span class="label-text">Project URL</span>
                <input type="text" name="" placeholder="https://www.github.com/org/my-cool-project">
              </label>
            </div>
            <div class="field field-github-issue-number">
              <label>
                <span class="label-text">Issue #</span>
                <input type="text" name="">
              </label>
            </div>
          </fieldset>   
          <fieldset class="fieldset fieldset-payment">
            <legend>Payment</legend>
            <div class="field field-select field-customer">
              <label>
                <span class="label-text">Customer</span>
                <select>
                  <option>Customer 1</option>
                  <option>Customer 2</option>
                </select>
              </label>
            </div>    
            <div class="field field-select field-purchase-card">
              <label>
                <span class="label-text">Purchase card</span>
                <select>
                  <option>18F (pending approval)</option>
                  <option>Customer 2</option>
                </select>
              </label>
            </div>    
          </fieldset>
          <div class="field field-notes field-textarea">
            <label>
              <span class="label-text">Notes</span>
              <textarea rows="4"></textarea>
              <p class="help-text">Note are only viewable by admins.</p>
            </label>
          </div> 
        </div>
        <footer>
          <button class="button">Save</button>
        </footer>
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>