---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-bids">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="auction" role="main" id="main">
    <header class="auction-header">
      <div class="wrapper">
        <h1>Open Opportunities: Create Agency Admin User Role</h1>
        <dl>
          <dt class="auction-status">Status</dt>
          <dd class="auction-status auction-status-open">Open</dd>
          <dt class="auction-time-remaining">Closes</dt>
          <dd class="auction-time-remaining">
            12 days from now
          </dd>
          <dt class="auction-current-bid">Starting bid</dt>
          <dd class="auction-current-bid">
            $3,500.00
          </dd>
        </dl>
        <nav>
          <a class="nav-auction-show" href="{{site.baseurl}}/auctions/show">Auction</a>
          <a class="nav-auction-bids" href="{{site.baseurl}}/auctions/show-bids">
            <span class="count">6</span> Bids
          </a>
          <a class="nav-auction-history" href="{{site.baseurl}}/auctions/show-history">History</a>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <div class="boilerplate">
        <p>No vendors have placed bids yet. Check back soon!</p>
      </div>
      <div class="boilerplate">
        <p>No bids were placed on this auction.</p>
      </div>
      <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
        <thead>
          <tr>
            <th class="col-name">Name</th>
            <th class="col-amount">Amount</th>
            <th class="col-time">Timestamp (EDT)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="th">
            <td colspan="3">
              March 28, 2016
            </td>
          </tr>
          <tr class="is-winning">
            <td class="col-name">Whosit Whatshisface</td>
            <td class="col-amount">$3,400.00</td>
            <td class="col-time">10:55:55 PM</td>
          </tr>
          <tr>
            <td class="col-name">Keyon Barrows</td>
            <td class="col-amount">$3,410.00</td>
            <td class="col-time">10:52:09 PM</td>
          </tr>
          <tr>
            <td class="col-name">Whosit Whatshisface</td>
            <td class="col-amount">$3,438.00</td>
            <td class="col-time">10:50:55 PM</td>
          </tr>
          <tr>
            <td class="col-name">Bertrand Nitzsche</td>
            <td class="col-amount">$3,438.00</td>
            <td class="col-time">10:50:15 PM</td>
          </tr>
          <tr>
            <td class="col-name">Litzy Mosciski</td>
            <td class="col-amount">$3,453.00</td>
            <td class="col-time">10:49:42 PM</td>
          </tr>
          <tr>
          <td class="col-name">Cesar Cruickshank</td>
          <td class="col-amount">$3,470.00</td>
          <td class="col-time">10:48:33 PM</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </main>
  {% include site-footer.html %}
</body>