---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-show">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="auction h-entry" role="main" id="main">
    <div class="wrapper">
      <header class="auction-header">
        <h1>Open Opportunities: Create Agency Admin User Role</h1>
        <a href="{{site.baseurl}}/auctions/edit" class="button">Edit</a>
        <dl>
          <dt class="auction-status">Status</dt>
          <dd class="auction-status auction-status-open">Open</dd>
          <dt class="auction-time-remaining">Starts</dt>
          <dd class="auction-time-remaining">
            12 days from now
          </dd>
          <dt class="auction-current-bid">Starting bid</dt>
          <dd class="auction-current-bid">
            $3,500.00
          </dd>
        </dl>
        <nav>
          <a class="nav-auction-show" href="{{site.baseurl}}/auctions/show">Auction</a>
          <a class="nav-auction-bids" href="{{site.baseurl}}/auctions/show-bids">Bids</a>
        </nav>
      </header>
      <div class="page">
        <p class="issue-description p-summary">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</p>
        <h2>Auction rules</h2>
        <p>Registered users on micropurchase.18f.gov may bid to deliver the requirements in this auction. The lowest bidder at the time the auction closes shall receive the award. The awarded bidder shall have five business days to deliver the requirements. Upon successful completion of the requirements, 18F shall pay the winning bidder. See our <a href="https://micropurchase.18f.gov/faq">rules</a> page</p>
        <h2>Acceptance criteria</h2>
        <h3>1. Conditions for the test to fail</h3>
        <p>When the bug is present, and a user who is not the task creator comments on the task, and no email is generated</p>
        <p>Then test(s) written as part of this micro-purchase will fail.</p>        
        <h3>2. Conditions for the test to fail</h3>
        <p>When the bug is present, and a user who is not the task creator comments on the task, and no email is generated</p>
        <p>Then test(s) written as part of this micro-purchase will fail.</p>
        <h3>3. Conditions for the test to fail</h3>
        <p>When the bug is present, and a user who is not the task creator comments on the task, and no email is generated</p>
        <p>Then test(s) written as part of this micro-purchase will fail.</p>        
      </div>
      <footer class="auction-footer">
        {% include _auction_states.html %}
        <ul>
          <li class="auction-started">
            <h2>Started</h2>
            <span>May 16, 2016 at 12:00 AM EDT</span>
          </li>
          <li class="auction-ended">
            <h2>Ended</h2>
            <span>June 03, 2016 at 04:00 PM EDT</span>
          </li>
          <li class="auction-delivery-deadline">
            <h2>Delivery deadline</h2>
            <span>June 17, 2016 at 12:00 AM EDT</span>
          </li>
          <li class="auction-accepted">
            <h2>Accepted</h2>
            <span>June 11, 2016 at 11:38 AM EDT</span>
          </li>
          <li class="auction-project">
            <h2>Project</h2>
            <span>Open Opportunities</span>
          </li>
          <li class="auction-type">
            <h2>Type</h2>
            <span>Multi-bid</span>
          </li>
          <li class="auction-eligibility">
            <h2>Eligibility</h2>
            <span>SAM.gov only</span>
          </li>
          <li class="auction-payment-url">
            <h2>Payment URL</h2>
            <a href="#">https://cash.me/andrewmaier</a>
          </li>
          <li class="auction-cap-url">
            <h2>CAP URL</h2>
            <a href="#">https://c2.gsa.gov/12345</a>
          </li>
        </ul>
      </footer>
    </div>
  </main>
  <aside class="modal">
    <h1>Are you sure?</h1>
    <p>You&rsquo;re about to place a bid for <span class="bid-amount">$3,413.00</span>.</p>
    <footer>
      <button>Confirm</button>
      <a href="#">Cancel</a>
    </footer>
  </aside>
  {% include site-footer.html %}
</body>