---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-history">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="auction" role="main" id="main">
    <div class="wrapper">
      <header class="auction-header">
        <h1>Open Opportunities: Create Agency Admin User Role</h1>
        <a href="{{site.baseurl}}/auctions/edit" class="button">Edit</a>
        <dl>
          <dt class="auction-status">Status</dt>
          <dd class="auction-status auction-status-open">Open</dd>
          <dt class="auction-time-remaining">Closes</dt>
          <dd class="auction-time-remaining">
            12 days from now
          </dd>
          <dt class="auction-current-bid">Current bid</dt>
          <dd class="auction-current-bid">
            $3,500.00
          </dd>
        </dl>
        <nav>
          <a class="nav-auction-show" href="{{site.baseurl}}/auctions/show">Auction</a>
          <a class="nav-auction-bids" href="{{site.baseurl}}/auctions/show-bids">
            <span class="count">6</span> Bids
          </a>
          <a class="nav-auction-history" href="{{site.baseurl}}/auctions/show-bids">
            History
          </a>
        </nav>
      </header>
    <dl>
      <dt><time>May 11, 2016 at 11:37 AM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> created this auction.</dd>
      <dt><time>May 11, 2016 at 11:42 AM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> requested permission to use the 18F P Card.</dd>
      <dd>
        <dl>
          <dt>CAP URL</dt>
          <dd><a href="#">https://cap.me</a></dd>
        </dl>
      </dd>
      <dt><time>May 11, 2016 at 1:42 PM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> was granted permission to use the 18F P Card.</dd>
      <dt><time>May 11, 2016 at 2:36 PM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> set the bidding period and published this auction.</dd>
      <dd>
        <dl>
          <dt>Start date</dt>
          <dd><time>May 12, 2016 at 12:00 AM EDT</time></dd>
          <dt>End date</dt>
          <dd><time>May 14, 2016 at 12:00 AM EDT</time></dd>
          <dt>Delivery timeline</dt>
          <dd>1 day</dd>
        </dl>
      </dd>
      <dt><time>May 12, 2016 at 12:00 AM EDT</time></dt>
      <dd><span class="actor">[Vendor.name]</span> placed a bid of $1,500.</dd>
      <dt><time>May 12, 2016 at 12:01 AM EDT</time></dt>
      <dd><span class="actor">[Vendor_2.name]</span> placed a bid of $400.</dd>
      <dt><time>May 14, 2016 at 12:00 AM EDT</time></dt>
      <dd>Auction ended. <span class="actor">[Vendor_2.name]</span> is the winner, and must deliver this auction by May 15, 2016 at 12:00 AM EDT</dd>
      <dt><time>May 14, 2016 at 10:00 AM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> extended the delivery deadline by 1 day.</dd>
      <dd><span class="actor">[Vendor_2.name]</span> must deliver this auction by May 16, 2016 at 12:00 AM EDT.</dd>
      <dt><time>May 16, 2016 at 10:00 AM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> rejected [Vendor_2.name]&rsquo;s bid and selected [Vendor.name] as the winner.</dd>
      <dd><span class="actor">[Vendor.name]</span> must deliver this auction by May 17, 2016 at 10:00 AM EDT.
      <dt><time>May 17, 2016 at 8:58 AM EDT</time></dt>
      <dd><span class="actor">[Vendor.name]</span> marked this auction as delivered.</dd>
      <dd>
        <dl>
          <dt>Delivery URL</dt>
          <dd><a href="#">https://github.com/pull-request</a></dd>
        </dl>
      </dd>
      <dt><time>May 17, 2016 at 5:02 PM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> accepted [Vendor.name]&rsquo;s work.</dd>
      <dt><time>May 18, 2016 at 1:17 PM EDT</time></dt>
      <dd><span class="actor">Michael Torres</span> issued payment to [Vendor_2.name].</dd>
    </dl>
  </main>
  {% include site-footer.html %}
</body>