---
title: Auction show
excerpt: None
---

{% include head.html %}
<body class="no-js layout-auctions-show">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main class="auction h-entry" role="main" id="main">
    <div class="wrapper">
      <header class="auction-header">
        <h1>Open Opportunities: Create Agency Admin User Role</h1>
        <a href="{{site.baseurl}}/auctions/edit" class="button">Edit</a>
        <dl>
          <dt class="auction-status">Status</dt>
          <dd class="auction-status auction-status-open">Open</dd>
          <dt class="auction-time-remaining">Starts</dt>
          <dd class="auction-time-remaining">
            12 days from now
          </dd>
          <dt class="auction-current-bid">Starting bid</dt>
          <dd class="auction-current-bid">
            $3,500.00
          </dd>
        </dl>
        <nav>
          <a class="nav-auction-show" href="{{site.baseurl}}/auctions/show">Auction</a>
          <a class="nav-auction-bids" href="{{site.baseurl}}/auctions/show-bids">Bids</a>
        </nav>
      </header>
      <div class="page">
        <p class="issue-description p-summary">Open Opportunities uses the open source sails.js MVC framework (Node.js / Express). Currently, a task creator should receive the following notification if a task they created receives a comment. However, this functionality has broken, without breaking the build's test suite. This issue sees the creation of a failing test (or tests) that will only pass when the notification functionality is restored, along with the fix to make those tests pass.</p>
        <h2>Auction rules</h2>
        <p>Registered users on micropurchase.18f.gov may bid to deliver the requirements in this auction. The lowest bidder at the time the auction closes shall receive the award. The awarded bidder shall have five business days to deliver the requirements. Upon successful completion of the requirements, 18F shall pay the winning bidder. See our <a href="https://micropurchase.18f.gov/faq">rules</a> page</p>
        <h2>Acceptance criteria</h2>
        <h3>1. Conditions for the test to fail</h3>
        <p>When the bug is present, and a user who is not the task creator comments on the task, and no email is generated</p>
        <p>Then test(s) written as part of this micro-purchase will fail.</p>        
      </div>
      <footer class="auction-footer">
        <section class="auction-workflow auction-workflow-open-incomplete-profile">
          <p>Your profile must contain a valid DUNS number before you can place a bid. Please <a href="{{site.baseurl}}/profile">update your profile</a>.</p>
        </section>
        <section class="auction-workflow auction-workflow-open-preview">
          <p>This auction is not currently accepting bids.</p>
        </section>
        <section class="auction-workflow auction-workflow-open-biddable-first">
          <p>The starting price for this auction is $3500.00.</p>
          <form>
            <div class="field"> 
              <label>
                <span class="label-text">Your bid</span>
                <input type="number"></input>
              </label>
            </div>
            <button>Place bid</button>
          </form>
        </section>
        <section class="auction-workflow auction-workflow-open-biddable-limited">
          <p>The maximum (current) bid is $3414.00.</p>
          <form>
            <div class="field"> 
              <label>
                <span class="label-text">Your bid</span>
                <input type="number"></input>
              </label>
            </div>
            <button>Place bid</button>
          </form>
        </section>
        <section class="auction-workflow auction-workflow-open-biddable-rejected has-errors">
          <h1>Your bid was not accepted.</h1>
          <p>Please enter a whole-dollar bid less than the current bid of $3414.</p>
          <form>
            <div class="field has-error"> 
              <label>
                <span class="label-text">Your bid</span>
                <input type="number" value="3501"></input>
              </label>
            </div>
            <button>Place bid</button>
          </form>
        </section>
        <section class="auction-workflow auction-workflow-open-biddable-outbid">
          <h1>You&rsquo;ve been outbid!</h1> 
          <p>The maximum (current) bid is $3414.00.</h1>
          <form>
            <div class="field"> 
              <label>
                <span class="label-text">Your bid</span>
                <input type="number"></input>
              </label>
            </div>
            <button>Place bid</button>
          </form>
        </section>
        <section class="auction-workflow auction-workflow-open-bid-placed">
          <p>You are currently the low bidder, with a bid of <span class="bid-amount">$3414.</span></p>
          <span>or, if sealed,</span>
          <p>You placed a bid for <span class="bid-amount">$3414.</span></p>
        </section>
        <section class="auction-workflow auction-workflow-closed">
          <p>This auction is closed.</p>
        </section>
        <section class="auction-workflow auction-workflow-closed-deliverable">
          <p>You won this auction on <strong>June 3rd, 2016</strong> with a bid of <strong>$[auction.winBid].</strong> Please <a href="#">issue a pull request</a> that meets this auction&rsquo;s acceptance criteria by [auction.deliveryDate]. </p>
        </section>
        <section class="auction-workflow auction-workflow-closed-invoiced">
          <p>You won this auction on <strong>June 3rd, 2016</strong> with a bid of <strong>$1,000.</strong> Your pull request was accepted on [auction.acceptanceDate], and 18F Micro-purchase has notified the lister that they should remit payment.</p>
          <p>If their Payment URL 404s: Heads up! It looks like the customer won&rsquo;t be able to pay you. Please <a href="{{site.baseurl}}/profile">double check your payment URL</a>.</p>
        </section>
        <section class="auction-workflow auction-workflow-closed-paid">
          <h1>You won this auction on [auction.winDate] with a bid of $1,000. Your pull request was accepted on [auction.acceptanceDate] and you were paid on [auction.paymentDate]. </h1>
        </section>
        <section class="auction-workflow auction-workflow-draft-approvable">
          <h1>Approval needed</h1>
          <p>This auction will be paid for using an 18F purchase card. 18F purchase cards cannot be used without first being granted approval in C2. Would you like to submit this auction to C2 for approval now?</p>
          <button>Submit for approval</button>
        </section>
        <section class="auction-workflow auction-workflow-draft-approval-requested">
          <h1>Approval pending</h1>
          <p>This auction is set to be paid using an 18F purchase card, and that purchase card is <a href="#">pending approval in C2</a>.</p>
        </section>
        <section class="auction-workflow auction-workflow-draft-publishable">
          <h1>Ready to publish</h1>
          <p>This auction is ready to publish.</p>
          <button>Publish</button>
        </section>        
        <section class="auction-workflow auction-workflow-open-running">
          <h1>Running</h1>
          <p>Wahoo! This auction is open and accepting bids!</p>
        </section>        
        <section class="auction-workflow auction-workflow-closed-awaiting-delivery">
          <h1>[auction.winner] won this auction on [auction.winDate] with a bid of $[auction.winBid]. They should deliver before [auction.deliveryDate] by issuing a pull request against <a href="#">this GitHub issue</a>.</h1>
        </section>        
        <section class="auction-workflow auction-workflow-closed-acceptable">
          <h1>[auction.winner] won this auction on [auction.winDate] with a bid of $[auction.winBid] and has <a href="#">issued a pull request</a>. Please confirm that their solution meets the acceptance criteria</h1>
          <button class="button">Accept</button>
          <button class="button">Reject</button>
        </section>        
        <section class="auction-workflow auction-workflow-closed-payable">
          <h1>[auction.winner] won this auction on [auction.winDate] with a bid of $[auction.winBid]. Their work was accepted on [auction.acceptanceDate]. Please issue payment at [their paymentUrl].</h1>
        </section>        
        <ul>
          <li class="auction-started">
            <h2>Started</h2>
            <span>May 16, 2016 at 12:00 AM EDT</span>
          </li>
          <li class="auction-ended">
            <h2>Ended</h2>
            <span>June 03, 2016 at 04:00 PM EDT</span>
          </li>
          <li class="auction-delivery-deadline">
            <h2>Delivery deadline</h2>
            <span>June 17, 2016 at 12:00 AM EDT</span>
          </li>
          <li class="auction-accepted">
            <h2>Accepted</h2>
            <span>June 11, 2016 at 11:38 AM EDT</span>
          </li>
          <li class="auction-project">
            <h2>Project</h2>
            <span>Open Opportunities</span>
          </li>
          <li class="auction-type">
            <h2>Type</h2>
            <span>Multi-bid</span>
          </li>
          <li class="auction-eligibility">
            <h2>Eligibility</h2>
            <span>SAM.gov only</span>
          </li>
          <li class="auction-payment-url">
            <h2>Payment URL</h2>
            <a href="#">https://cash.me/andrewmaier</a>
          </li>
          <li class="auction-cap-url">
            <h2>CAP URL</h2>
            <a href="#">https://c2.gsa.gov/12345</a>
          </li>
        </ul>
      </footer>
    </div>
  </main>
  <aside class="modal">
    <h1>Are you sure?</h1>
    <p>You&rsquo;re about to place a bid for <span class="bid-amount">$3,413.00</span>.</p>
    <footer>
      <button>Confirm</button>
      <a href="#">Cancel</a>
    </footer>
  </aside>
  {% include site-footer.html %}
</body>