development:
  idp_cert_fingerprint: '8B:D5:C2:E8:9A:2B:CE:B7:4B:95:50:BA:16:79:05:27:17:D1:D3:67'
  idp_sso_url: http://localhost:3004/api/saml/auth
  idp_slo_url: http://localhost:3004/api/saml/logout
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-micropurchase
  secret_key_base: 787f9378e8d9e0eac392f57c7a9927daf12c410e8a882b7bedbb4126748db4d6230893a104cb12d2bf09af76d1fb1939eeb072a97709999d062f38e965c4d1cd

test:
  idp_cert_fingerprint: '2C:00:EA:DC:57:B9:92:F2:CF:F1:13:C3:0D:17:8E:23:7E:06:33:45'
  idp_sso_url: http://idp.example.com/api/saml/auth
  idp_slo_url: http://idp.example.com/api/saml/logout
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost-rails
  secret_key_base: 8607c91c228d6414a72e6b0da24abd6f43ba21395ec05ffbf174e78afc7792cf294ff00f44c35f10f078bd374b04c99c499a89e4997750d83df452e9c76b5f7a

production:
  idp_cert_fingerprint: '8B:D5:C2:E8:9A:2B:CE:B7:4B:95:50:BA:16:79:05:27:17:D1:D3:67'
  idp_sso_url: https://idp.<%= ENV['IDP_ENV'] %>.login.gov/api/saml/auth
  idp_slo_url: https://idp.<%= ENV['IDP_ENV'] %>.login.gov/api/saml/logout
  saml_issuer: urn:gov:gsa:SAML:2.0.profiles:sp:sso:micropurchase-<%= ENV['SAML_ENV'] %>
  secret_key_base: <%= Secrets.secret_key_base %>
