<div class="js-auction-view">
  <div class="auction-body">
    <div class="auction-description">
      <h2>Summary:</h2>
      <%= auction.html_summary %>
      <h2>Description:</h2>
      <%= auction.html_description %>
    </div>
  </div>
</div>
