<label for='auction_start_datetime'>Start date</label>
<%= f.text_field :start_datetime %>

<label for='auction_end_datetime'>End date</label>
<%= f.text_field :end_datetime %>

<label for='auction_end_datetime'>Buy now price</label>
<%= f.text_field :start_price, placeholder: 'max of $3500' %>
