<div class="usa-width-one-third">
  <%= f.input :due_in_days, as: :select, collection: 5..10, default: 5 %>
</div>

<div class="usa-width-two-thirds">
  <div class="estimated-delivery-date">
    Estimated delivery date
    <div class="delivery-date">
      <%= auction.estimated_delivery_due_at %>
    </div>
  </div>
</div>
