<div class="auction-detail-panel">
  <div class="usa-alert usa-alert-warning">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading"><%= t('admin.auctions.show.notes') %></h3>
      <p class="usa-alert-text"><%= auction.notes %></p>
    </div>
  </div>
</div>
