<li><div class="expander">
   <a href="javascript:void(0)" class="expander-trigger expander-hidden">Share</a>
   <div class="expander-content">
     <div class="clipboard-control">
       <input id="share-url" name="share-url" class="clipboard-input" value="<%= auction.share_url.url %>" readonly>
       <button class="clipboard-button" data-clipboard-target="#share-url" aria-label="Copy to clipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
     </div>
    </div>
  </div>
 </li>
