<div class="usa-width-one-whole">
  <div class="usa-width-five-sixths">
    <h3 class="auction-title">
      <%= link_to auction.title, admin_auction_path(auction.id) %>
    </h3>
  </div>

  <div class="usa-width-one-sixth">
    <%= link_to 'Edit', edit_admin_auction_path(auction.id),
      class: 'usa-button usa-button-outline auction-edit' %>
  </div>
</div>
