<div class="usa-width-three-fourths">
  <h3 class="issue-title">
    <%= link_to auction.title, admin_auction_path(auction.id) %>
  </h3>
</div>

<div class="usa-width-one-fourth">
  <%= link_to 'Edit', edit_admin_auction_path(auction.id),
    class: 'usa-button usa-button-outline auction-edit' %>
</div>
