<h1>Editing auction</h1>
<div class="auction-form">
  <%= simple_form_for [:admin, @auction.record] do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'edit_form', locals: { f: f } %>
    <%= f.submit class: 'usa-button usa-button-outline' %>
  <% end %>
</div>
