<h2>Editing auction</h2>
<div class="auction-form">
  <%= simple_form_for [:admin, @view_model.record] do |f| %>
    <%= render partial: 'form', locals: { f: f, auction: @view_model } %>
    <%= render partial: 'edit_form', locals: { f: f, auction: @view_model } %>
    <%= f.submit class: 'usa-button usa-button-outline' %>
  <% end %>
</div>
