<span class="bid-amount"><%= @view_model.auction_current_bid_amount_as_currency %></span>
<span class=""><%=
                  link_to(
                  @view_model.auction_link_text,
                  auction_bids_path(@view_model.auction_id)
                  )
                  %>
</span>
