 <% if auction.bids? %>
    <span class="current-bid-header">Current bid:</span>
    <span class="current-bid"><%= auction.highlighted_bid_amount_as_currency %>  </span><br/>
    <span class="current-bid-link"><%=
    link_to(
      pluralize(auction.bids.length, 'bid'),
      auction_bids_path(auction.id)
    )
    %>
    </span>
  <% else %>
    <p>No bids yet</p>
    <% end %>
