<% if auction.user_is_winning_bidder? %>
  <div class="usa-alert usa-alert-success auction-alert">
    <div class="usa-alert-body"><h3>You are the winner</h3></div>
    <p class="usa-alert-text">Congratulations! We will contact you with further instructions.</p>
  </div>
<% elsif auction.user_is_bidder? %>
  <div class="usa-alert usa-alert-error auction-alert">
    <div class="usa-alert-body"><h3>You are not the winner</h3></div>
    <p class="usa-alert-text">Someone else placed a lower bid than you.</p>
  </div>
<% end %>
