<% if defined? auction.auction_record.github_repo %>
	<div class="issue-project">
    <a href="<%= auction.auction_record.github_repo %>"><%= auction.auction_record.github_repo %></a>
	</div>
<% end %>
