<% if defined? auction.auction_record.github_repo %>
	<dl class="issue-project">
		<dt>Project<dt>
    <dd><a href="<%= auction.auction_record.github_repo %>"><%= auction.auction_record.github_repo %></a></dd>
	</dl>
<% end %>
