<span class="bid-deadline">
  <% if AuctionStatus.new(auction).over? %>
      <%= auction.time_over %>
  <% elsif AuctionStatus.new(auction).future? %>
    <%= auction.time_future %>
  <% elsif AuctionStatus.new(auction).available? %>
    <%= auction.time_open %>
  <% end %>
</span>

