/* @override https://pages.18f.gov/micropurchase/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://localhost:4000/stylesheets/screen.css */

/* @group bootstrap */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* @group aside.modal */

aside.modal{
	display: none;
	position: fixed;
	left: 25%;
	right: 25%;
	top: 33%;
	padding: 20px;
	border: 1px solid #888;
	color: #333;
	border-radius: 8px;
	background: white;	
	z-index: 1;
}

aside.modal h1{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 0.8em;
}

aside.modal footer{
	margin: 20px -20px -20px;
	border-top: 1px solid #eee;
	padding: 16px 20px;
}

aside.modal footer a{
	position: absolute;
	right: 20px;
	bottom: 28px;
}

/* @end */

body{
	font-family: Source Sans Pro, Verdana, sans-serif;
	font-size: 18px;
	font-weight: 400;
	background: #2b3e5c;
	color: #fff;
}

a{ color: #006fbe; text-decoration: underline; }
a:hover{ color: #00aedf; text-decoration: none; }

a:visited{  color: #8d0058; }

.a-skip-to-main{
	position: absolute;
	left: -9999em;
}

.a-back::before{
	content: "\2190";
	margin-right: 0.4em;
}

.a-back{
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	margin-bottom: 1em;
	border: 1px solid #ccc;
}


::selection {
  background: #ffe4c5; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffe4c5; /* Gecko Browsers */
}

.wrapper{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}



@media screen and (min-width: 336.84px){ .wrapper{ width: 90%; }  }

.wrapper::after{
	content: "";
	display: table;
	clear: both;
}

main,
.breadcrumbs{
	background: white;
	color: #333;
}

main{ padding: 1em 0 2em; }

img { max-width: 100%; }

table{ color: inherit; }

/* @group icomoon */

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?8ojtgr');
    src:    url('fonts/icomoon.eot?8ojtgr#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?8ojtgr') format('truetype'),
        url('fonts/icomoon.woff?8ojtgr') format('woff'),
        url('fonts/icomoon.svg?8ojtgr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e9bd";
}



/* @end */


/* @end */

/* @group tables */

td .time{
	display: block;
	font-size: 14px;
	padding-top: 4px;
}

.is-blank{
	color: #aaa;
}

td.col-title{
	vertical-align: middle;
}


.col-starting,
.col-ending,
.col-delivery{
	width: 8em;
}

/* @end */

/* @group forms */

/* @group summary.error-message */

summary.error-message{
	background: #990017;
	color: white;
	padding: 8px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 24px;
	margin-top: -8px;
}

summary.error-message details{ margin-top: 8px; }
summary.error-message details p:first-of-type{ margin-top: 8px; }
summary.error-message details ol{
	list-style-type: decimal;
	margin: 0 0 0 1.4em;
	padding-top: 0;
}

summary.error-message details ol li{
	margin-bottom: 6px;
}

/* @end */

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
	-webkit-appearance: none;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 36px;
	min-height: 36px;
	min-width: 4em;
	width: 100%;
	margin: 0;
	outline: none;
	font: inherit;
}

input[type=radio],
input[type=checkbox]{ 
	outline: none; 
	border: none;
}

.field-select select{
	min-width: 0; 
	background: none;
	padding-right: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 1.2;
}

.field-select span.label-select{ 
	position: relative; 
	width: 15%;
	display: block;
}

.field-select{ 
	position: relative; 
	z-index: 1;
}

.field-select::after{
	content: "";
	border: 6px solid black;
	position: absolute;
	right: 8px;
	bottom: 0;
	margin-bottom: 9px;
	border-color: #aaa transparent transparent transparent;
	z-index: -1;
}

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
	display: block;
	width: 100%;
	max-width: 40em;
	min-height: 6em;
	line-height: 1.25;
	color: #333;
}

button,
.button {
	background: none;
	border: 1px solid;
	color: #008c52;
	font: inherit;
	padding: 10px 12px;
	margin: 0;
	line-height: 16px;	
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}

button:hover,
.button:hover {
	background: #00834d;
	border-color: #00834d;
	color: white;
	box-shadow: 0 1px 0 #f3f3f3;
}

button:active,
.button:active {
	color: #7aa79d;
	background: #006e52;
	border-color: #006e52;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

form a.a-return + h1{
	margin-top: 1em !important;	
}


fieldset > p{
	font-size: 14px;
	line-height: 1.4;
	color: #444;
	margin-top: 0;
	margin-bottom: 1em;
}

.description-text,
.p-description-text{
	margin-top: 8px;
	font-size: 12px;
	line-height: 1.3;
	max-width: 28em;
	display: block;
	color: #333;
}

.description-text a{ color: inherit; }
.description-text a:hover{ text-decoration: none; }

div.field,
fieldset{ 
	margin-bottom: 28px; 
}

.field .help-text{
	font-size: 14px;
	line-height: 1.33em;
	display: block;
	margin-top: 8px;
}

fieldset.fieldset-radio{ margin-bottom: 18px; }

.fieldset{
	border: 1px solid #cfcfcf;
	padding: 16px;
	padding-bottom: 19px;
	position: relative;
	margin-top: 36px;
	margin-bottom: 32px;
	border-radius: 4px;
}


fieldset > header > h1{
	position: absolute;
	background: white;
	margin: 0 0 -3px;
	bottom: 100%;
	left: 8px;
	padding: 0 1px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #777;
}

fieldset div.field:last-of-type+fieldset{
	margin-top: 24px;
	margin-bottom: 4px;
}

fieldset > legend,
.field span.label-text{
	display: block;	
	max-width: 40em;
	margin: 0 0 8px;
	padding: 0;
	position: static;
	font: inherit;
	font-weight: 600;
	line-height: 20px;
}

.field.is-disabled span.label-text{
	color: #888;
	cursor: not-allowed;
}

.field.field-radio{ 
	display: inline-block; 
	vertical-align: middle;
	margin-bottom: 6px;
}

.field.field-radio label{
	display: inline-block;
	padding: 8px 12px 8px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	min-height: 32px;
	line-height: 1;
	vertical-align: middle;
}

.field.field-radio input,
.field.field-checkbox input{ margin-right: 0.4em; }

.field input:focus,
.field select:focus,
.field textarea:focus,
.field.field-checkbox.is-focused label,
.field.field-radio.is-focused label{
	border-color: #1188ff;
	box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
	outline: none;
}

main div.field-select.is-focused::after{
	border-top-color: #1188ff;

}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{ 
	display: inline; 
	vertical-align: middle;
	font-weight: normal;
}

div.field.field-checkbox{
	position: relative;
	padding-left: 24px;
	margin-bottom: 8px;
}

div.field.field-checkbox input{ 
	font-size: 1em;	
	line-height: 1;
	position: absolute;
	left: 0;
	top: 0;
}


div.field.field-checkbox+.is-branch{
	margin-top: -4px !important;
	margin-left: 3px;
	margin-bottom: 16px;
}

div.field.is-error .label-text{
	color: #a73856;
}

div.field.is-error input,
div.field.is-error textarea{
	border-color: #ce6246;
}

div.field.is-error .error-text,
fieldset.fieldset-radio.is-error .error-text{
	color: #990017;	
	display: block;
	padding-top: 12px;
	font-style: italic;
	font-size: 14px;
}

div.field.is-error .error-text,
fieldset.fieldset-radio..is-error .error-text{
	color: #af1830;	
	font-size: 14px;
	padding-top: 6px;
	display: block;
	font-style: italic;	
}

@media screen and (min-width: 533.33px) {

	fieldset.fieldset-date-range::after{
		content: "";
		display: table;
		clear: both;		
	}	
		
	fieldset.fieldset-date-range div.field{
		padding-bottom: 1.4em;
		position: relative;
		width: 50%;
		float: left;
		margin-bottom: 0;
	}
	
	fieldset.fieldset-date-range span.label-text{
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		font-size: 12px;
	}

}


fieldset.fieldset-mailing-address div.field{
	padding-bottom: 1.4em;
	position: relative;
}

fieldset.fieldset-mailing-address div.field span.label-text{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	font-size: 12px;
}

fieldset.fieldset-mailing-address div.field-city-state-zip::after{
	content: "";
	display: table;
	clear: both;
}

fieldset.fieldset-mailing-address div.field-city-state-zip{
	margin-right: -0.7em;
	margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city,
fieldset.fieldset-mailing-address div.field.field-state,
fieldset.fieldset-mailing-address div.field.field-zip{
	float: left;
	width: 25%;
	padding-right: 0.67em; 
	margin-bottom: 0;
}

fieldset.fieldset-mailing-address div.field.field-city{ 
	width: 50%; 
}

fieldset.fieldset-mailing-address div.field.field-city input,
fieldset.fieldset-mailing-address div.field.field-state input,
fieldset.fieldset-mailing-address div.field.field-zip input{
	min-width: 0;
}

/* @group widths */

@media screen and (min-width: 533.33px){
	.field-telephone-number input,
	.field-email-address input,
	.field-additional-classification input{
	  width: 50%;
	  min-width: 10em;
	}
	
	.field-project-number input,
	.field-phone-number input,
	.field-telephone-number input,
	.field-fax-number input,
	.field-date input,
	.field-direct-cost input,
	.field-overhead-fees input,
	.field-total-estimated-amount input,
	.field-expiry-date input,
	.field-cancellation-date input,
	.field-alc input,
	.field-component-tas input,
	.field-betc input,
	.field-object-class-code input,
	.field-sp input,
	.field-ata input,
	.field-aid input,
	.field-bpoa input,
	.field-a input,
	.field-main input,
	.field-sub input,
	.field-bpn input,
	.field-bpn-4 input,
	.field-servicing-agency-tracking-number input,
	.field-total-net-order-amount input{
		width: 10em;
	}

}

/* @end */

main div.wrap > form { max-width: 576px; }

@media screen and (min-width: 640px) {
	main div.wrap > form {
		padding-right: 16px;
		border-right: 1px solid #eee;
	}	
	
}

/* @end */

/* @group .prototype-header */

.prototype-header{
	background: #222;
	color: #fff;
	font-size: 14px;
	padding: 4px;
}

.prototype-header::after{
	content: "";
	display: table;
	clear: both;
}

.prototype-header .field{
	float: left;
	margin: 0;
}

.prototype-header .field.field-select select{
	border: 1px solid #444;
	border-radius: 0;
	color: white;
	display: inline;
	width: auto;
	height: 2em;
	min-height: 0;
}

.prototype-header .field.field-select::after{
	content: "";
	border-width: 5px;
	position: absolute;
	right: 8px;
	bottom: 0;
	margin-bottom: 5px;
	border-top-color: #fff;
	z-index: 1;
}


.prototype-header .field .label-text{
	display: inline;
	margin: 0;
	font-weight: normal;
	margin-right: 0.4em;
}

.prototype-header .field.nav-user{ float: right; }

.field-auction-status{ display: none; }
.layout-auction-show .field-auction-status{ display: block; }

.user-type-admin .site-header .nav-header-nav .nav-my-profile,
.user-type-vendor .site-header .nav-header-nav .nav-people,
.user-type-vendor .nav-auctions-drafts,
.user-type-vendor .h-feed-header .button,
.user-type-vendor .auction .button,
.user-type-vendor header .nav-settings{ display: none !important; }

{
	margin-top: -2em;
}

/* @end */

/* @group .site-header */

.notice,
.auction-workflow.auction-workflow-incomplete-profile{
	background: #faf5d2;
	color: #333;
	padding: 16px;
	border: 1px solid #e7d49b;
	border-radius: 4px;
	text-align: center;
}

.notice ul,
.notice ol{
	padding-left: 1.4em;
}
.notice li{
	list-style-type: square;
	margin-left: 1.125em;
	margin-bottom: 0.6em;
}

.notice p{
	line-height: 1.4;
	margin-bottom: 0.67em;
}

.notice strong{ font-weight: 600; }

.notice p:last-of-type{
	margin-bottom: 0;
}

.notice a{
	color: #8a1132;
}

.site-header{ 
	padding: 10px 0 10px;
}

.site-header a{ color: #53d3fe;	  }

.site-header .logo a,
.site-header .logo a img{ float: left; }

.site-header .logo a{ padding-left: 56px; }

.site-header .logo{
	margin-bottom: 12px;
}
.site-header .logo::after{
	content: "";
	display: block;
	clear: both; 
}

.site-header .logo a{
	font-size: 21px;
	font-weight: 400;
	text-decoration: none;
	line-height: 24px;
	color: #fff;
	letter-spacing: -1px;
	padding-top: 2px;
}

.site-header .logo .tagline{
	font-size: 12px;
	line-height: 16px;
	padding-top: 4px;
	letter-spacing: normal;
	font-weight: 200;
	font-family: Merriweather;
	font-style: italic;
	display: block;
	text-indent: 2px;
	
}

.site-header .logo img{
	width: 48px;
	height: 48px;
	border: 1px solid #2a4674;
	border-radius: 2px;
	margin-left: -56px;
	margin-top: -2px;
}


.site-header form{
	width: 100%;
	position: relative;
	clear: both;
}

.site-header form .label-text{
	position: absolute;
	left: -9999em;
}

.site-header form input{
	border-radius: 3px;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	height: 40px;
	font: inherit;
	padding: 2px;
	padding-left: 24px;
}

.site-header form label::before{
    content: "\e900";
    font-family: 'icomoon' !important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px white;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    position: absolute;
    bottom: 12px;
    top: auto;
    left: 9px;
    color: #aaa;
	position: absolute;
	margin-top: -0.5em;
}

.site-header form .field.is-focused label::before{
    color: #555;
}

.site-header form button{
	position: absolute;
	left: -100%;
	bottom: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #f8f8f8;
	font: inherit;
	font-weight: 600;
	font-size: 16px;
	color: #555;
	padding: 4px 12px;
	height: 2.33em;
	
}

.site-header form button:hover{
	background-color: #eee;
	color: #111;
	border-color: #bbb;
	cursor: pointer;
}

.site-header .nav-header-nav{
	line-height: 1.4em;
	font-size: 16px;
}

.site-header .nav-header-nav li{
	display: inline-block;
	vertical-align: middle;
}

.signed-in .site-header .signed-out,
.site-header .signed-in{
	display: none;
}

.signed-in .site-header .signed-in{
	display: block;
	margin-top: -2px;
}


.site-header .nav-header-nav li a{ color: white; }
.site-header .nav-header-nav .signed-in a:last-of-type{ margin-left: 0.8em; }

.site-header .nav-header-nav a:last-of-type{ margin-right: 0; }

@media screen and (min-width: 799.99px){
	.site-header .logo{
		float: left;
	}
	
	.site-header .nav-header-nav{
		float: right;
		text-align: right;
		padding-top: 14px;
	}
	.site-header .logo{ margin-bottom: 0;}
	.site-header form{ clear: none; }

}

/* @end */

/* @group nav.breadcrumbs*/

.breadcrumbs{
	padding-top: 12px;
	padding-bottom: 12px;
	background: #f3f3f3;
	border-bottom: 1px solid #eee;
}

.breadcrumbs.tools h1{
	position: absolute;
	left: -9999em;
	top: -9999em;
}

.breadcrumbs ol li{
	max-width: 8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.breadcrumbs ol li::after{
	content: "\25B6";
	margin-left: 8px;
	margin-right: 0.2em;
	color: #777;
	font-size: 12px;
}

nav.breadcrumbs ol li:last-child::after{
	display: none;
}

@media screen and (min-width: 1066.66px){	
    .breadcrumbs.wrapper{ padding-right: 320px; }

    .breadcrumbs.tools{ 
    	width: 256px; 
    	float: right;
    	margin-right: -320px;
    	text-align: right;
    }
    
    .breadcrumbs.tools li:last-child a{
	margin-right: 0; 
	}

}

nav.breadcrumbsol{
	float: left;
	width: 75%;
}


nav.breadcrumbsli{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.breadcrumbsa{
	color: #666;
}

.breadcrumbs.tools a{
  border: 1px solid #d3d3d3;
  border-bottom-color: #ccc;
  border-radius: 2px;
  background: #f8f8f8;
  background: linear-gradient(#fff, #eee);
  font: inherit;
  font-size: 14px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  padding: 4px 12px 6px;
  -webkit-box-shadow: 0 1px 0 #eee;
  display: inline-block;
  line-height: 1.33em;
  margin-right: 0.4em;
  white-space: nowrap;
  cursor: default;
  text-decoration: none;

}

.breadcrumbs.tools a:hover{
  background: linear-gradient(#fff, #e3e3e3);
  border-color: #c3c3c3;
  border-bottom-color: #b8b8b8;
  text-decoration: none;
}

.breadcrumbs.tools a:active{
  color: #888;
  background: linear-gradient(#e3e3e3, #eee);
  border-color: #bbb;
  border-top-color: #aaa;
  border-bottom-color: #b3b3b3;
  text-shadow: none;
  -webkit-box-shadow: inset 1px 1px 0 #ddd;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           
}

/* @end */

/* @group nav.pagination */

.pagination{ 
	margin: 1em 0 0; 
	padding-top: 1em;
	font-size: 16px; 
	clear: both;
}

.pagination .pagination-prev,
.pagination .pagination-next{
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-decoration: none;
	border-radius: 3px;
	color: #555; 
	font-size: 14px;
	font-weight: 600;
}

.pagination .pagination-prev:hover,
.pagination .pagination-next:hover{
	border-color: #888;
}

.pagination .pagination-prev::before,
.pagination .pagination-next::after{
	content: "\2190";
	margin-right: 0.4em;
}


	
.pagination .pagination-next::after{
	content: "\2192";
	margin-right: 0;
	margin-left: 0.4em;
}

.pagination .preposition{ 
	font-style: italic;
	font-family: Merriweather, Georgia;
	font-size: 0.9em;
	margin-right: 0.125em;
	margin-left: 0.1em;

}

.pagination .pagination-signpost{
	margin: 0 1em;
}

/* @end */

/* @group .site-footer */

.site-footer{
	padding-top: 18px;
	padding-bottom: 36px;
}

.site-footer .logo a,
.site-footer .logo a img{ float: left; }

.site-footer .logo{ margin-bottom: 16px; }

.site-footer .logo::after{
	content: "";
	display: block;
	clear: both;
}

.site-footer .logo a{
	font-size: 24px;
	font-weight: 200;
	text-decoration: none;
	line-height: 44px;
	color: #fff;
	letter-spacing: -1px;
}

.site-footer .logo img{
	width: 44px;
	height: 44px;
	margin-right: 6px;
	border: 1px solid #2a4674;
	margin-left: -1px;
}

.site-footer h1 a{
	text-decoration: none;
	font-size: 24px;
	line-height: 44px;
	font-weight: 100;
	letter-spacing: -1px;
}

.site-footer .nav-site-nav{
	margin-bottom: 24px;
	font-size: 16px;
}

.site-footer a{ 
	color: inherit;
}

.site-footer .nav-contact{
	font-size: 14px;
}

.site-footer .nav-contact a{
	margin-right: 16px;
	text-decoration: none;
	color: #b1cffe;
}

.site-footer .nav-site-nav li:last-of-type,
.site-footer .nav-contact a:last-of-type{
	margin-right: 0;
}

.site-footer .nav-contact h2{
	display: none;
}

.site-footer ul li{
	display: inline;
	margin-right: 0.8em;
}

@media screen and (min-width: 799.99px){
	.site-footer { 
		padding-top: 24px; 
		padding-bottom: 48px;
	}
	.site-footer .logo{ float: left; }
	.site-footer .nav-site-nav,
	.site-footer .nav-contact{ 
		padding-top: 12px;
		float: right; 
		text-align: right;
		font-size: 18px;
	}
	
	.site-footer .nav-contact{ 
		font-size: 14px;
		float: right;
		clear: right;
		margin-top: -16px;
	}

}

/* @end */

/* @group auction */

.auction h1{
	font-size: 20px;
	font-family: Merriweather, Georgia, serif;
	letter-spacing: 0;
	font-weight: 600;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	color: #004a7f;
	display: inline-block;
}

.auction a:hover h1{
	color: #002b7e; 
	text-decoration: none;
}



.auction a.button:hover{
	color: white;
}
.layout-auctions-index .auction:hover{
	border-color: #dbc29a;
	border-right-color: #cbac7a;
	border-bottom-color: #cbac7a;
	background: #fffdf7;
}

.layout-auctions-index .auction:hover footer{
	background: #f8f5ef;
}

.auction .auction-header h1{
	margin-right: 40px;
	float: left;
}

.auction .auction-header .button{
	width: 40px;
	text-align: center;
	position: absolute;
	right: 16px;
	top: 16px;
	padding: 4px 6px;
	font-size: 14px;
}

.auction.is-draft .auction-header .button{
	top: 40px;
}

.auction.is-draft .auction-header .draft{
	border-radius: 3px 3px 0 0;
	background: repeating-linear-gradient(
		  45deg,
		  #f6d27b,
		  #f6d27b 10px,
		  #ffe5a4 10px,
		  #ffe5a4 20px
		);
	color: #400600;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	padding: 6px 0;
	margin-bottom: 6px;
	display: block;
}


.auction .auction-header dl{
	padding: 4px 0 16px;
	line-height: 1.4;
	font-family: Merriweather, Georgia, serif;
	font-size: 13px;
	font-weight: 600;
	font-style: italic;
	clear: both;
}

.auction .auction-header dl dt,
.auction .auction-header dl dd{
	display: inline-block;
	vertical-align: middle;
}

.auction .auction-header dl dt::after{
	content: ":";
}

.auction .auction-header dl dd{
	margin-right: 0.6em;
}
.auction .auction-header nav{
	display: block;
	clear: both;
	background: #f3f3f3;
	background: linear-gradient(#f3f3f3, #f0f0f0);
	border-top: 1px solid #c8c8c8;
	padding: 8px 16px 8px 14px;
	box-shadow: inset 0 1px 0 #e8e8e8;
}

.layout-auctions-show .auction .auction-header nav .nav-auction-show,
.layout-auctions-bids .auction .auction-header nav .nav-auction-bids{
	background: linear-gradient(#555, #444);
	color: white;
}

.layout-auctions-show .auction .auction-header nav .nav-auction-show:hover,
.layout-auctions-bids .auction .auction-header nav .nav-auction-bids:hover{
	background: #444;
}

.auction .auction-header nav a{
	display: inline-block;
	vertical-align: middle;
	padding: 4px 10px;
	line-height: 1.4em;
	border-radius: 999em;
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.auction .auction-header nav a:hover{
	background: rgba(255,255,255,0.8);
}

.auction .auction-footer{
	padding: 12px 16px 0;
	margin: 14px -16px 0;
	background: #fafafa;
	border-radius: 0 0 3px 3px;
	font-size: 16px;
	line-height: 16px;
	color: #555;
	position: relative;
}

.auction .auction-footer h2{
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 8px;
}

.auction .auction-footer span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	line-height: 1.2em;
}

.auction .auction-footer ul::after{
	content: "";
	display: table;
	clear: both;
}
.auction .auction-footer li{
	float: left;
	width: 50%;
	margin-bottom: 18px;
}

.auction .auction-footer dd img{
	width: 24px;
	height: 24px;
	background: #888;
	border-radius: 100%;
	border: none;
	vertical-align: middle;
	margin-top: -1px;
	margin-right: 4px;
	margin-left: -1px;
}

.auction .auction-footer .auction-current-bid{
	position: absolute;
	left: 50%;	
	bottom: 0;
	padding-bottom: 20px;
	border-left: 1px solid #eee;
	padding-left: 8px;
}

.auction .auction-footer .auction-current-bid{
	padding-bottom: 38px;
	padding-top: 12px;
}

dt.auction-status{ text-indent: -9999em; }
dd.auction-status{
	content: "";
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-family: Source Sans Pro;
	font-style: normal;
	background-color: #0095c8;
	color: #fff;
	border-radius: 2px;
	margin-right: 0.8em !important;
	margin-left: -0.4em;
	margin-top: -2px;
	padding: 2px 6px 1px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
dd.auction-status-closed{ background: #99005c; }
dd.auction-status-closing-soon{ background: #c35f00; }
dd.auction-status.auction-status-open{ background: #008a6c; }

/* @end */


/* @group .page */

.page{ padding-top: 1em; }

.page .page-title,
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page nav,
.page figure,
.page p,
.page ul,
.page ol,
.page dl,
.page li{
	line-height: 1.4em;
	margin: 0 auto 0.7em;
	max-width: 640px;
}


.page td{ line-height: 1.4em; }

.page h1,
.page h2,
.page h3,
.page h4,
.page h5{
	line-height: 1.125em;
}

.page figure.figure-fill{
	width: 100%;
	max-width: none;
	text-align: center;
}

.page ul,
.page ol{
	padding-left: 1.4em;
}

.page ul ol,
.page ul ul,
.page ol ol,
.page ol ul{
	margin-left: 0;
}

.page strong{ font-weight: 600; }
.page em{ font-style: italic; }

a[id]{
	color: inherit;
	text-decoration: none;
}

.page code{
	background: #eee;
	border: 1px solid #e3e3e3;
	padding: 1px 2px;
	font-family: "Courier New", Courier, mono;
	font-size: 0.8em;
	font-weight: 600;
	border-radius: 2px;
	color: #d40b79;
	top: -1px;
	position: relative;
	clear: none;
}



.page h1,
.page .page-title,
.layout-my-auctions main h1{
	margin-bottom: 0.67em;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.125em;
	color: #383838;
	letter-spacing: -1px;
	max-width: 640px;
	position: relative;
	left: -1px;
}

.page h1+p,
.layout-my-auctions main h1+p{
	padding-top: 0.4em;
	font-family: merriweather;
	line-height: 1.5em;
	color: #444;
	font-size: 18px;
	margin: -1em auto 2em;
	max-width: 640px;
}

.page h2{
	font-weight: 600;
	font-size: 21px;
	line-height: 1.3em;
	font-family: Merriweather, Georgia, serif;
	color: #c56815;
	max-width: 640px;
	margin: 28px auto 16px;
}

.page h3,
.page h4,
.layout-auctions-show main .page h2{
	font-weight: 600;
	font-size: 21px;
	font-family: inherit;
	line-height: 1.4em;
	margin-top: 28px;
	margin-bottom: 16px;
	color: #333;
}

.page h4{
	font: inherit;
	font-family: Merriweather, Georgia;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #222;
	letter-spacing: 0.05em;
	word-spacing: 0.125em;
	margin-top: 24px !important;
	margin-bottom: 16px !important;
}

.page blockquote{
	padding-left: 1em;
	position: relative;
	max-width: 640px;
	margin: 0 auto;
}

.page blockquote::after{
	content: "";
	position: absolute;
	left: 1px;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #e3e3e3;
	border-radius: 3px;
}

.page blockquote p{
	font-family: Merriweather, Georgia, serif;
	font-style: italic;
	color: #555;
	font-size: 17px;
	line-height: 1.67em;
	width: auto;
	max-width: none;
}

@media screen and (min-width: 568.88px){
	
	.page{ padding-top: 1.6em; padding-bottom: 2.4em;}

	.page .page-title,
	.page h1,
	.page h2,
	.page h3,
	.page h4,
	.page h5,
	.page figure,
	.page form,
	.page p,
	.page ul,
	.page ol,
	.page dl,
	.page li{
		margin-left: auto;
		margin-right: auto;
	}
	.page p,
	.page figure,
	.page ul,
	.page ol,
	.page dl,
	.page li,
	.page td {
		margin: 0 auto 0.8em;
		line-height: 1.6em;
	}
	
	.page li p{
		margin-left: 0;
		width: auto;
	}
	
	.page h1,
	.page h2,
	.page h3,
	.page h4 {
		line-height: 1.2em;
	}
	
	.page h1,
	.page .page-title{ font-size: 40px; }
	.page h1+p,
	.page .page-title+p{ 
		font-size: 20px;
		line-height: 1.67em; 
	}
	.page h2{ 
		margin-top: 28px;
		font-size: 21px;
		line-height: 1.3em;
	}
}

}

.page .page-title+h2{ margin-top: 20px; }

.page table{
	border-radius: 3px;
	border: 1px solid #eee;
	margin: 0 auto;
	max-width: 640px;
	table-layout: fixed;
	box-shadow: 0 0 0 2px #fafafa;
}

.page .table-wrapper{
	margin: 0 auto 1.8em;
	padding-bottom: 0.2em;
	max-width: 90%;
	overflow: auto;
}

@media screen and (min-width: 711.11px){
	.page form,
	.page .table-wrapper{ max-width: 640px; }
}

.page table tbody tr:first-child td:first-child{
	border-radius: 3px;
}

.page table tbody tr:nth-child(odd) td{
	background: #fafafa;
}

.page table td,
.page table th{
	border: 1px solid #ddd;
	padding: 8px;
}

.page .h-card .p-job-title{
	clear: left;
	display: block;

}


@media screen and (min-width: 711.11px){
	.page .h-card{
		position: relative;
		left: -80px;
	}	
}

.page .h-card::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 6px;
	background: #e7f3f4;
	border-radius: 5px 0 0 5px
}

.page .h-card .p-tel{ clear: left; }

.page li{
	list-style-type: square;
	margin-left: 1.125em;
	margin-bottom: 0.6em;
}

.page ol li{ list-style-type: decimal; }
.page ol li li { list-style-type: lower-latin; }
.page ol li a {
	text-decoration: none;
}


.page ol > li li{
	margin-bottom: 0.2em;
}
.page ol > li li li{ margin-bottom: 0.3em;}

.page ol .offices a {
	color: #aa470f;
}
.page ol .offices a:hover{
	color: #8d0058;
	text-decoration: underline;
}



.page table thead td{ font-weight: 300; }

/* @end */

/* @group layouts */

/* @group layout-profile */

.field-duns input{
	display: block;
	margin-bottom: 8px;
	max-width: 10em;
}

.field-duns .verification-status-text{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-style: italic;
	color: #555;
}

.field-duns.is-error .verification-status-text,
.field-duns.is-verified .verification-status-text{
	color: green;
	font-weight: 600;
	font-style: normal;
}

.field-duns.is-error .verification-status-text{
	color: darkred;
}

.field-duns.is-error .verification-status-icon,
.field-duns.is-verified .verification-status-icon,
.field-duns.is-verifying .verification-status-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
	background: url(images/png/checkmark.png) left center no-repeat;
	background-size: 16px;	
}

.field-duns.is-verifying .verification-status-icon{
	background: url(images/gif/ajax.gif) left center no-repeat;
	background-size: 16px;	
}

.field-duns.is-error .verification-status-icon{
	background: url(images/png/notification.png) left center no-repeat;
	background-size: 16px;	
}

.layout-profile .button-delete{
	float: right;
	color: #992d00;
}

.layout-profile .button-delete:hover,
.layout-profile .button-delete:active{
	background: #992d00;
	color: white;
	border-color: #992d00;
}

.layout-profile .button-delete:active{
	color: #ffe992;
}

/* @end */

/* @group layout-sign-up */

.layout-sign-up main .wrapper,
.layout-profile main .wrapper{
	width: 680px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 0 0 #eee;
	padding: 40px;
	border-radius: 1em
}

.layout-sign-up .wrapper p,
.layout-profile .wrapper p{
	line-height: 1.6;
	margin-bottom: 1em;
}

.layout-sign-up .field .label-text,
.layout-profile .field .label-text,
.layout-sign-up .page h2{
	font: inherit;
	font-weight: 600;
	color: #555;
	margin-top: 0;
	margin-bottom: 8px;
}

.layout-sign-up .field.field-checkbox .label-text{
	font-weight: normal;
	color: inherit;
}
.layout-sign-up .field-name,
.layout-sign-up .field-email,
.layout-profile .field-name,
.layout-profile .field-email{
	width: 50%;
	margin-left: 0;
}

.layout-sign-up .terms{
	max-height: 10em;
	overflow: auto;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 1em;
}

.layout-sign-up main footer,
.layout-profile main footer{ margin-top: 2em; }

.layout-sign-up main footer a{
	float: right;
	margin-top: 0.5em;
	color: #555;
}

.layout-sign-up .terms h1{
	font-size: inherit;
	letter-spacing: normal;
	font-style: italic;
	margin-bottom: 1.2em;
}
.layout-sign-up .terms p{
	font-size: inherit;
	font: inherit;
	font-size: 14px;
	line-height: 1.3em;
	margin-bottom: 0.7em;
	
}

/* @end */

/* @group layout-auctions-index */


.h-feed-header{
	margin-bottom: 1em;
}

.h-feed-header::after{
	content: "";
	display: table;
	clear: both;
}

.h-feed-header h1{
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -1.3px;	
	display: inline-block;
	vertical-align: middle;
}

.h-feed-header h1+.button{
	position: absolute;
	right: 0;
	top: 16px;
	padding: 6px 10px;
	margin-left: 0.6em;
}

.h-feed-header nav{
	position: relative;
	margin-top: 5px;
	margin-bottom: 16px;
	border-top: 1px solid #555;
	padding-top: 12px;
	display: none;
	
}

.user-type-admin.signed-in .h-feed-header nav,
.user-type-vendor.signed-in .h-feed-header nav{
	display: block;
}

.h-feed-header nav a{ 
	text-decoration: none; 
	margin-right: 1em;
}

.layout-auctions-drafts .nav-auctions-drafts,
.layout-auctions-index .nav-auctions-index,
.layout-auctions-needs-attention .nav-auctions-needs-attention,
.layout-auctions-closed .nav-auctions-closed{ 
	font-weight: 600;
	color: #333;
}

.layout-auctions-drafts .nav-auctions-drafts .count,
.layout-auctions-index .nav-auctions-index .count,
.layout-auctions-needs-attention .nav-auctions-needs-attention .count,
.layout-auctions-closed .nav-auctions-closed .count { 
	background: #333;
	color: white;
	border-color: #333;
}

body[class^="layout-auctions"] .nav-auctions-needs-attention .count{ 
background: #99005c;
border-color: #99005c;
color: white;
}

.h-feed-header nav .count{
	background: #f3f3f3;
	padding: 1px 8px;
	border: 1px solid #e3e3e3;
	border-radius: 99em;
	font-size: 14px;
	font-weight: 600;
	margin-left: 0.2em;
}

.h-feed-header form{
	font-size: 14px;
	display: none;
}

.h-feed-header form .field-select {
	display: inline-block;
}

.h-feed-header form .field-select .label-text,
.h-feed-header form .field-select select{ 
	display: inline; 
	width: auto;
	height: auto;
	min-height: 0;
}
.h-feed-header form h1{
	position: absolute;
	left: -9999em;
	top: -9999em;
}

.h-feed-header form .field{
	float: left;
	margin-right: 1em;
	margin-left: -2px;
	margin-bottom: 0;
}

.h-feed-header nav h2{
	font-size: 11px;
	text-transform: uppercase;
	font-family: Lucida Grande;
	position: absolute;
	left: 0;
	bottom: 1px;
}

.h-feed-header nav a{ color: #666; }
.h-feed-header nav a:hover{ color: #333; }

.h-feed-header ul{
	margin-right: -0.8em;
}
.h-feed-header ul li{
	display: inline;
	margin-right: 0.8em;
}

.h-feed{
	margin-bottom: 32px;
}

.layout-auctions-index .auction{
	border: 1px solid #ddd;
	padding: 14px 16px 0;
	margin-bottom: 20px;
	border-radius: 4px;
	border-right-color: #d8d8d8;
	border-bottom-color: #d5d5d5;
	box-shadow: 1px 1px 0 #f8f8f8;
	background: #fff;
	color: #555;
	position: relative;
	max-width: 100%;
	display: block;
}

.layout-auctions-index .auction.is-draft .draft{
	margin: -14px -16px 12px;
}

.layout-auctions-index .auction a{
	color: inherit;
	text-decoration: none;
}

.layout-auctions-index .auction p{
	font-size: 16px;
	line-height: 1.4em;
}

@media screen and (min-width: 799.99px){

	.layout-auctions-index main .auction{
		width: 48.5%;
		margin-right: 3%;
		float: left;
	}
	.layout-auctions-index main .auction:nth-child(2n+1){
		margin-right: 0;
	}
}

.layout-auctions-index main article p{
	line-height: 1.3;
}

/* @end */

/* @group layout-auctions-needs-attention */

.layout-auctions-needs-attention.user-type-admin .section-bids,
.layout-auctions-needs-attention.user-type-admin .section-delivery-needed,
.layout-auctions-needs-attention.user-type-admin .section-payment-pending{
	display: none;	
}

.layout-auctions-needs-attention.user-type-vendor .section-drafts,
.layout-auctions-needs-attention.user-type-vendor .section-delivery-pending,
.layout-auctions-needs-attention.user-type-vendor .section-payment-needed{
	display: none;
}

/* @end */

/* @group layout-auctions-show */

.layout-auctions-show main .wrapper,
.layout-auctions-bids main .wrapper{
	border: 1px solid #ccc;
	border-radius: 6px;
}

.layout-auctions-show main .auction-header{
	position: relative;
	margin-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.layout-auctions-show main .auction-header h1,
.layout-auctions-bids main .auction-header h1{
	font-size: 29px;
	font-family: Merriweather, Georgia, serif;
	display: inline-block;
	margin-bottom: 0.2em;
	margin-left: 20px;
	padding-top: 16px;
	line-height: 1.1;
	font-weight: 400;
	letter-spacing: -1px;
	color: #384f7e;
}

.layout-auctions-show main .auction-header dl,
.layout-auctions-bids main .auction-header dl{
	font-size: 15px;
	margin: 0 20px;
	font-weight: normal;
}

.layout-auctions-show main .auction-header dd.auction-time-remaining,
.layout-auctions-bids main .auction-header dd.auction-time-remaining{
	margin-right: 0.6em;
}


.layout-auctions-show .auction .auction-header .auction-current-bid{
	position: relative;
}

.layout-auctions-show .auction .auction-header form button{
	white-space: nowrap;
	
}

.layout-auctions-show main .auction-footer {
	background: none;	
}

.layout-auctions-show main .auction-footer::after {
	display: none;
}


.auction-workflow.auction-workflow-bid-placed{
	background: #dcfde9;
	border-color: #5cbb82;
	border-right-color: #5cbb82;
	color: #005d1f;
	text-align: center;
}

.auction-workflow.auction-workflow-bid-placed h1{
	margin-bottom: 0;
}

.auction-workflow.auction-workflow-bid-placed span{
	display: block;
	margin: 1em 0;
}


.auction-workflow.is-loading,
.auction-workflow.auction-workflow-preview,
.auction-workflow.auction-workflow-closed{
	border-color: #d3d3d3;
	border-right-color: #c0c0c0;
	border-bottom-color: #bbb;
	color: #333;
	background: #f3f3f3;
	text-align: center;
}

.auction-workflow.auction-workflow-bid-rejected{
	border-color: #ff632c;
	border-right-color: #d60c18;
	border-bottom-color: #d60c18;
}

.auction-workflow.auction-workflow-bid-rejected h1{
	color: #d21d1c;
	font-weight: 600;
}

.auction-workflow.auction-workflow-bid-rejected p{
	margin-bottom: 0.8em;
}
.auction-place-bid.is-loading{
	border-color: #ddd;
	border-right-color: #c8c8c8;
	border-bottom-color: #d0d0d0;
	box-shadow: none;
}

.auction-place-bid.is-loading::after{
  content: "";
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  border-radius: 100%;
  box-shadow: 0 1px 0 0 #aaa;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
  z-index: 1;
}

.auction-place-bid.is-loading::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.8);
}

.auction-place-bid,
.auction-workflow{
	color: #333;
	border: 1px solid #73aee5;
	box-shadow: 1px 1px 0 0 #f8f8f8;
	border-radius: 4px;
	margin-bottom: 1em;
	padding: 20px;
	position: relative;
}

.auction-workflow h1{ 
	font: inherit;
	color: inherit;
	line-height: 1.4em;
	margin-bottom: 0.8em;

}
.auction-workflow button{
	margin-top: 1.6em;
	margin-left: 0.4em;
	position: relative;
	top: 1px;
	height: 2.2em;
	padding: 4px 10px;
}

.auction-workflow .field{
	width: 5.5em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}


.layout-auctions-show main .page h2{
	color: #b83728;
}

.auction-workflow p,
.auction-place-bid p{
	line-height: 1.4em;
}

.auction-place-bid h1{
	font: inherit;
	color: inherit;
	line-height: 1.2em;
	margin-bottom: 0;
}

.auction-place-bid form{
	padding-top: 18px;
}

.auction-place-bid form .field{
	width: 50%;
}

.auction-place-bid form input{
	font-weight: normal;
}

.auction-place-bid form label{
	font-weight: 600;
	color: #555;
}

.auction-place-bid form button{
	display: block;
	width: 100%;
}

.layout-auctions-show main .auction-footer ul{
	background: #f3f3f3;
	padding: 20px;
	margin-bottom: 20px;
}

.layout-auctions-show main .auction-footer ul li{
	float: none;
	width: auto;
}



@media screen and (min-width: 1066.66px){	
	.layout-auctions-show .auction-header .auction-place-bid{ display: none; }
	
	.layout-auctions-show main .wrapper .page,
	.layout-auctions-show main .wrapper .auction-footer{
		float: left;
		width: 100%;
		padding-top: 0;
	}
	
	.layout-auctions-show main .wrapper .page{
		width: 630px;
		padding-left: 20px;
	}
	
	.layout-auctions-show main .wrapper .page p{
		width: 100%;
	}

	.layout-auctions-show main .wrapper .auction-footer{
		width: 312px;
		float: right;
		margin: 0;
	}

	.layout-auctions-show main .wrapper .page h1,
	.layout-auctions-show main .wrapper .page h2,
	.layout-auctions-show main .wrapper .page h3,
	.layout-auctions-show main .wrapper .page p,
	.layout-auctions-show main .wrapper .page li{
		margin-left: 0;
	}	

}
/* @end */

/* @group layout-auctions-approval */

.layout-auctions-approval form{
	max-width: 640px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 0;
	border-radius: 4px;
}

.layout-auctions-approval form h1{
	font-weight: 600;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	margin-bottom: 12px;
	color: #333;
	padding: 16px 16px 0;
}

.layout-auctions-approval form p{
	line-height: 1.33;
	margin-bottom: 1em;
	padding: 0 16px;
}

.layout-auctions-approval form footer{
	margin-top: 16px;
	padding: 16px;
	border-top: 1px solid #ddd;
	background: #f3f3f3;	
	border-radius: 0 0 3px 3px;
}

.layout-auctions-approval form footer::after{
	content: "";
	display: table;
	clear: both;
}

.layout-auctions-approval form footer button{
	background: #2D3F5B;
	color: white;
	border: none;
	float: left;
}

.layout-auctions-approval form footer button:hover{
	background-color: #122b58;
}

.layout-auctions-approval form footer button:active{
	color: #b1cffe;
}

.layout-auctions-approval form footer a{
	float: right;
	margin-top: 8px;
	
}

/* @end */

/* @group layout-auctions-bids */

.layout-auctions-bids main .wrapper table,
.layout-my-auctions main .wrapper table{
	width: 100%;
	color: inherit;
	text-align: left;
}

.layout-my-auctions main .wrapper table{
	margin-top: 2em;
}

.layout-auctions-bids main .wrapper table th,
.layout-auctions-bids main .wrapper table td,
.layout-my-auctions main .wrapper table td{
	padding: 8px 0;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-left: 20px;
}

.layout-auctions-bids main .wrapper table tbody tr:last-of-type td{
	border-bottom: none;
	
}

.layout-my-auctions main .wrapper table td{
	border: 1px solid #eee;
}

.layout-auctions-bids main .wrapper table .th td,
.layout-auctions-bids main .wrapper table .col-timestamp{
	border-right: none;
}

.layout-auctions-bids main .wrapper table .is-winning td{
	background: lemonchiffon;
}

.layout-auctions-bids main .wrapper table .col-duns,
.layout-auctions-bids main .wrapper table .col-amount,
.layout-auctions-bids main .wrapper table .col-timestamp{
	padding-right: 20px;
	width: 180px;
}

.layout-auctions-bids main .wrapper table thead th{
	padding-top: 8px;
}

.layout-auctions-bids main .wrapper table .th td{
	font-weight: 600;
}


/* @end */

/* @group auctions new, edit */

.layout-auctions-new main .wrapper,
.layout-auctions-edit main .wrapper{
	max-width: 640px;
	background: #f8f8f8;
	padding: 20px;
}



.fieldset-date-time .field-date,
.fieldset-date-time .fieldset.fieldset-time{
	margin: 0;
	position: relative;
	border: 0;
	padding: 0;
}

.fieldset-date-time .field-date span.label-text,
.fieldset-date-time .fieldset-time legend{
	font-weight: normal;
}

.layout-auctions-new .branch,
.layout-auctions-edit .branch{
	margin-bottom: 12px;
	margin-left: -2px;
}

.branch .fieldset.fieldset-date-time{
	width: 48.5%;
	float: left;
	padding: 32px 12px 12px;
	border: 2px solid #e3e3e3;
	background: #fff;
	margin: 0;
	margin-right: 3%;
}

.branch .fieldset.fieldset-delivery-date-time{
	margin-right: 0;
}

.branch .fieldset-date-time > legend{
	position: absolute;
	top: 8px;
	bottom: auto;
	font-size: 14px;
	color: #555;
	font-weight: normal;
}

.branch .fieldset-date-time .field-date,
.branch .fieldset-date-time .fieldset-time,
.with-customized-timeline .fieldset-date-time-summary,
.with-customized-timeline .p-date-time-defaults{
	display: none;
}

.with-customized-timeline .branch .fieldset-date-time .field-date,
.with-customized-timeline .branch .fieldset-date-time .fieldset-time{
	display: block;
}

.with-customized-timeline .branch .fieldset-date-time{
	width: auto;
	float: none;
	margin-right: 0;
	border: 1px solid #ccc;
	padding: 16px;
	margin-bottom: 16px;
}

.with-customized-timeline .branch .fieldset-date-time > legend{
	position: static;
	display: block;
	font-size: inherit;
	font-weight: 600;
	color: #333;
	margin: 0;
}

.branch+.help-text{
	font-size: 14px;
	line-height: 1.33em;
	padding-top: 12px;
	margin-bottom: 2em;
	clear: both;
}

.fieldset-date-time::after{
	content: "";
	display: table;
	clear: both;
}

.fieldset-date-time .field-date,
.fieldset-date-time .fieldset-time{
	float: left;
	margin-right: 0.55em;
	min-width: 11.8em;
}

.fieldset-date-time .field-date input{
	width: 100%;
}

.fieldset-date-time.fieldset-start-date-time{
	margin-bottom: 12px;
}

.fieldset-date-time .fieldset-time .field {
	position: relative;
}

.fieldset-date-time .fieldset-time .field select{
	background: white;
}

.fieldset-date-time .fieldset-time .field::after{
	z-index: 1;
	border-width: 5px;
}

.fieldset-date-time .fieldset-time .field-time-hours select{
	border-radius: 3px 0 0 3px;
}

.fieldset-date-time .fieldset-time .field-time-minutes select{
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.fieldset-date-time .fieldset-time .field-time-meridiem select{
	border-radius: 0 3px 3px 0;
}

.field-checkbox.field-sealed-bid .label-text{
	font-weight: 400;
	font-size: 14px;
}

.fieldset-date-time .fieldset-time .field .label-text{
	position: absolute;
	bottom: 0;
	left: -9999em;
	font-size: 12px;
	
}
.fieldset-date-time .fieldset-time .field-time-hours,
.fieldset-date-time .fieldset-time .field-time-minutes,
.fieldset-date-time .fieldset-time .field-time-meridiem{
	width: 3.5em;
	float: left;
	margin-bottom: 0;
}

.field.field-starting-bid{ margin-bottom: 8px; }
.field.field-starting-bid input{ width: 5.5em; }

.field.field-sealed-bid.field-checkbox{
	margin-bottom: 28px;
}

.layout-auctions-new .time-zone,
.layout-auctions-edit .time-zone{
	position: relative;
	top: 11px;
	left: 8px;
	font-size: 14px;
	font-weight: 600;
	color: #555;
}

.layout-auctions-new textarea,
.layout-auctions-edit textarea{
	font-family: Monaco, "Courier New", Courier, mono;
	font-size: 13px;
	line-height: 1.4em;
	color: #444;
	width: 100%;
	max-width: none;
}

.fieldset-date-time,
.fieldset-github,
.fieldset-payment{
	padding-top: 4px;
	background: white;
}

.fieldset-skills{
	margin: 0;
	padding: 0;
	border: 0;
}

.fieldset-skills .field.field-checkbox{
	margin: 0;
	padding: 0;
}

.fieldset-skills .field label{
	border-bottom: 1px solid #eee;
	padding: 4px 4px 4px 28px;
	display: block;
	font-size: 16px;
}

.fieldset-skills .field:last-of-type label{
	border-bottom: none;
}

.fieldset-skills .field label input{
	left: 4px;
	top: 4px;
}

.fieldset-skills legend{
	background: none;
}

.fieldset-skills .button{
	position: absolute;
	left: 4em;
	top: -1px;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: 600;
}

.fieldset-skills-wrapper{
	max-height: 6em;
	overflow: auto;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	
}

.fieldset-payment{
	margin-bottom: 0;
}

.fieldset-github .field,
.fieldset-payment .field{
	width: 20%;
	display: inline-block;
	margin-bottom: 0;
	margin-right: -0.4em;
}

.fieldset-github .field .label-text{
	font-weight: 400;
}

.fieldset-github .field.field-github-project-url{
	width: 75%;
	margin-right: 5%;
}

.fieldset-github .field.field-issue-number{
	margin-right: 0;
}

.fieldset-payment .field{
	width: 48.5%;
}

.fieldset-payment .field.field-customer{
	margin-right: 2.5%;
}

.layout-auctions-edit .fieldset-payment .notice{
	clear: both;
	margin-top: 12px;
	font-size: 14px;
}

.layout-auctions-new .wrapper footer,
.layout-auctions-edit .wrapper footer{
	margin-top: 2em;
}

.layout-auctions-new .wrapper footer .button,
.layout-auctions-edit .wrapper footer .button{
	width: 100%;
	background: #008c52;
	color: white;
	border-color: #008c52;
}

/* @end */



/* @group layout-people */

.layout-people-index main .wrapper > h1,
.layout-people-show main .wrapper > h1,
.layout-settings main .wrapper > h1{
	letter-spacing: -2px;
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -1.3px;	
	display: inline-block;
	line-height: 1.125em;
	color: #383838;
	letter-spacing: -2px;
}

.layout-people-show main .wrapper > h1{
	margin-bottom: 0.4em;
	display: block;
	
}

.layout-auctions-drafts section h1,
.layout-auctions-index section h1,
.layout-auctions-needs-attention section h1,
.layout-auctions-closed section h1,
.layout-people-index section h1,
.layout-people-show section h1,
.layout-settings main section > h1{
	font-weight: 600;
	font-size: 21px;
	line-height: 1.3em;
	font-family: Merriweather, Georgia, serif;
	color: #c56815;
	margin: 28px 0 16px;
	display: inline-block;
}

body[class^="layout-auctions"] section:first-of-type h1{
	margin-top: 0;
	
}

.layout-people-index section h1+.button,
.layout-settings main section > h1+.button{
	padding: 4px 8px;
	font-size: 14px;
	margin-top: -4px;
	margin-left: 0.6em;
}

body[class^="layout-auctions"] table,
.layout-people-index table,
.layout-people-show table{
	border-radius: 3px;
	border: 1px solid #eee;
	width: 100%;
	margin: 0 auto;
}

.layout-people-index .people-vendors table tbody td,
.layout-people-show section table tbody td{
	padding: 0;
}

.layout-people-index .people-vendors table tbody td a,
.layout-people-show section table tbody td a{
	display: block;
	padding: 8px;
	color: inherit;
	text-decoration: none;
}

.layout-people-index section table tbody td.col-name a,
.layout-people-show section table tbody td.col-auction a{
	color: #006fbe;
	text-decoration: underline;
}

.layout-people-index .people-vendors table tbody tr:hover td,
.layout-people-show section table tbody tr:hover td{
	background: lemonchiffon;
	
}

.layout-people-index table tbody tr:first-child td:first-child,
.layout-people-show table tbody tr:first-child td:first-child{
	border-radius: 3px;
}

body[class^="layout-auctions"]  table tbody tr:nth-child(odd) td,
.layout-people-index table tbody tr:nth-child(odd) td,
.layout-people-show table tbody tr:nth-child(odd) td,
.layout-people-show table tbody tr:nth-child(odd) th{
	background: #fafafa;
}

body[class^="layout-auctions"] table td,
body[class^="layout-auctions"] table th,
.layout-people-index table td,
.layout-people-index table th,
.layout-people-show table td,
.layout-people-show table th{
	border: 1px solid #ddd;
	padding: 8px;
}

.layout-people-show table th{
	width: 12em;
	text-align: right;
	font-weight: 600;
	color: #555;
}

.layout-people-index table tr.primary-contact td{
	background: lemonchiffon;
}

.layout-people-index table td.col-contracting-officer-false{
	color: #ddd;
}

.layout-people-index .col-github-id,
.layout-people-index .col-contracting-officer,
.layout-people-index .col-actions{ width: 6em; }

.layout-people-index .col-name{
	width: 16em;
	
}

/* @end */

/* @group layout-people-new */

.layout-people-new form{
	max-width: 400px;
	margin: 2em auto 1em;
	border: 1px solid #ccc;
	padding: 12px 20px 20px;
	border-radius: 6px;
	position: relative;
}

.layout-people-new form .a-back{
	position: absolute;
	bottom: 100%;
	margin-bottom: 8px;
	left: 0;
}

.layout-people-new h1{
	margin-bottom: 0.67em;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.125em;
	color: #383838;
	letter-spacing: -1px;	
}

.layout-people-new .field-github-id{
	max-width: 6em;	
}

.layout-people-new .button{
	margin-top: 1em;
	
}

.layout-people-new .field em{
	font-style: italic;
}
.layout-people-new .field-agency .button{
	position: absolute;
	left: 9.5em;
	top: -12px;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: 600;
}

/* @end */

/* @group layout-settings */

.layout-settings article{
	border-bottom: 1px solid #eee;	
	padding: 4px 0;
	max-width: 400px;
	position: relative;
}

.layout-settings article a{
	font-size: 14px;
	position: absolute;
	right: 0;
	top: 4px;
	
}

/* @end */

/* @group layout-sign-in */
.layout-sign-in .site-header nav{ display: none; }
.layout-sign-in main { padding-top: 2em; }
.layout-sign-in main section {
	margin-bottom: 2em;
	
}
.layout-sign-in main h1 { 
	font-size: 48px;
	font-weight: 100;
	letter-spacing: -2px;
	margin-bottom: 0.4em;
}

.layout-sign-in main p,
.layout-sign-in main li{
	line-height: 1.4em;	
	margin-bottom: 0.6em;
	max-width: 32em;
}

.layout-sign-in main p{
	margin-bottom: 0.8em;
}

.layout-sign-in main ol li{
	list-style-type: decimal;
	margin-left: 2.1em;
}

@media screen and (min-width: 853.33px){
	.layout-sign-in main section{
		float: left;
		width: 50%;
	}	
	
	.layout-sign-in main section:first-child{
		padding-top: 4em;
	}
	
	.layout-sign-in main section:last-child h1{
		font-size: 32px;
		font-weight: 400;
		letter-spacing: -1px;
		color: #444;
	}
}


/* @end */

/* @end */
