
.auction-detail-panel {
  border: 1px solid #ccc;
  border-radius: $border-radius;

  .auction-info {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;

    p {
      margin: 0;
    }
  }

  .auction-more-info {

    background-color: $primary-darkest;
    padding: 2rem;

    p,
    a,
    i {
      color: $color-white;
    }

    p {
      padding-bottom: 1rem;
      margin: 0;

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    i {
      margin-right: 5px;
    }
  }
}


.auction-label-expiring {
    background-color: $color-gold !important;
    color: $default-color !important;
}

.auction-label-over {
    background-color: $color-secondary-dark !important;
}

.auction-label-future {
  background-color: $branding-bright;
  color: $default-color !important;
}

.auction-label-open {
    background-color: $color-green !important;
}

a[class*="auction-label-"],
span[class*="auction-label-"] {
  margin-left: $base-padding-lite;

}

.auction-label,
.auction-label-info {
  display: inline-block;
}

.auction-label {
  font-size: $h3-font-size;
  font-weight: $font-normal;
}

.auction-label-info {
  font-size: $h4-font-size;
  padding-bottom: $site-margins;
}
