textarea#auction_summary {
  width: 500px;
  height: 150px;
}

textarea#auction_description {
  width: 500px;
  height: 500px;
}



.auction-description {
  h1 {
    margin-top: 0;
  }
}

.github-issue {
  h1 {
    line-height: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
  }

  p, li {
    line-height: 1.3em;
  }

  ul {
    margin-bottom: 0.5em;
  }
}

.issue-list-item {
  border: 1px solid $color-gray-neutral;
  background-color: $color-white;
  border-radius: $border-radius;
  font-weight: $font-light;

  margin-bottom: $site-margins;

  .issue-label {
    margin-top: 0.75rem;
  }

  .issue-title {
    margin-top: 1rem;
    font-size: 2.5rem;

    span {
      font-weight: $font-bold;
    }

  }

  .issue-bid-details {
    background-color: $color-gray;
    background-color: $primary-darkest;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $color-white;
    padding: $base-padding 3rem;
    padding-bottom: 0;

    .current-bid-box {
      position: relative;

      .current-bid-box-children {
        position: relative;
        top: 50%;

        .current-bid-header {
          font-weight: 400;
        }
        .current-bid {
          font-size: 1.3rem;
          font-weight: 700;
        }

        .current-bid-link {
            white-space: nowrap;
        }

      }
    }

    .bid-deadline-box {
      .bid-deadline-box-children {
        position: relative;
        top: 50%;
        margin-bottom: 0.5rem;
      }
    }

    a.usa-button {
      margin: 0;
      padding: 0.5rem 2rem;
      white-space: nowrap;
    }

    p {
      display: inline;
      margin-right: 40px;
    }
  }
}

.issue-list-item-details,
.issue-bids-info {
  font-weight: $font-normal;
}



.issue-bids-info-item {
  display: inline-block;
  margin-bottom: $base-padding;
  margin-right: $site-margins;

  &:last-of-type {
    margin-right: 0;
  }
}

.issue-icon {
  width: 25px;
  max-width: none;
}
