.auction-wrapper {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.auction-form {
  .url,
  textarea {
    width: 500px;
  }
}

.hide {
  display: none;
}

textarea#auction_summary {
  height: 150px;
}

textarea#auction_description {
  height: 500px;
}

.auction-description {
  h1 {
    margin-top: 0;
  }
}

.github-issue {
  h1 {
    line-height: 1.1em;
    margin-bottom: .5em;
    margin-top: .2em;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-bottom: .1em;
    margin-top: .2em;
  }

  p, li {
    line-height: 1.3em;
  }

  ul {
    margin-bottom: .5em;
  }
}

.auction-wrapper .issue-list-item {
  display: flex;
}

.issue-list-item {
  background-color: $color-white;
  border: 1px solid $color-gray-neutral;
  border-radius: $border-radius;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-weight: $font-light;
  margin-bottom: $site-margins;
  position: relative;

  &:last-of-type {
    margin-bottom: $base-padding-large;
  }

  .issue-content-wrapper {
    flex: 1 0 auto;
  }

  .issue-label {
    margin-top: .75rem;
  }

  .issue-bid-details {
    background-color: $color-gray-lightest;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-left: $site-margins;
    padding-right: $site-margins;
    width: 100%;

    .current-bid-box {
      position: relative;

      .current-bid-box-children {
        position: relative;
        top: 50%;

        .current-bid-header {
          font-weight: 400;
        }
        .current-bid {
          font-size: 1.3rem;
          font-weight: 700;
        }

        .current-bid-link {
            white-space: nowrap;
        }

      }
    }

    a.usa-button {
      margin: 0;
      padding: .5rem 2rem;
      white-space: nowrap;
    }

    p {
      display: inline;
      margin-right: 40px;
    }
  }
}

.issue-title {
  @include calc(padding-right, "80px + -#{$site-margins} + .25em + #{$base-padding-lite}");

  font-size: 2.5rem;
  margin-bottom: $base-padding-lite;
  margin-top: 1rem;

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  span {
    font-weight: $font-bold;
  }
}

.issue-list-item-details,
.issue-bids-info {
  font-weight: $font-normal;
}

.issue-bids-info-item {
  display: inline-block;
  margin-bottom: $base-padding;
  margin-right: $site-margins;

  &:last-of-type {
    margin-right: 0;
  }

  span {
    font-weight: $font-normal;
  }
}

.issue-icon {
  width: 25px;
  max-width: none;
}


.issue-details-label {
  font-size: $h6-font-size;
  font-weight: $font-light;
}

.issue-details-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-details-list-item {
  @include span-columns(6);

  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $base-padding-lite;

  &:nth-child(2n) {
    @include omega();
  }

  &:last-child,
  &:nth-last-child(2):nth-child(odd) {
    padding-bottom: 0;

    &::after {
      margin: 0;
    }
  }
}

.issue-details-list {
  margin: 0;
  margin-bottom: $base-padding;
  margin-top: $base-padding;
  width: 100%;
}

.issue-current-bid:not(.issue-current-bid-long) {
  &::before {
    content: '\2219';
    margin-left: $base-padding-lite;
    margin-right: $base-padding-lite;
  }
}

.issue-current-bid.issue-current-bid-new-line {
  &::before {
    content: '\A';
    white-space: pre;
  }
}

.issue-bid-deadline {
  display: inline-block;
  margin: 0;
  margin-bottom: $base-padding-lite;
}
