.auction-header {
  font-size: $base-font-size;
}

.auction-header nav {
  background: $color-gray-lightest;
  border-bottom: 1px solid $color-gray-light;
  border-top: 1px solid $color-gray-light;
  clear: both;
  display: block;
  padding: 8px 16px;
}

.layout-auctions-show .nav-auction-show,
.layout-auctions-bids .nav-auction-bids {
  background: linear-gradient($color-gray-dark, $color-gray);
  color: $color-white;
}

.auction-header nav a:hover {
  background: $color-gray-light;
}

.auction-header nav a {
  border-radius: $round-border-radius;
  display: inline-block;
  line-height: $base-line-height;
  padding: 4px 12px;
  vertical-align: middle;
}
