
nav.usa-site-navbar {
  background: $primary-darkest;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav.usa-site-navbar a {
  color: #fff;
  margin-left: 14px;
  position: relative;
}

.header-account {
  color: $color-white;
  padding: 0;
  text-align: right;
}

.header-account span {
  position: relative;
  right: 10px;
  top: -8px;
}

.header-account a.usa-button {
  font-size: 20px;
  margin: 0;
  position: relative;
}

nav.usa-site-navbar a {
  font-weight: 200;
  padding-left: $site-margins;
  padding-right: $site-margins;
  vertical-align: middle;
}

.header-image,
.header-title-text,
.header-account {
  color: $color-white;
  display: table-cell;
  vertical-align: middle;
}

.header-title-text {
  font-size: 1.5rem;

  @include media($small-screen) {
    font-size: 3rem;
  }
}

.header-image,
.header-image img {
  max-width: none;
  width: 25px;

  @include media($small-screen) {
    width: 50px;
  }
}

.header-table {
  display: table;
  width: 100%;
}


.header-row {
  display: table-row;
  width: 100%;
}
