#button-nav-drawer {
  display: table-cell;
  background: transparent;
  box-shadow: none;
  margin: 13px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  @include media($small-screen) {
    display: none;
  }
}

.header-account {
  display: none;

  @include media($small-screen) {
    display: table-cell;
  }
}


.usa-grid,
.usa-grid-full {

  .usa-heading-small {
    margin: 0;
  }

  .form-group-dropdown {
    margin: 0;
  }

  @include media($large) {

    .usa-heading-small {
      margin-bottom: -20px;
      margin-left: -30px;
    }

    .form-group-dropdown {
      margin-bottom: -20px;
      margin-left: -30px !important;
    }
  }
}

.drawer-submenu-item a,
.drawer-menu-item a {
  color: $color-white;
  font-weight: $font-normal;
}

.drawer-menu-item {
  font-size: $h3-font-size;
}


.drawer-submenu-item {
  font-size: $h5-font-size;
}

drawer ul {
  margin: 0;
}

drawer h3 {
  margin-top: 0;
}

drawer hr {
  margin-bottom: $base-padding;
}

.drawer-submenu {
  padding-left: ($site-margins / 2);
}
