.accordion-text {
  display: none;

  @include media($small-screen) {
    display: inline-block;
    font-weight: $font-bold;
  }
}

.accordion-icon {
  display: inline-block;

  @include media($small-screen) {
    display: none;

    &.fa-close {
      display: inline-block;
    }
  }
}
