.settings-new.usa-button {
  display: inline;
  padding: .5em;

  &:hover {
    text-decoration: none;
  }
}

.site-nav-secondary .new-button {
  padding-right: 0;

  @include media($medium-screen) {
    float: right;
  }
}
