.admin-header {
  float: left;
  font-size: $h1-font-size;
  margin-right: $site-margins;
  margin-top: $base-padding;
}

.admin-action-button {
  float: left;
  margin-left: 1em;
  font-size: $base-font-size;
}
