.auction-wrapper {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.auction-wrapper .issue-list-item {
  display: flex;

  &:nth-child(2n) {
    @include omega();
  }
}

.auction-wrapper .issue-label {
  padding: $site-margins / 2;
}

.pagination-details {
  margin-top: $site-margins;
}

.index-issue-title {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.issue-vitals {
  font-size: $h5-font-size;
  font-style: oblique;
  font-weight: $font-normal;

  .status-label {
    padding: .25em .5em;
    margin-right: .5em;
    font-weight: $font-bold;
  }

  .auction-label-expiring {
    background-color: $color-gold;
  }

  .auction-label-over {
    background-color: $color-gray-light;
  }

  .auction-label-future {
    background-color: $color-cool-blue;
    color: $color-white;
  }

  .auction-label-open {
    background-color: $color-green;
    color: $color-white;
  }
}

@include media($medium-screen) {
  .winning-bid-detail {
    float: right;
  }
}
