.auction-show {
  margin-top: $site-margins;

  .usa-alert {
    background-image: none;
  }

  .usa-alert-body {
    padding: 0;
  }
}

.auction-description {
  ul {
    @include unstyled-list;
  }
}

.hide {
  display: none;
}

.auction-title {
  h1 {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
  }

  .usa-button-outline {
    margin-left: $site-margins;
  }

  .auction-subtitles {
    clear: both;
  }

  .auction-subtitle {
    float: left;
    font-size: $base-font-size;
    margin: 2rem 0;

    &:nth-child(1) {
      margin-right: $site-margins;
    }
  }
}

.auction-body {
  table {
    margin: 0;
  }
}

.issue-list-item {
  background-color: $color-white;
  border: 1px solid $color-gray-neutral;
  border-radius: $border-radius;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-weight: $font-light;
  margin-bottom: $site-margins;
  position: relative;

  .issue-content-wrapper {
    flex: 1 0 auto;
  }

  .issue-label {
    margin-top: .75rem;
  }

  .issue-bid-details {
    background-color: $color-gray-lightest;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding-left: $site-margins;
    padding-right: $site-margins;
    width: 100%;

    .current-bid-box {
      position: relative;

      .current-bid-box-children {
        position: relative;
        top: 50%;

        .current-bid-header {
          font-weight: 400;
        }

        .current-bid {
          font-size: 1.3rem;
          font-weight: 700;
        }

        .current-bid-link {
          white-space: nowrap;
        }
      }
    }

    p {
      display: inline;
      margin-right: 40px;
    }
  }
}

.issue-title {
  font-size: 2.5rem;
  margin-bottom: $base-padding-lite;
  margin-top: 1rem;

  span {
    font-weight: $font-normal;
  }
}

.issue-list-item-details,
.issue-bids-info {
  font-weight: $font-normal;
}

.issue-bids-info-item {
  display: inline-block;
  margin-bottom: $base-padding;
  margin-right: $site-margins;

  &:last-of-type {
    margin-right: 0;
  }

  span {
    font-weight: $font-normal;
  }
}

.issue-icon {
  max-width: none;
  width: 25px;
}

.issue-details-label {
  font-size: $h6-font-size;
  font-weight: $font-light;
}

.issue-details-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-details-list-item {
  @include span-columns(6);

  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: $base-padding-lite;

  &:nth-child(2n) {
    @include omega();
  }

  &:last-child,
  &:nth-last-child(2):nth-child(odd) {
    padding-bottom: 0;

    &::after {
      margin: 0;
    }
  }
}

.issue-details-list {
  margin: 0;
  margin-bottom: $base-padding;
  margin-top: $base-padding;
  width: 100%;
}

.issue-bid-deadline {
  display: inline-block;
  margin: 0;
  margin-bottom: $base-padding-lite;
}
