textarea#auction_summary {
  height: 150px;
}

textarea#auction_description {
  height: 500px;
}

.auction-form {
  .url,
  textarea {
    width: 500px;
  }
}

.auction_skills span {
  float: left;
  padding-right: 1em;
}

.auction_notes label {
  clear: both;
}
