.auction-show {
  .usa-alert {
    background-image: none;
  }

  .usa-alert-body {
    padding: 0;
  }
}

.hide {
  display: none;
}

.auction-title {
  h1 {
    display: inline-block;
    float: left;
    margin-bottom: .5rem;
    margin-top: 2rem;
  }

  .usa-button-outline {
    margin-left: $site-margins;
  }

  .auction-subtitles {
    clear: both;
  }

  .auction-subtitle {
    float: left;
    font-size: $base-font-size;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.admin-edit {
  display: inline-block;

  @include media($medium-screen) {
    margin-top: 3rem;
    float: right;
  }
}

.auction-body {
  table {
    margin: 0;
  }
}
