.auction-detail-panel {
  border-radius: $border-radius;
  margin-top: 1em;

  .auction-bid {
    background-color: $color-primary-alt-lightest;
    border: 1px solid $color-primary-alt-light;
    padding: $base-padding;
  }

  .action-button {
    background-color: $color-primary-alt-lightest;
    box-shadow: inset 0 0 0 2px $color-green;
    color: $color-green;
    margin-top: 55px;

    &:hover,
    &.usa-button-hover {
      color: $color-white;
      background-color: $color-green;
      box-shadow: inset 0 0 0 2px $color-green;
    }
  }

  .red-action-button {
    background-color: $color-primary-alt-lightest;
    box-shadow: inset 0 0 0 2px $color-secondary-dark;
    color: $color-secondary-dark;
    margin-top: 55px;

    &:hover,
    &.usa-button-hover {
      color: $color-white;
      background-color: $color-secondary-dark;
      box-shadow: inset 0 0 0 2px $color-secondary-dark;
    }
  }

  .bid-error-button {
    background-color: $color-gray-lightest;
    box-shadow: inset 0 0 0 2px $color-secondary-dark;
    color: $color-secondary-dark;
    margin-top: 55px;

    &:hover,
    &.usa-button-hover {
      color: $color-white;
      background-color: $color-secondary-dark;
      box-shadow: inset 0 0 0 2px $color-secondary-dark;
    }
  }
}

.auction-info {
  background-color: $color-gray-lightest;
  font-size: 2rem;
  padding: $site-margins;

  p {
    margin: 0;
    padding-bottom: 1rem;
  }

  i {
    margin-right: 5px;
  }

  a {
    word-wrap: break-word;
  }
}

.auction-label-info {
  font-size: $h4-font-size;
  padding-bottom: $site-margins;
}

.auction-detail-bid {
  padding-bottom: $base-padding;
}
