textarea#auction_summary {
  height: 150px;
}

textarea#auction_description {
  height: 500px;
}

.auction-form {
  margin: $base-padding;
  padding: $base-padding-large;
  background-color: $color-gray-lightest;
  @include shift(2);

  form,
  input,
  textarea,
  select {
    max-width: none;
  }
}
