.auction-show {
  .usa-alert {
    background-image: none;
  }

  .usa-alert-body {
    padding: 0;
  }
}

.hide {
  display: none;
}

.auction-title {
  h1 {
    width: 90%; // to make room for admin edit button
    display: inline;
    float: left;
    font-family: 'Merriweather';
    margin-bottom: 0;
    margin-top: 3rem;
  }

  .auction-subtitles {
    clear: both;
  }

  .auction-subtitle {
    float: left;
    font-size: $base-font-size;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.admin-edit {
  display: inline-block;
  margin-top: 3rem;

  @include media($medium-screen) {
    margin-top: 4rem;
    float: right;
  }
}

.auction-body {
  table {
    margin: 0;
  }
}
