.usa-footer-primary-section,
.usa-footer-secondary_section {
  background: $background-color;
}

.usa-footer-primary-section {
  .usa-footer-primary-link,
  .usa-footer-contact_info,
  a {
    color: $color-white;
    font-weight: $font-normal;
    font-size: $base-font-size;
  }
}

.usa-footer-secondary_section {
  color: $color-white;
  font-size: $lead-font-size;
  padding-top: 0;
}

.usa-footer-slim-logo-heading {
  padding-left: 0;
  font-weight: $font-light;
}

.logo-img {
  width: $logo-18f;
  margin-right: .5em;
}
