.usa-site-navbar {
  background: $primary-darkest;
  padding-bottom: 10px;
  padding-top: 10px;
}

.usa-site-navbar a {
  color: $color-white;
  font-weight: $font-normal;
  margin-left: 14px;
  padding-left: $site-margins;
  padding-right: $site-margins;
  position: relative;
  vertical-align: top;

  &.header-home-link {
    display: table-cell;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.header-account {
  color: $color-white;
  padding: 0;
  text-align: right;
}

.header-account span {
  position: relative;
  right: 10px;
  top: -8px;
}

.header-account a.usa-button {
  font-size: 20px;
  margin: 0;
  position: relative;
}

.header-image,
.header-title-text,
.header-account {
  color: $color-white;
  display: table-cell;
  vertical-align: middle;
}

.header-title-text {
  font-size: 2rem;
  font-weight: $font-light;
  letter-spacing: -.5px;

  @include media($small-screen) {
    font-size: 3rem;
  }
}

.header-image,
.header-image img {
  margin-right: $base-padding-lite;
  max-width: none;
  width: $logo-18f;
}

.header-image img {
  float: left;
}

.header-table {
  display: table;
  width: 100%;
}

.header-row {
  display: table-row;
  width: 100%;
}
