.header {
  background: $primary-darkest;
}

.header-wrap {
  padding-top: 1.875rem;
}

.header-title {
  float: left;
  padding-bottom: 1rem;
}

.header-side {
  padding-top: 1rem;
  color: $color-white;

  a {
    color: $color-white;
  }

  @include media($medium-screen) {
    ul {
      float: right;
      margin: 0;
    }

    li {
      float: right;
      padding-left: 1em;
      margin: 0;
    }
  }
}

.sign-in a {
  color: $color-primary-alt;
}


.logo {
  display: inline-block;
  color: $color-white;
  font-weight: $font-light;

  .title {
    font-size: $lead-font-size;
  }

  .subtitle,
  .title,
  .logo-img {
    float: left;
    margin: 0;
    margin-right: .5em;
  }

  .logo-img {
    width: $logo-18f;
  }

  .subtitle {
    font-size: $base-font-size;
    font-style: italic;
  }
}
