.header-account .nav-menu .nav-item > a {
  border: none;
  font-size: $small-font-size;
  font-weight: $font-normal;
  margin: 0;
  padding: 0;
  padding-top: rem(5px);

  @include media($medium-screen) {
    font-size: $h5-font-size;
  }
}

.header-account .nav-menu .nav-item > a[aria-expanded=true] {
  border: 0;
  color: $default-color;
  font-weight: $font-normal;
  text-decoration: none;
  z-index: 9000;
}

.header-account .nav-item:after {
  display: none;
}

.header-account .fa-caret-down {
  font-size: 1.5rem;
  padding-left: $base-padding-lite;
  vertical-align: bottom;

  @include media($medium-screen) {
    vertical-align: middle;
  }
}

.header-account .nav-menu .sub-nav[aria-expanded=true] {
  border: transparent;
  border-bottom: 4px solid $branding-bright;
  border-top: 4px solid $branding-bright;
  display: block;
  // left: 0px;
  width: 205px; // default
  margin: 0;
  right: -7px;
  padding: 0;
  top: 0;
  z-index: 8000;
}

.header-account .nav-menu .sub-nav[aria-expanded=false],
.header-account .nav-menu .sub-nav {
  display: none;
}

.header-account .nav-menu .sub-nav-group {
  margin: 0;
  margin-top: 30px;
}

.header-account .nav-menu .sub-nav a {
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-size: 1rem;
  font-weight: $font-bold;
  color: $default-color;
  color: $primary-darkest;
  top: 0;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: $primary-darkest;
    background: $branding-bright;
    color: $color-white;
    color: $primary-darkest;
  }
}

.header-account .sub-nav-group li:after {
  display: none;
}
