.profile-form {
  @include span-columns(8);
  @include shift(2);
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  h1 {
    margin-top: 1em;
  }

  h3 {
    font-weight: $font-bold;
  }

  form {
    max-width: none;
  }

  .verification-status-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }

  .verified-verification-status-text {
    color: $color-green;
    font-weight: 600;
    font-style: normal;
  }

  .error-verification-status-text {
    color: $color-secondary-darkest;
  }

  .pending-verification-status-text {
    font-style: italic;
    color: $color-gray-medium;
  }

  .error-verification-status-icon,
  .pending-verification-status-icon,
  .verified-verification-status-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  }

  .verified-verification-status-icon {
    background: image-url('checkmark.png') left center no-repeat;
  }

  .pending-verification-status-icon {
    background: image-url('loading.gif') left center no-repeat;
  }

  .error-verification-status-icon {
    background: image-url('notification.png') left center no-repeat;
  }

  .pending-verification-status-icon,
  .error-verification-status-icon,
  .verified-verification-status-icon {
    background-size: 16px;
  }
}
