$ribbon-expiring-bg: #D7B029;
$ribbon-expiring-color: $default-color;
$ribbon-over-bg: #CD2026;
$ribbon-over-color: $color-white;
$ribbon-future-bg: #2D3F5B;
$ribbon-future-color: $color-white;
$ribbon-open-bg: #83BF9A;
$ribbon-open-color: $color-white;

$ribbon-bg: $branding-bright;
$ribbon-hl: $branding-bright;
$ribbon-w: 80px;
$ribbon-tail: 10px;
$ribbon-hang: .25em;


.issue-ribbon {
  padding:0 0 $ribbon-tail 0;
  position: absolute;
  right: $ribbon-hang;
  top: -$ribbon-hang;
  width: $ribbon-w;

  [class*="auction-label-"] {
    color:#fff;
    float: right;
    margin: 0;
    padding: $base-padding-lite;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    width: $ribbon-w;
  }

  [class*="auction-label-"]:after {
    border-left: $ribbon-w/2 solid $ribbon-bg;
    border-right: $ribbon-w/2 solid $ribbon-bg;
    border-bottom: $ribbon-tail solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
  }

  .auction-label-expiring {
    background-color: $ribbon-expiring-bg;
    color: $ribbon-expiring-color;
  }

  .auction-label-expiring:after {
    border-left: $ribbon-w/2 solid $ribbon-expiring-bg;
    border-right: $ribbon-w/2 solid $ribbon-expiring-bg;
  }

  .auction-label-over {
    background-color: $ribbon-over-bg;
    color: $ribbon-over-color;
  }

  .auction-label-over:after {
    border-left: $ribbon-w/2 solid $ribbon-over-bg;
    border-right: $ribbon-w/2 solid $ribbon-over-bg;
  }

  .auction-label-future {
    background-color: $ribbon-future-bg;
    color: $ribbon-future-color;
  }

  .auction-label-future:after {
    border-left: $ribbon-w/2 solid $ribbon-future-bg;
    border-right: $ribbon-w/2 solid $ribbon-future-bg;
  }

  .auction-label-open {
    background-color: $ribbon-open-bg;
    color: $ribbon-open-color;
  }

  .auction-label-open:after {
    border-left: $ribbon-w/2 solid $ribbon-open-bg;
    border-right: $ribbon-w/2 solid $ribbon-open-bg;
  }
}

.auction-label,
.auction-label-info {
  display: inline-block;
}

.auction-label {
  font-size: $h3-font-size;
  font-weight: $font-normal;
}

.auction-label-info {
  font-size: $h4-font-size;
  padding-bottom: $site-margins;
}
