.sign-up {
  .usa-button {
    margin-top: 2em;
  }
}

.sign-up-wrapper {
  @include span-columns(8);
  @include shift(2);
  border: 1px solid $color-gray-neutral;
  margin-top: .5em;
  padding: 2em;

  h1 {
    margin: 0;
  }

  h3 {
    text-align: center;
  }

  .sign-up-list {
    @include span-columns(6);
    @include shift(3);
  }

  .usa-button {
    @include span-columns(4);
    @include shift(4);
 }
}
