.user-header-wrapper {
  background: $color-gray-lightest;
  border-bottom: 1px solid $color-gray-light;
}

.user-header-title {
  h1 {
    width: 90%; // to make room for admin edit button
    display: inline;
    float: left;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 3rem;
    letter-spacing: -2px;
    line-height: 48px;
    font-weight: 300;
  }
}

.user-subnav {
  clear: both;
  display: block;

  .active {
    background: $color-white;
    border: 1px solid $color-gray-light;
    border-bottom: none;
    text-decoration: none;
  }

  a {
    margin-top: 1rem;
    margin-bottom: -1px;
    border-bottom: 1px solid $color-gray-light;
    padding: 1rem;
    background: $color-gray-lightest;
    display: inline-block;
    line-height: $base-line-height;
    vertical-align: middle;
  }

  a:focus {
    box-shadow: none;
  }
}

.user-body-wrapper {
  margin-top: 1em;
}
