---
excerpt: none
permalink: settings/skills/
---

{% include head.html %}
<body class="no-js layout-skills-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      {% include settings-index-header.html %}
      <a href="{{site.baseurl}}/people/skills/new" class="button">Add new</a>
        <article>
          <h1>CSS</h1>
          <a href="#">Edit</a>
        </article>
        <article>
          <h1>HTML</h1>
          <a href="#">Edit</a>
        </article>
        <article>
          <h1>Javascript</h1>
          <a href="#">Edit</a>
        </article>
      </section> 
    </div>
  </main>
  {% include site-footer.html %}
</body>
