/* not sure what's up, but the usa-button-green seems to have blue hover ??
 * so a little loving help below:
 * */

.usa-font-lead p {
    font-size: $base-font-size;

  @include media($small-screen) {
    font-size: $lead-font-size;
  }
}

.usa-button.usa-button-green,
.usa-button-big.usa-button-green {
  background-color: $color-green;

  &:hover {
    background-color: darken($color-green, 10);
  }

  &:active {
    background-color: darken($color-green, 20);
  }
}

.usa-footer-secondary-section {
  background: $primary-darkest;
}

.usa-label-big {
  background-color: #00a6d2;
  padding-bottom: 0.45rem;
  padding-top: 0.45rem;
  vertical-align: middle;
}

.usa-footer-secondary_section {
    background-color: $primary-darkest;
}


.usa-footer-secondary_section a {
  color: $color-white;
  line-height: 1.8;

  &:visited {
    color: $color-white;
  }
}

.usa-footer-secondary_section h2 {
    margin-bottom: 0px;
    color: white;
}

.usa-button-primary-alt {
  color: white;
}

.usa-disclaimer-official {
  font-size: 1.2rem;

  @include media($small-screen) {
    font-size: 1.5rem;
  }
}
