@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: font-path('sourcesanspro-light-webfont.eot');
    src: font-path('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('sourcesanspro-light-webfont.woff2') format('woff2'),
         font-path('sourcesanspro-light-webfont.woff') format('woff'),
         font-path('sourcesanspro-light-webfont.ttf') format('truetype'),
         font-path('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: font-path('sourcesanspro-regular-webfont.eot');
    src: font-path('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('sourcesanspro-regular-webfont.woff2') format('woff2'),
         font-path('sourcesanspro-regular-webfont.woff') format('woff'),
         font-path('sourcesanspro-regular-webfont.ttf') format('truetype'),
         font-path('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: font-path('sourcesanspro-italic-webfont.eot');
    src: font-path('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('sourcesanspro-italic-webfont.woff2') format('woff2'),
         font-path('sourcesanspro-italic-webfont.woff') format('woff'),
         font-path('sourcesanspro-italic-webfont.ttf') format('truetype'),
         font-path('sourcesanspro-italic-webfont.svg#source_sans_proitalic') format('svg');

}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: font-path('sourcesanspro-bold-webfont.eot');
    src: font-path('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('sourcesanspro-bold-webfont.woff2') format('woff2'),
         font-path('sourcesanspro-bold-webfont.woff') format('woff'),
         font-path('sourcesanspro-bold-webfont.ttf') format('truetype'),
         font-path('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: font-path('merriweather-light-webfont.eot');
    src: font-path('merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('merriweather-light-webfont.woff2') format('woff2'),
         font-path('merriweather-light-webfont.woff') format('woff'),
         font-path('merriweather-light-webfont.ttf') format('truetype'),
         font-path('merriweather-light-webfont.svg#source_sans_proregular') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: font-path('merriweather-regular-webfont.eot');
    src: font-path('merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('merriweather-regular-webfont.woff2') format('woff2'),
         font-path('merriweather-regular-webfont.woff') format('woff'),
         font-path('merriweather-regular-webfont.ttf') format('truetype'),
         font-path('merriweather-regular-webfont.svg#source_sans_proitalic') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: font-path('merriweather-italic-webfont.eot');
    src: font-path('merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('merriweather-italic-webfont.woff2') format('woff2'),
         font-path('merriweather-italic-webfont.woff') format('woff'),
         font-path('merriweather-italic-webfont.ttf') format('truetype'),
         font-path('merriweather-italic-webfont.svg#source_sans_proitalic') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: font-path('merriweather-bold-webfont.eot');
    src: font-path('merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-path('merriweather-bold-webfont.woff2') format('woff2'),
         font-path('merriweather-bold-webfont.woff') format('woff'),
         font-path('merriweather-bold-webfont.ttf') format('truetype'),
         font-path('merriweather-bold-webfont.svg#source_sans_probold') format('svg');

}
