@import 'vendor/us-web-design-standards/all';
@import 'mixins';
@import 'variables';
@import 'uswds-grid';
@import 'elements';
@import 'vendor/accessible-mega-menu';
@import 'components/nav-dropdown';
@import 'components/accordion';
@import 'blocks/header';
@import 'blocks/footer';

.usa-font-lead p {
    font-size: 1.882352941rem;
}

input[disabled] {
  color: lighten($color-gray-dark, 50%);
  border-color: lighten($color-gray-dark, 50%);
}

textarea#auction_summary {
  width: 500px;
  height: 150px;
}

textarea#auction_description {
  width: 500px;
  height: 500px;
}

@import 'uswds-overrides';
@import 'alerts';
@import 'auction';

.bid-form {
  max-width: none;

  .cancel, .submit {
      display: inline-block;
  }

  .cancel {
    margin-right: 2rem;
  }

  .button-wrapper {
    margin: 0 auto;
    width: 600px;
  }
}


body.admin {
  nav.usa-site-navbar {
    background: $color-primary-alt-darkest;
  }

  .current-bid-headline {
    margin: 0;
  }

  .auction-name h3 {
    margin: 0;
  }
}


#logo {
  line-height: 0;

  @media all and (max-width: 345px) {
    line-height: normal;
  }
}


footer {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.issue-icon {
  width: 25px;
  max-width: none;
}

.bid-button {
  padding: 5px 8px;
  white-space: nowrap;
  background-color: #2e8540;
}

.table-container {
  width: 100%;
  overflow: scroll;
}

.table-open-issue-list {
  min-width: 600px;
}

.table-open-issue-list h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.table-open-issue-list p {
  margin: 0;
}

.table-bids {
  min-width: 150px;
}

.make-bid-table {
  margin-bottom: 20px;
}

.make-bid-grid {
  text-align: center;
  margin-bottom: 80px;
}

.make-bid-grid p {
  margin: 0;
  line-height: 1.129411765rem;
}

.current-bid-amount {
  margin-top: 0;
  font-size: 40px;
  color: #2e8540;
}

#your-bid-amount {
  max-width: 250px;
  margin: auto;
}

.header-account {
  float: right;
  position: relative;
  top: 15px;
  color: #fff;

  @media all and (max-width: 450px) {
    float: none;
    margin-top: .4em;
    margin-bottom: .4em;
  }
}

.header-account span {
  position: relative;
  top: -8px;
  right: 10px;
}

.header-account a.usa-button {
  margin: 0;
  position: relative;
  top: -10px;
  font-size: 20px;
}

@import 'typography';


.intro {
  background: #222;
  padding: 40px 40px;
}


@import 'links';
