<a href=<%= href %> class="hero-metric">
<h1 class="hero-metric-number">
  <%= statistic %>
</h1>
<p class="hero-metric-description"><%= label %></p>
<p class="hero-metric-description"><%= label_statistic %></p>
</a>
