<h1>
  <div class='usa-width-three-fourths'>
    <%= link_to('Auctions', admin_auctions_path)%>
  </div>
  <div class='usa-width-three-fourths'>
    <%= link_to('Users', admin_users_path)%>
  </div>
  <div class='usa-width-three-fourths'>
    <%= link_to('Action Items', '/admin/action_items')%>
  </div>
  <div class='usa-width-three-fourths'>
    <%= link_to('Draft Auctions', '/admin/drafts')%>
  </div>
</h1>
