<h2><%= @view_model.name %></h2>
<table class="striped-table">
  <tbody>
    <% @view_model.data.each do |row| %>
      <%= render partial: 'attribute_row',
        locals: { label: row[:label], data: row[:data] } %>
    <% end %>
  </tbody>
</table>

<%= render partial: @view_model.bids_partial,
  locals: { view_model: @view_model } %>
