<% if flash.any? %>
    <% flash.to_hash.slice("alert", "error", "notice", "success", "warning").each do |key, value| -%>
      <div class="flashes">
        <div class="usa-alert usa-alert-<%= key %>">
          <div class="usa-alert-body">
            <p class="usa-alert-text"><%= raw value %></p>
          </div>
        </div>
      </div>
    <% end -%>
<% end %>
